basic_examples/speech_to_text_custom/STT_Flow.json
[{"id":"98585d2.6e509a","type":"inject","z":"be4e35e7.b4d9d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104,"y":133,"wires":[["8fc889e6.aee8d8"]]},{"id":"87da321.41e4b5","type":"inject","z":"be4e35e7.b4d9d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":179,"wires":[["87450da.e4426f"]]},{"id":"26d94941.8e60b6","type":"inject","z":"be4e35e7.b4d9d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":223,"wires":[["65ad92e6.59e834"]]},{"id":"8fc889e6.aee8d8","type":"watson-speech-to-text-v1-query-builder","z":"be4e35e7.b4d9d","name":"Create Customization","password":"","stt-custom-mode":"createCustomisation","stt-custom-model-name":"IBM Cloud04","stt-base-model":"en-US_BroadbandModel","base-model-hidden":"en-US_BroadbandModel","stt-custom-model-description":"IBM Cloud Test 4","stt-custom-id":"","stt-corpus-name":"","stt-allow-overwrite":false,"x":315,"y":133,"wires":[["d2c15f69.1d4e58"]]},{"id":"87450da.e4426f","type":"watson-speech-to-text-v1-query-builder","z":"be4e35e7.b4d9d","name":"List Customizations","password":"","stt-custom-mode":"listCustomisations","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":"","stt-corpus-name":"","stt-allow-overwrite":false,"x":303,"y":179,"wires":[["d2c15f69.1d4e58"]]},{"id":"65ad92e6.59e834","type":"watson-speech-to-text-v1-query-builder","z":"be4e35e7.b4d9d","name":"Get Customization","password":"","stt-custom-mode":"getCustomisation","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":" ","stt-corpus-name":"","stt-allow-overwrite":false,"x":302,"y":223,"wires":[["d2c15f69.1d4e58"]]},{"id":"d2c15f69.1d4e58","type":"debug","z":"be4e35e7.b4d9d","name":"","active":true,"console":"false","complete":"true","x":670,"y":271,"wires":[]},{"id":"ab7d54f3.a32538","type":"fileinject","z":"be4e35e7.b4d9d","name":"","x":103,"y":267,"wires":[["d84515bc.06312"]]},{"id":"2dedec01.a13f1c","type":"inject","z":"be4e35e7.b4d9d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104,"y":311,"wires":[["1d3aa0c3.d5273f"]]},{"id":"8bd2ea0.5d7c918","type":"inject","z":"be4e35e7.b4d9d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102,"y":353,"wires":[["a5c2a759.3ac19"]]},{"id":"d84515bc.06312","type":"watson-speech-to-text-v1-query-builder","z":"be4e35e7.b4d9d","name":"Add Corpus","password":"","stt-custom-mode":"addCorpus","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":" ","stt-corpus-name":"Test4","stt-allow-overwrite":true,"x":284,"y":266,"wires":[["d2c15f69.1d4e58"]]},{"id":"1d3aa0c3.d5273f","type":"watson-speech-to-text-v1-query-builder","z":"be4e35e7.b4d9d","name":"Get Corpora","password":"","stt-custom-mode":"getCorpora","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":" ","stt-corpus-name":"","stt-allow-overwrite":false,"x":283,"y":310,"wires":[["d2c15f69.1d4e58"]]},{"id":"a5c2a759.3ac19","type":"watson-speech-to-text-v1-query-builder","z":"be4e35e7.b4d9d","name":"Train","password":"","stt-custom-mode":"train","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":" ","stt-corpus-name":"","stt-allow-overwrite":false,"x":265,"y":353,"wires":[["d2c15f69.1d4e58"]]},{"id":"c7546818.6921c8","type":"fileinject","z":"be4e35e7.b4d9d","name":"","x":104,"y":397,"wires":[["22645bab.e422b4"]]},{"id":"22645bab.e422b4","type":"watson-speech-to-text-v1-query-builder","z":"be4e35e7.b4d9d","name":"Add Words","password":"","stt-custom-mode":"addWords","stt-custom-model-name":"","stt-base-model":"fr-FR_BroadbandModel","base-model-hidden":"","stt-custom-model-description":"","stt-custom-id":" ","stt-corpus-name":"","stt-allow-overwrite":false,"x":284,"y":396,"wires":[["d2c15f69.1d4e58"]]},{"id":"9965dc08.59047","type":"microphone","z":"be4e35e7.b4d9d","name":"","x":110,"y":580,"wires":[["b022326c.0fa6a"]]},{"id":"54b88cf8.5ac4fc","type":"watson-speech-to-text","z":"be4e35e7.b4d9d","name":"Non-Customized","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","x":296,"y":496,"wires":[["e11dd340.3b38d","7da903f2.41655c"]]},{"id":"b022326c.0fa6a","type":"watson-speech-to-text","z":"be4e35e7.b4d9d","name":"Customized","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustom":" ","langcustomhidden":" ","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","x":282,"y":579,"wires":[["e11dd340.3b38d","7da903f2.41655c"]]},{"id":"e11dd340.3b38d","type":"debug","z":"be4e35e7.b4d9d","name":"","active":true,"console":"false","complete":"transcription","x":537,"y":494,"wires":[]},{"id":"7da903f2.41655c","type":"debug","z":"be4e35e7.b4d9d","name":"","active":true,"console":"false","complete":"fullresult","x":516,"y":578,"wires":[]},{"id":"a18e2b78.a43108","type":"microphone","z":"be4e35e7.b4d9d","name":"","x":109,"y":496,"wires":[["54b88cf8.5ac4fc"]]}]