basic_examples/visual_recognition/sample_flow_v3.json
[{"id":"513126d5.03ec38","type":"comment","z":"799cf6e6.8fa178","name":"Link to the Lab instructions (to come)","info":"See corresponding Lab instructions in the link below :\n\n[Watson Visual Recognition](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/visual_recognition_v3)\n","x":155,"y":20,"wires":[]},{"id":"f9c714ea.89bc48","type":"comment","z":"799cf6e6.8fa178","name":"Configure VR v3 nodes with the API Key !","info":"No Binding with Bluemix app is currently available for Watson Visual Recognition v3 service.\nThe API Key is available in the Bluemix Console in the Credentials section of the service detail.","x":710.5000076293945,"y":20,"wires":[]},{"id":"5451f22b.aa8a0c","type":"comment","z":"799cf6e6.8fa178","name":"TRAINING your own classifiers","info":"build new Specific Classifier to be used","x":145,"y":394.2500057220459,"wires":[]},{"id":"1c66e82b.b19c68","type":"inject","z":"799cf6e6.8fa178","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":80.5,"y":58.500000953674316,"wires":[["c46ad0da.71d37"]]},{"id":"c46ad0da.71d37","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image","apikey":"","image-feature":"classifyImage","x":474.5,"y":57.500000953674316,"wires":[["c0248806.40ee68"]]},{"id":"f3b80af2.3fdbc8","type":"inject","z":"799cf6e6.8fa178","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/5.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":83,"y":174.50000095367432,"wires":[["2514619d.78f81e"]]},{"id":"2514619d.78f81e","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Recognize Text","apikey":"","image-feature":"recognizeText","x":459,"y":172.50000095367432,"wires":[["c0248806.40ee68"]]},{"id":"50725b22.89ec04","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Detect Faces","apikey":"","image-feature":"detectFaces","x":466.5,"y":247.50000095367432,"wires":[["c0248806.40ee68"]]},{"id":"bc936213.b0fdf","type":"inject","z":"799cf6e6.8fa178","name":"URL","topic":"","payload":"http://visual-recognition-demo.mybluemix.net/images/samples/1.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":83,"y":247.50000095367432,"wires":[["50725b22.89ec04"]]},{"id":"c0248806.40ee68","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"true","complete":"result","x":784.5,"y":103.50000095367432,"wires":[]},{"id":"8d77ed89.80bd7","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.5,"y":97.50000095367432,"wires":[["ac7ff027.27d5c"]]},{"id":"ac7ff027.27d5c","type":"http request","z":"799cf6e6.8fa178","name":"","method":"GET","ret":"bin","url":"https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg","x":264.5,"y":98.50000095367432,"wires":[["c46ad0da.71d37"]]},{"id":"26030340.a5637c","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"lego-2.jpg","name":"lego-2.jpg","x":266.5,"y":137.50000095367432,"wires":[["c46ad0da.71d37"]]},{"id":"95754013.9bc16","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.5,"y":137.50000095367432,"wires":[["26030340.a5637c"]]},{"id":"5c1ca248.1b090c","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"create a classifier","apikey":"","image-feature":"createClassifier","x":549,"y":524.2500057220459,"wires":[["2f1adffb.44843"]]},{"id":"8b8fb125.c9909","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"retrieve classifiers list","apikey":"","image-feature":"retrieveClassifiersList","x":545,"y":572.2500057220459,"wires":[["3f20fd03.fcb6a2"]]},{"id":"56671b6f.6a96a4","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"retrieve classifier details","apikey":"","image-feature":"retrieveClassifierDetails","x":549,"y":621.2500057220459,"wires":[["307aff9d.0e85f"]]},{"id":"e724745c.637cb8","type":"visual-recognition-util-v3","z":"799cf6e6.8fa178","name":"delete a classifier","apikey":"","image-feature":"deleteClassifier","x":530,"y":673.2500057220459,"wires":[["57d505d7.4d027c"]]},{"id":"c800728e.108a3","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":433.2500057220459,"wires":[["75b7876e.165eb8"]]},{"id":"cc3405eb.efcb68","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":573.2500057220459,"wires":[["8b8fb125.c9909"]]},{"id":"3f20fd03.fcb6a2","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"false","complete":"result","x":773,"y":572.2500057220459,"wires":[]},{"id":"78da7a2b.287674","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":619.2500057220459,"wires":[["aa063e74.e7734"]]},{"id":"c26f1477.a8d258","type":"inject","z":"799cf6e6.8fa178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":666.2500057220459,"wires":[["2959c7bd.bd8788"]]},{"id":"307aff9d.0e85f","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"false","complete":"result","x":777,"y":621.2500057220459,"wires":[]},{"id":"57d505d7.4d027c","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"false","complete":"result","x":776,"y":672.2500057220459,"wires":[]},{"id":"eb0cf0d4.6b05a","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"retrievers_positive.zip","name":"retrievers_positive.zip","x":159.5,"y":482.2500057220459,"wires":[["a5fcbf7e.0570a"]]},{"id":"a8eae456.274988","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"retrievers_negative.zip","name":"retrievers_negative.zip","x":158.5,"y":524.2500057220459,"wires":[["2581a2e5.d9915e"]]},{"id":"a5fcbf7e.0570a","type":"change","z":"799cf6e6.8fa178","name":"set positives","rules":[{"t":"set","p":"params.retrievers_positive_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":358,"y":482.2500057220459,"wires":[["a8eae456.274988"]]},{"id":"2581a2e5.d9915e","type":"change","z":"799cf6e6.8fa178","name":"set negatives","rules":[{"t":"set","p":"params.negative_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":356.5,"y":524.2500057220459,"wires":[["5c1ca248.1b090c"]]},{"id":"75b7876e.165eb8","type":"function","z":"799cf6e6.8fa178","name":"set name","func":"msg.params={'name':'retrievers'};\nreturn msg;","outputs":1,"noerr":0,"x":242,"y":433.2500057220459,"wires":[["eb0cf0d4.6b05a"]]},{"id":"2f1adffb.44843","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"false","complete":"result","x":772,"y":525.2500057220459,"wires":[]},{"id":"c2c94020.ec4e7","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"faces-1.jpg","name":"faces-1.jpg","x":267,"y":283.5000009536743,"wires":[["50725b22.89ec04"]]},{"id":"90caaf6a.4e7d7","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":283.5000009536743,"wires":[["c2c94020.ec4e7"]]},{"id":"dddb9b36.5a29b8","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"text-5.jpg","name":"text-5.jpg","x":256,"y":209.50000095367432,"wires":[["2514619d.78f81e"]]},{"id":"66488c6.caf6274","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":209.50000095367432,"wires":[["dddb9b36.5a29b8"]]},{"id":"aa063e74.e7734","type":"function","z":"799cf6e6.8fa178","name":"set classifier_id","func":"msg.params={'classifier_id':'retrievers_1305424883'};\nreturn msg;","outputs":1,"noerr":0,"x":322.5,"y":621.2500057220459,"wires":[["56671b6f.6a96a4"]]},{"id":"2959c7bd.bd8788","type":"function","z":"799cf6e6.8fa178","name":"set classifier_id","func":"msg.params={'classifier_id':'retrievers_1305424883'};\nreturn msg;","outputs":1,"noerr":0,"x":315.5,"y":672.2500057220459,"wires":[["e724745c.637cb8"]]},{"id":"ddda9257.e2062","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.25,"y":763.2500171661377,"wires":[["dd785bd4.26ea88"]]},{"id":"a1df35e9.0af828","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"4-dog.jpg","name":"4-dog.jpg","x":461.25,"y":766.2500171661377,"wires":[["daf8d19.48f213"]]},{"id":"dd785bd4.26ea88","type":"function","z":"799cf6e6.8fa178","name":"set classifier_ids","func":"msg.params={};\nmsg.params[\"classifier_ids\"]=\"retrievers_400995941\";\nreturn msg;","outputs":1,"noerr":0,"x":288.25,"y":764.2500171661377,"wires":[["a1df35e9.0af828"]]},{"id":"daf8d19.48f213","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image","apikey":"","image-feature":"classifyImage","x":523.25,"y":828.2500171661377,"wires":[["1cbe3d94.93f142"]]},{"id":"1cbe3d94.93f142","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"true","complete":"result","x":761.25,"y":827.2500171661377,"wires":[]},{"id":"e353664d.d4aec8","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110.25,"y":816.2500171661377,"wires":[["64aa1462.44b5ac"]]},{"id":"64aa1462.44b5ac","type":"function","z":"799cf6e6.8fa178","name":"set owners","func":"msg.params={};\nmsg.params[\"owners\"]=\"me,IBM\";\nreturn msg;","outputs":1,"noerr":0,"x":279.25,"y":817.2500171661377,"wires":[["a1df35e9.0af828"]]},{"id":"d8d24b9f.41e968","type":"comment","z":"799cf6e6.8fa178","name":"Advanced Options","info":"build new Specific Classifier to be used","x":105.25,"y":713.2500171661377,"wires":[]},{"id":"c3846574.1609f8","type":"inject","z":"799cf6e6.8fa178","name":"binary buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108.25,"y":868.2500171661377,"wires":[["ff08763d.a76308"]]},{"id":"ff08763d.a76308","type":"function","z":"799cf6e6.8fa178","name":"set threshold","func":"msg.params={};\nmsg.params[\"threshold\"]=\"0.3\";\nreturn msg;","outputs":1,"noerr":0,"x":280.25,"y":870.2500171661377,"wires":[["a1df35e9.0af828"]]},{"id":"e9ffa9cb.fe63a8","type":"inject","z":"799cf6e6.8fa178","name":"caricature test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.75000381469727,"y":331.25001525878906,"wires":[["37e4d0dd.50d34"]]},{"id":"37e4d0dd.50d34","type":"dropbox","z":"799cf6e6.8fa178","dropbox":"","filename":"caricature-devoxx-france-2016.jpg","name":"caricature","x":272.50000381469727,"y":331.25001525878906,"wires":[["d7ee65db.fced08","6c8d1188.75f81"]]},{"id":"d7ee65db.fced08","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Classify an image","apikey":"","image-feature":"classifyImage","x":460.00000381469727,"y":332.50001525878906,"wires":[["b6639f77.28d8"]]},{"id":"6c8d1188.75f81","type":"visual-recognition-v3","z":"799cf6e6.8fa178","name":"Recognize Text","apikey":"","image-feature":"recognizeText","x":451.25000381469727,"y":381.25001525878906,"wires":[["b6639f77.28d8"]]},{"id":"b6639f77.28d8","type":"debug","z":"799cf6e6.8fa178","name":"","active":true,"console":"false","complete":"result","x":693.1250038146973,"y":352.50001525878906,"wires":[]},{"id":"7e82b6b5.4a32e8","type":"comment","z":"799cf6e6.8fa178","name":"Samples Files (click me)","info":"Here is the link where you can download all the sample files used in this sample flow :\n[Watson Visual Recognition v3 Sample Files](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/visual_recognition/sample_files)","x":423.12501525878906,"y":20,"wires":[]}]