basic_examples/natural_language_classifier_beta/nlc_flows.json
[{"id":"b82d2276.47d2e","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":409,"y":468,"z":"7ada38b4.8525c8","wires":[["e211d200.1dee3"]]},{"id":"a565f810.5a9a08","type":"inject","name":"Ask","topic":"","payload":"Is it hot ?","payloadType":"string","repeat":"","crontab":"","once":false,"x":409,"y":526,"z":"7ada38b4.8525c8","wires":[["f6ceadee.09315"]]},{"id":"e211d200.1dee3","type":"function","name":"get NLC status","func":"msg.url=\"https://gateway.watsonplatform.net/natural-language-classifier/api/v1/classifiers/D385B2-nlc-530\";\nreturn msg;","outputs":1,"noerr":0,"x":598,"y":467,"z":"7ada38b4.8525c8","wires":[["9eb5ad14.614a5"]]},{"id":"f6ceadee.09315","type":"function","name":"Ask NLC question","func":"msg.url=\"https://gateway.watsonplatform.net/natural-language-classifier/api/v1/classifiers/D385B2-nlc-530/classify?text=\" + encodeURI(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":585,"y":525,"z":"7ada38b4.8525c8","wires":[["9eb5ad14.614a5"]]},{"id":"9eb5ad14.614a5","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":811,"y":489,"z":"7ada38b4.8525c8","wires":[["f3ac9f51.0c536"]]},{"id":"f3ac9f51.0c536","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1020,"y":491,"z":"7ada38b4.8525c8","wires":[]}]