flows/TTS/TTS-Lab-Basic.json
[{"id":"29ff9d22.e21fba","type":"http in","name":"","url":"/tts/sayit","method":"get","swaggerDoc":"","x":140.1999969482422,"y":97,"z":"c11b0433.19f498","wires":[["5d636614.d07548"]]},{"id":"5d636614.d07548","type":"change","name":"text to payload","rules":[{"t":"set","p":"payload","to":"msg.payload.text_to_say"}],"action":"","property":"","from":"","to":"","reg":false,"x":297.1999969482422,"y":57,"z":"c11b0433.19f498","wires":[["81960dda.423b5"]]},{"id":"81960dda.423b5","type":"watson-text-to-speech","name":"","lang":"english","voice":"en-US_MichaelVoice","x":329.20001220703125,"y":122,"z":"c11b0433.19f498","wires":[["b97534e7.6c6df8"]]},{"id":"b97534e7.6c6df8","type":"change","name":"speech to payload","rules":[{"t":"set","p":"payload","to":"msg.speech"},{"t":"set","p":"headers","to":"[{ 'Content-Type', 'audio/wav'}]"}],"action":"","property":"","from":"","to":"","reg":false,"x":409.20001220703125,"y":184,"z":"c11b0433.19f498","wires":[["19dd6f4.9045491"]]},{"id":"19dd6f4.9045491","type":"http response","name":"","x":481.20001220703125,"y":244,"z":"c11b0433.19f498","wires":[]}]