flows/TTS/TTS-Lab-WebPage.json
[{"id":"302f4c6d.133534","type":"http in","name":"","url":"/talk","method":"get","swaggerDoc":"","x":87.19999694824219,"y":276,"z":"20d58cd3.331634","wires":[["10a9c2c4.a382fd"]]},{"id":"10a9c2c4.a382fd","type":"switch","name":"check text","property":"payload.text_to_say","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":249.1999969482422,"y":275,"z":"20d58cd3.331634","wires":[["7cb686e4.33dac8"],["50a69ae6.baf664"]]},{"id":"50a69ae6.baf664","type":"template","name":"GetTextToSay","field":"payload","format":"html","template":"<h1>Enter text to Say</h1>\n<form action=\"{{req._parsedUrl.pathname}}\" method=\"get\">\n    <input type=\"text\" name=\"text_to_say\" id=\"\" value=\"{{payload.text_to_say}}\" />\n    <input type=\"submit\" value=\"Say it!\"/>\n</form>","x":508.20001220703125,"y":315,"z":"20d58cd3.331634","wires":[["24c6de37.84489a"]]},{"id":"24c6de37.84489a","type":"http response","name":"Reply","x":810.2000122070312,"y":243,"z":"20d58cd3.331634","wires":[]},{"id":"a0f897cf.bc31f","type":"template","name":"Generate Reply","field":"payload","format":"html","template":"<h1>You want to say</h1>\n<p><q>{{payload}}</q></p>\n<p>Hear it:</p>\n<audio controls autoplay>\n  <source src=\"{{req._parsedUrl.pathname}}/sayit?text_to_say={{payload}}\" type=\"audio/wav\">\nYour browser does not support the audio element.\n</audio>\n<p>Thanks!</p>\n<form action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"text\" name=\"text_to_say\" id=\"\" value=\"{{payload}}\" />\n    <input type=\"submit\" value=\"Try Again\" />\n</form>","x":614.2000122070312,"y":235,"z":"20d58cd3.331634","wires":[["24c6de37.84489a"]]},{"id":"6cc9a726.e0c0d","type":"http in","name":"","url":"/talk/sayit","method":"get","swaggerDoc":"","x":92.5,"y":133.99996948242188,"z":"20d58cd3.331634","wires":[["b1c787f7.05b57"]]},{"id":"8044d63b.f789b8","type":"http response","name":"Reply Speech binary","x":857.2000122070312,"y":158.99998474121094,"z":"20d58cd3.331634","wires":[]},{"id":"7cb686e4.33dac8","type":"change","name":"Extract","rules":[{"t":"set","p":"filename","to":"msg.payload.text_to_file"},{"t":"set","p":"payload","to":"msg.payload.text_to_say"}],"action":"","property":"","from":"","to":"","reg":false,"x":423.20001220703125,"y":235,"z":"20d58cd3.331634","wires":[["a0f897cf.bc31f"]]},{"id":"be8484c4.df1688","type":"watson-text-to-speech","name":"","lang":"english","voice":"en-US_AllisonVoice","x":587.2000122070312,"y":38.99998474121094,"z":"20d58cd3.331634","wires":[["d9d17696.6395d"]]},{"id":"b1c787f7.05b57","type":"switch","name":"Check text","property":"payload.text_to_say","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":270.1999969482422,"y":140.99998474121094,"z":"20d58cd3.331634","wires":[["2a959cf4.ba1a4c"],["a42a6e3.5f1c79"]]},{"id":"2a959cf4.ba1a4c","type":"change","name":"text to payload","rules":[{"t":"set","p":"payload","to":"msg.payload.text_to_say"},{"t":"set","p":"text_to_say","to":"msg.payload"}],"action":"","property":"","from":"","to":"","reg":false,"x":445.20001220703125,"y":94.99998474121094,"z":"20d58cd3.331634","wires":[["be8484c4.df1688"]]},{"id":"a42a6e3.5f1c79","type":"template","name":"Error","field":"payload","format":"handlebars","template":"<h1>\nError:    No f or text_to_say query parameter\n</h1>","x":538.2000122070312,"y":175.99998474121094,"z":"20d58cd3.331634","wires":[["8044d63b.f789b8"]]},{"id":"d9d17696.6395d","type":"change","name":"Speech to payload","rules":[{"t":"set","p":"payload","to":"msg.speech"},{"t":"set","p":"headers","to":"[{ 'Content-Type', 'audio/wav'}, {'Content-Disposition', 'attachment; filename=text_to_say.Wav'}]"}],"action":"","property":"","from":"","to":"","reg":false,"x":693.2000122070312,"y":106.99998474121094,"z":"20d58cd3.331634","wires":[["8044d63b.f789b8"]]}]