basic_examples/language_translation/lang_translate_flow.txt
[  
   {  
      "id":"67cebdd3.4f5754",
      "type":"inject",
      "z":"8164d243.b4fb2",
      "name":"",
      "topic":"",
      "payload":"\"Node-RED & Watson\" is a strong combination",
      "payloadType":"str",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":110,
      "y":340,
      "wires":[  
         [  
            "39c42b8f.94ac54"
         ]
      ]
   },
   {  
      "id":"39c42b8f.94ac54",
      "type":"watson-translate",
      "z":"8164d243.b4fb2",
      "name":"",
      "srclang":"en",
      "destlang":"fr",
      "domain":"conversational",
      "action":"translate",
      "filetype":"forcedglossary",
      "x":400,
      "y":340,
      "wires":[  
         [  
            "6ce7c49a.b3bacc"
         ]
      ]
   },
   {  
      "id":"6ce7c49a.b3bacc",
      "type":"debug",
      "z":"8164d243.b4fb2",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"false",
      "x":670,
      "y":340,
      "wires":[  

      ]
   }
]
