basic_examples/language_translation/lang_delete_flow.json
[  
   {  
      "id":"b802ec26.75227",
      "type":"inject",
      "z":"8164d243.b4fb2",
      "name":"Delete",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":90,
      "y":260,
      "wires":[  
         [  
            "75046aec.1efba4"
         ]
      ]
   },
   {  
      "id":"75046aec.1efba4",
      "type":"watson-translate",
      "z":"8164d243.b4fb2",
      "name":"",
      "srclang":"en",
      "destlang":"fr",
      "domain":"news",
      "basemodel":"",
      "action":"translate",
      "filetype":"forcedglossary",
      "trainid":"",
      "x":400,
      "y":260,
      "wires":[  
         [  
            "4c48d3c7.412dbc"
         ]
      ]
   },
   {  
      "id":"4c48d3c7.412dbc",
      "type":"debug",
      "z":"8164d243.b4fb2",
      "name":"State",
      "active":true,
      "console":"false",
      "complete":"payload",
      "x":870,
      "y":260,
      "wires":[  

      ]
   }
]
