basic_examples/language_translation/lang_train_flow.json
[  
   {  
      "id":"c55fa362.5672a",
      "type":"inject",
      "z":"8164d243.b4fb2",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":160,
      "y":180,
      "wires":[  
         [  
            "d0955cab.4ecc"
         ]
      ]
   },
   {  
      "id":"d0955cab.4ecc",
      "type":"dropbox",
      "z":"8164d243.b4fb2",
      "dropbox":"",
      "filename":"glossary.tmx",
      "name":"Glossary",
      "x":320,
      "y":220,
      "wires":[  
         [  
            "b68b9f5d.e95fb"
         ]
      ]
   },
   {  
      "id":"b68b9f5d.e95fb",
      "type":"watson-translate",
      "z":"8164d243.b4fb2",
      "name":"",
      "srclang":"ar",
      "destlang":"en",
      "domain":"news",
      "action":"train",
      "filetype":"forcedglossary",
      "x":520,
      "y":180,
      "wires":[  
         [  
            "1decbec6.d7c191"
         ]
      ]
   },
   {  
      "id":"1decbec6.d7c191",
      "type":"debug",
      "z":"8164d243.b4fb2",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"false",
      "x":730,
      "y":220,
      "wires":[  

      ]
   }
]
