basic_examples/language_translation/lang_train_flow.json
[  
   {  
      "id":"5adaa851.64d158",
      "type":"inject",
      "z":"8164d243.b4fb2",
      "name":"Train",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":90,
      "y":140,
      "wires":[  
         [  
            "dd863ea7.e3b45"
         ]
      ]
   },
   {  
      "id":"dd863ea7.e3b45",
      "type":"dropbox",
      "z":"8164d243.b4fb2",
      "filename":"",
      "name":"",
      "x":360,
      "y":140,
      "wires":[  
         [  
            "369dc0cf.c4ce4"
         ]
      ]
   },
   {  
      "id":"8d705b31.aa6728",
      "type":"debug",
      "z":"8164d243.b4fb2",
      "name":"Translated text",
      "active":true,
      "console":"false",
      "complete":"payload",
      "x":900,
      "y":140,
      "wires":[  

      ]
   },
   {  
      "id":"369dc0cf.c4ce4",
      "type":"watson-translate",
      "z":"8164d243.b4fb2",
      "name":"",
      "srclang":"en",
      "destlang":"fr",
      "domain":"news",
      "basemodel":"",
      "action":"translate",
      "filetype":"forcedglossary",
      "trainid":"",
      "x":660,
      "y":140,
      "wires":[  
         [  
            "8d705b31.aa6728"
         ]
      ]
   }
]
