basic_examples/language_translation/lang_complete_flow.json
[  
   {  
      "id":"67cebdd3.4f5754",
      "type":"inject",
      "z":"8164d243.b4fb2",
      "name":"getStatus",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":120,
      "y":320,
      "wires":[  
         [  
            "39c42b8f.94ac54"
         ]
      ]
   },
   {  
      "id":"39c42b8f.94ac54",
      "type":"watson-translate",
      "z":"8164d243.b4fb2",
      "name":"",
      "srclang":"en",
      "destlang":"fr",
      "domain":"news",
      "basemodel":"ar-en",
      "action":"getstatus",
      "filetype":"forcedglossary",
      "trainid":"",
      "x":400,
      "y":320,
      "wires":[  
         [  
            "6ce7c49a.b3bacc"
         ]
      ]
   },
   {  
      "id":"6ce7c49a.b3bacc",
      "type":"debug",
      "z":"8164d243.b4fb2",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"payload",
      "x":690,
      "y":320,
      "wires":[  

      ]
   },
   {  
      "id":"c55fa362.5672a",
      "type":"inject",
      "z":"8164d243.b4fb2",
      "name":"Train",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":110,
      "y":240,
      "wires":[  
         [  
            "d0955cab.4ecc"
         ]
      ]
   },
   {  
      "id":"d0955cab.4ecc",
      "type":"dropbox",
      "z":"8164d243.b4fb2",
      "dropbox":"",
      "filename":"glossary.tmx",
      "name":"Glossary",
      "x":260,
      "y":240,
      "wires":[  
         [  
            "d3a52f43.0c62c"
         ]
      ]
   },
   {  
      "id":"d3a52f43.0c62c",
      "type":"watson-translate",
      "z":"8164d243.b4fb2",
      "name":"",
      "srclang":"ar",
      "destlang":"en",
      "domain":"news",
      "basemodel":"en-fr",
      "action":"train",
      "filetype":"forcedglossary",
      "trainid":"",
      "x":460,
      "y":240,
      "wires":[  
         [  
            "a2cdb11.aaa4a5"
         ]
      ]
   },
   {  
      "id":"a2cdb11.aaa4a5",
      "type":"debug",
      "z":"8164d243.b4fb2",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"payload",
      "x":690,
      "y":240,
      "wires":[  

      ]
   },
   {  
      "id":"329b7421.e7bbfc",
      "type":"inject",
      "z":"8164d243.b4fb2",
      "name":"Delete",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":110,
      "y":400,
      "wires":[  
         [  
            "b1dce3f4.21529"
         ]
      ]
   },
   {  
      "id":"b1dce3f4.21529",
      "type":"watson-translate",
      "z":"8164d243.b4fb2",
      "name":"",
      "srclang":"en",
      "destlang":"fr",
      "domain":"news",
      "basemodel":"ar-en",
      "action":"delete",
      "filetype":"forcedglossary",
      "trainid":"",
      "x":400,
      "y":400,
      "wires":[  
         [  
            "88dac2af.cf04"
         ]
      ]
   },
   {  
      "id":"88dac2af.cf04",
      "type":"debug",
      "z":"8164d243.b4fb2",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"true",
      "x":670,
      "y":400,
      "wires":[  

      ]
   },
   {  
      "id":"99859bd.bebfe68",
      "type":"inject",
      "z":"8164d243.b4fb2",
      "name":"Translate",
      "topic":"",
      "payload":"I'm hungry, let's go eat!",
      "payloadType":"str",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":120,
      "y":160,
      "wires":[  
         [  
            "554ec43a.28883c"
         ]
      ]
   },
   {  
      "id":"554ec43a.28883c",
      "type":"watson-translate",
      "z":"8164d243.b4fb2",
      "name":"",
      "srclang":"en",
      "destlang":"es",
      "domain":"conversational",
      "action":"translate",
      "filetype":"forcedglossary",
      "trainid":"",
      "x":400,
      "y":160,
      "wires":[  
         [  
            "e2156ebd.78f1c"
         ]
      ]
   },
   {  
      "id":"e2156ebd.78f1c",
      "type":"debug",
      "z":"8164d243.b4fb2",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"payload",
      "x":690,
      "y":160,
      "wires":[  

      ]
   }
]
