basic_examples/language_translation/LT_flow.txt
[{"id":"b7d18006.d9984","type":"watson-translate","name":"Translate to another Language","srclang":"en","destlang":"fr","domain":"conversational","x":437,"y":547,"z":"6f0da98d.8b486","wires":[["7b949bc6.956bf4"]]},{"id":"f0b18982.2b205","type":"inject","name":"Inject some text","topic":"","payload":"\"Node-Red\" & Watson is a strong combination","payloadType":"string","repeat":"","crontab":"","once":false,"x":199,"y":547,"z":"6f0da98d.8b486","wires":[["b7d18006.d9984"]]},{"id":"7b949bc6.956bf4","type":"debug","name":"translated text","active":false,"console":"false","complete":"payload","x":669,"y":547,"z":"6f0da98d.8b486","wires":[]}]