basic_examples/text_to_speech/TTS-Lab-WithParamCheck.json
[
  {
    "id": "673cae58.df8798",
    "type": "http in",
    "name": "",
    "url": "\/tts\/sayit",
    "method": "get",
    "swaggerDoc": "",
    "x": 172,
    "y": 121,
    "wires": [
      [
        "1b1b7d65.16bd6b"
      ]
    ]
  },
  {
    "id": "256a5db7.f4618a",
    "type": "change",
    "name": "text to payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "to": "msg.payload.text_to_say"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 364,
    "y": 80,
    "wires": [
      [
        "2322f68d.61940a"
      ]
    ]
  },
  {
    "id": "2322f68d.61940a",
    "type": "watson-text-to-speech",
    "name": "",
    "lang": "english",
    "voice": "en-US_MichaelVoice",
    "x": 436,
    "y": 122,
    "wires": [
      [
        "4a9a7fa8.0c054"
      ]
    ]
  },
  {
    "id": "4a9a7fa8.0c054",
    "type": "change",
    "name": "speech to payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "to": "msg.speech"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 532,
    "y": 174,
    "wires": [
      [
        "5035e281.ef552c"
      ]
    ]
  },
  {
    "id": "9124c3d9.03eca8",
    "type": "http response",
    "name": "",
    "x": 803,
    "y": 259,
    "wires": [
      
    ]
  },
  {
    "id": "1b1b7d65.16bd6b",
    "type": "switch",
    "name": "Check text",
    "property": "payload.text_to_say",
    "rules": [
      {
        "t": "nnull"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "outputs": 2,
    "x": 251,
    "y": 232,
    "wires": [
      [
        "256a5db7.f4618a"
      ],
      [
        "ab0b2879.136648"
      ]
    ]
  },
  {
    "id": "ab0b2879.136648",
    "type": "template",
    "name": "Error",
    "field": "payload",
    "format": "html",
    "template": "<h1>Missing text_to_say query param!<\/h1>",
    "x": 451,
    "y": 297,
    "wires": [
      [
        "9124c3d9.03eca8"
      ]
    ]
  },
  {
    "id": "5035e281.ef552c",
    "type": "function",
    "name": "Set headers",
    "func": "\/\/ Set the content type to audio wave\nmsg.headers={ 'Content-Type': 'audio\/wav'};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 658,
    "y": 225,
    "wires": [
      [
        "9124c3d9.03eca8"
      ]
    ]
  }
]