basic_examples/text_to_speech/tts_lab_with_param_check.json
[{"id":"49bdb3bd.4822ec","type":"http in","z":"7e405b7a.f61e14","name":"","url":"/talk/sayit","method":"get","swaggerDoc":"","x":91,"y":197,"wires":[["8435fb7b.2db718"]]},{"id":"8a9ea572.1b4ac8","type":"change","z":"7e405b7a.f61e14","name":"text to payload","rules":[{"t":"set","p":"payload","to":"msg.payload.text_to_say"}],"action":"","property":"","from":"","to":"","reg":false,"x":273,"y":156,"wires":[["608dcc7a.c128d4"]]},{"id":"608dcc7a.c128d4","type":"watson-text-to-speech","z":"7e405b7a.f61e14","name":"","lang":"english","voice":"en-US_MichaelVoice","x":345,"y":198,"wires":[["8cdfd636.021b58"]]},{"id":"8cdfd636.021b58","type":"change","z":"7e405b7a.f61e14","name":"speech to payload","rules":[{"t":"set","p":"payload","to":"msg.speech"}],"action":"","property":"","from":"","to":"","reg":false,"x":441,"y":250,"wires":[["4822188a.5c2228"]]},{"id":"dbbce29.8fe872","type":"http response","z":"7e405b7a.f61e14","name":"","x":712,"y":335,"wires":[]},{"id":"8435fb7b.2db718","type":"switch","z":"7e405b7a.f61e14","name":"Check text","property":"payload.text_to_say","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":160,"y":308,"wires":[["8a9ea572.1b4ac8"],["8e9dd53f.9614e8"]]},{"id":"8e9dd53f.9614e8","type":"template","z":"7e405b7a.f61e14","name":"Error","field":"payload","format":"html","template":"<h1>Missing text_to_say query param!</h1>","x":360,"y":373,"wires":[["dbbce29.8fe872"]]},{"id":"4822188a.5c2228","type":"function","z":"7e405b7a.f61e14","name":"Set headers","func":"// Set the content type to audio wave\nmsg.headers={ 'Content-Type': 'audio/wav'};\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":301,"wires":[["dbbce29.8fe872"]]}]
