basic_examples/text_to_speech/tts_lab_basic.json
[
  {
    "id": "8dfaf271.5cebd",
    "type": "function",
    "name": "Set headers",
    "func": "\/\/ Set the content type to audio wave\nmsg.headers={ 'Content-Type': 'audio\/wav'};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 255,
    "wires": [
      [
        "de9c0e59.e22c48"
      ]
    ]
  },
  {
    "id": "505628d0.31fbc",
    "type": "http in",
    "name": "",
    "url": "\/talk\/sayit",
    "method": "get",
    "swaggerDoc": "",
    "x": 80,
    "y": 148,
    "wires": [
      [
        "6e8c8ee3.77a84"
      ]
    ]
  },
  {
    "id": "6e8c8ee3.77a84",
    "type": "change",
    "name": "text to payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "to": "msg.payload.text_to_say"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 235,
    "y": 83,
    "wires": [
      [
        "1a56837e.0a0835"
      ]
    ]
  },
  {
    "id": "1a56837e.0a0835",
    "type": "watson-text-to-speech",
    "name": "",
    "lang": "english",
    "voice": "en-US_MichaelVoice",
    "x": 290,
    "y": 146,
    "wires": [
      [
        "40011faa.e204b8"
      ]
    ]
  },
  {
    "id": "40011faa.e204b8",
    "type": "change",
    "name": "speech to payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "to": "msg.speech"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 200,
    "wires": [
      [
        "8dfaf271.5cebd"
      ]
    ]
  },
  {
    "id": "de9c0e59.e22c48",
    "type": "http response",
    "name": "",
    "x": 545,
    "y": 145,
    "wires": [
      
    ]
  }
]
