advanced_examples/visual_recognition_training/avr_train_image_flow.json
[{"id":"5d81488e.970588","type":"watson-visual-training","z":"aa5e6b64.4e3758","name":"","classifier":"Test","username":"94138357-536d-428a-932b-ad80abb1b383","password":"fnbfMNIziSYi","service":"GNFVisual","x":769,"y":94,"wires":[["616fb7fa.93f2a8"]]},{"id":"3e78d77e.da48d8","type":"box","z":"aa5e6b64.4e3758","box":"","filename":"Training/retrievers_positive.zip","name":"","x":312,"y":94.5,"wires":[["b5106e22.497df8"]]},{"id":"11d84e60.168b7a","type":"box","z":"aa5e6b64.4e3758","box":"","filename":"Training/retrievers_negative.zip","name":"","x":314,"y":39.5,"wires":[["94e8b4ec.9a782"]]},{"id":"94e8b4ec.9a782","type":"change","z":"aa5e6b64.4e3758","name":"","rules":[{"t":"set","p":"negative","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":569,"y":39.5,"wires":[["3e78d77e.da48d8"]]},{"id":"b5106e22.497df8","type":"change","z":"aa5e6b64.4e3758","name":"","rules":[{"t":"set","p":"positive","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":94.5,"wires":[["5d81488e.970588"]]},{"id":"99056a4d.3d4ca8","type":"inject","z":"aa5e6b64.4e3758","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":39,"wires":[["11d84e60.168b7a"]]},{"id":"616fb7fa.93f2a8","type":"debug","z":"aa5e6b64.4e3758","name":"","active":true,"console":"false","complete":"false","x":951,"y":93.5,"wires":[]}]