basic_examples/alchemy_data_news/alchemy-data-news.flow
[{"id":"9564e06f.f8dce8","type":"inject","z":"f8225222.90d608","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":169,"y":289.5,"wires":[["4bf2fdc7.de60dc"]]},{"id":"4bf2fdc7.de60dc","type":"news","z":"f8225222.90d608","name":"","key":"","start":"04/01/2016","end":"04/30/2016","query":"q.enriched.url.title=A[IBM^Watson]","custom":true,"queries":[{"field":"enriched.url.title","op":"cc","value":"Ronaldo"},{"field":"enriched.url.taxonomy.taxonomy_.label","op":"cc","value":"sport"}],"results":["original.url","enriched.url.title"],"max":10,"mode":"json","x":374,"y":289.5,"wires":[["42cd22b5.38bd2c"]]},{"id":"42cd22b5.38bd2c","type":"debug","z":"f8225222.90d608","name":"","active":true,"console":"false","complete":"false","x":584,"y":289,"wires":[]}]