basic_examples/natural_language_classifier/NLC-Complete.json
[
    {
        "id": "6db921f0.50d548",
        "type": "comment",
        "z": "336a2b17.c7be34",
        "name": "Link to the Lab instructions",
        "info": "See corresponding Lab instructions in the link below :\n\n[Watson Natural Language Classifier](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/natural_language_classifier)\n",
        "x": 140,
        "y": 39,
        "wires": []
    },
    {
        "id": "4155ffc5.f149f",
        "type": "inject",
        "z": "336a2b17.c7be34",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 103,
        "y": 179,
        "wires": [
            [
                "81753a91.18db"
            ]
        ]
    },
    {
        "id": "e07c2245.654758",
        "type": "inject",
        "z": "336a2b17.c7be34",
        "name": "Ask",
        "topic": "",
        "payload": "Is it hot ?",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 104,
        "y": 259,
        "wires": [
            [
                "7ebe25a3.d08c6c"
            ]
        ]
    },
    {
        "id": "81753a91.18db",
        "type": "function",
        "z": "336a2b17.c7be34",
        "name": "get NLC status",
        "func": "/* Replace D385B2-nlc-530 in the URL below \nwith your own classifier ID */\nmsg.url=\"https://gateway.watsonplatform.net/natural-language-classifier/api/v1/classifiers/D385B2-nlc-530\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 269,
        "y": 179,
        "wires": [
            [
                "cab47e96.1398f"
            ]
        ]
    },
    {
        "id": "7ebe25a3.d08c6c",
        "type": "function",
        "z": "336a2b17.c7be34",
        "name": "Ask NLC question",
        "func": "/* Replace D385B2-nlc-530 in the URL below \nwith your own classifier ID */\nmsg.url=\"https://gateway.watsonplatform.net/natural-language-classifier/api/v1/classifiers/D385B2-nlc-530/classify?text=\" + encodeURI(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 279,
        "y": 259,
        "wires": [
            [
                "cab47e96.1398f"
            ]
        ]
    },
    {
        "id": "cab47e96.1398f",
        "type": "http request",
        "z": "336a2b17.c7be34",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 479,
        "y": 219,
        "wires": [
            [
                "a852574.d07e3a8"
            ]
        ]
    },
    {
        "id": "a852574.d07e3a8",
        "type": "debug",
        "z": "336a2b17.c7be34",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 678,
        "y": 219,
        "wires": []
    },
    {
        "id": "f59b606e.fb849",
        "type": "comment",
        "z": "336a2b17.c7be34",
        "name": "Make sure you bind Natural Language Classifier Service to Node-RED App !",
        "info": "When running in Bluemix, the credentials for the service will be filled-in from Bluemix credentials management.\nFor this to work, the Natural Langage Classifier Service has to be bound to the Node-RED application.\n",
        "x": 594,
        "y": 39,
        "wires": []
    },
    {
        "id": "28ce5138.226876",
        "type": "watson-natural-language-classifier",
        "z": "336a2b17.c7be34",
        "name": "Train",
        "mode": "create",
        "language": "en",
        "classifier": "",
        "x": 458,
        "y": 359,
        "wires": [
            [
                "91b9a725.37fe9"
            ]
        ]
    },
    {
        "id": "6e5a15e3.d777e4",
        "type": "inject",
        "z": "336a2b17.c7be34",
        "name": "",
        "topic": "",
        "payload": "Create",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 104,
        "y": 359,
        "wires": [
            [
                "f344202.cb7816"
            ]
        ]
    },
    {
        "id": "91b9a725.37fe9",
        "type": "debug",
        "z": "336a2b17.c7be34",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 678,
        "y": 359,
        "wires": []
    },
    {
        "id": "f344202.cb7816",
        "type": "dropbox",
        "z": "336a2b17.c7be34",
        "dropbox": "",
        "filename": "weather_data_train.csv",
        "name": "Weather Data",
        "x": 269,
        "y": 359,
        "wires": [
            [
                "28ce5138.226876"
            ]
        ]
    },
    {
        "id": "c605334.956a85",
        "type": "inject",
        "z": "336a2b17.c7be34",
        "name": "",
        "topic": "",
        "payload": "Get List",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 104,
        "y": 419,
        "wires": [
            [
                "fe9e5df3.fc7c2"
            ]
        ]
    },
    {
        "id": "fe9e5df3.fc7c2",
        "type": "watson-natural-language-classifier",
        "z": "336a2b17.c7be34",
        "name": "List",
        "mode": "list",
        "language": "en",
        "classifier": "",
        "x": 458,
        "y": 419,
        "wires": [
            [
                "5983d0d5.4141b8"
            ]
        ]
    },
    {
        "id": "5983d0d5.4141b8",
        "type": "debug",
        "z": "336a2b17.c7be34",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 678,
        "y": 419,
        "wires": []
    },
    {
        "id": "550aad52.200734",
        "type": "watson-natural-language-classifier",
        "z": "336a2b17.c7be34",
        "name": "Classify",
        "mode": "classify",
        "language": "en",
        "classifier": "f1704ex55-nlc-488",
        "x": 468,
        "y": 510,
        "wires": [
            [
                "96901001.07a008"
            ]
        ]
    },
    {
        "id": "b3cfb62a.cfad48",
        "type": "inject",
        "z": "336a2b17.c7be34",
        "name": "",
        "topic": "",
        "payload": "Is it hot?",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 114,
        "y": 479,
        "wires": [
            [
                "550aad52.200734"
            ]
        ]
    },
    {
        "id": "96901001.07a008",
        "type": "debug",
        "z": "336a2b17.c7be34",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 678,
        "y": 510,
        "wires": []
    },
    {
        "id": "bf1e6207.15eb88",
        "type": "inject",
        "z": "336a2b17.c7be34",
        "name": "",
        "topic": "",
        "payload": "f15e67x54-nlc-454",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 145,
        "y": 599,
        "wires": [
            [
                "2671c363.cc09cc"
            ]
        ]
    },
    {
        "id": "2671c363.cc09cc",
        "type": "watson-natural-language-classifier",
        "z": "336a2b17.c7be34",
        "name": "Remove",
        "mode": "remove",
        "language": "en",
        "classifier": "",
        "x": 468,
        "y": 599,
        "wires": [
            [
                "63d19e72.c58d78"
            ]
        ]
    },
    {
        "id": "63d19e72.c58d78",
        "type": "debug",
        "z": "336a2b17.c7be34",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 678,
        "y": 599,
        "wires": []
    },
    {
        "id": "6d17ba76.cb0f7c",
        "type": "inject",
        "z": "336a2b17.c7be34",
        "name": "",
        "topic": "",
        "payload": "Is it humid?",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 124,
        "y": 539,
        "wires": [
            [
                "550aad52.200734"
            ]
        ]
    },
    {
        "id": "af8ca207.d22c5",
        "type": "comment",
        "z": "336a2b17.c7be34",
        "name": "Classifier ID ",
        "info": "Make sure that you have your Classifier ID \nIt is needed for all steps",
        "x": 98,
        "y": 79,
        "wires": []
    },
    {
        "id": "66f0d60f.aa6de",
        "type": "comment",
        "z": "336a2b17.c7be34",
        "name": "Status Checks",
        "info": "Make sure that you have your Classifier ID \n",
        "x": 108,
        "y": 139,
        "wires": []
    },
    {
        "id": "b5c66b8b.da66e8",
        "type": "comment",
        "z": "336a2b17.c7be34",
        "name": "Using Node-RED NLC node",
        "info": "Make sure that you have your Classifier ID \n",
        "x": 148,
        "y": 319,
        "wires": []
    }
]