basic_examples/natural_language_classifier/nlc_flows_with_nlc_service.json
[{"id":"a215ad2d.16c86","type":"watson-natural-language-classifier","z":"ac1f01c2.08c6a","name":"Train","mode":"create","language":"en","classifier":"","x":497,"y":146,"wires":[["716b0863.a3a458"]]},{"id":"3247951.128266a","type":"inject","z":"ac1f01c2.08c6a","name":"","topic":"","payload":"Create","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":95,"wires":[["d56c833.fe4838"]]},{"id":"716b0863.a3a458","type":"debug","z":"ac1f01c2.08c6a","name":"","active":true,"console":"false","complete":"false","x":770,"y":144,"wires":[]},{"id":"d56c833.fe4838","type":"dropbox","z":"ac1f01c2.08c6a","dropbox":"","filename":"weather_data_train.csv","name":"","x":277,"y":143,"wires":[["a215ad2d.16c86"]]},{"id":"d6bde5b.1725f18","type":"inject","z":"ac1f01c2.08c6a","name":"","topic":"","payload":"Get List","payloadType":"str","repeat":"","crontab":"","once":false,"x":106,"y":212,"wires":[["a6563d4.ccaa0c"]]},{"id":"a6563d4.ccaa0c","type":"watson-natural-language-classifier","z":"ac1f01c2.08c6a","name":"List","mode":"list","language":"en","classifier":"","x":483,"y":208,"wires":[["c64024b4.b45c78"]]},{"id":"c64024b4.b45c78","type":"debug","z":"ac1f01c2.08c6a","name":"","active":true,"console":"false","complete":"false","x":759,"y":212,"wires":[]},{"id":"e213cad1.1b6ce8","type":"watson-natural-language-classifier","z":"ac1f01c2.08c6a","name":"Classify","mode":"classify","language":"en","classifier":"f1704ex55-nlc-488","x":481,"y":279,"wires":[["48dc53c1.d6b13c"]]},{"id":"98332d17.90a17","type":"inject","z":"ac1f01c2.08c6a","name":"","topic":"","payload":"Is it hot?","payloadType":"str","repeat":"","crontab":"","once":false,"x":117,"y":266,"wires":[["e213cad1.1b6ce8"]]},{"id":"48dc53c1.d6b13c","type":"debug","z":"ac1f01c2.08c6a","name":"","active":true,"console":"false","complete":"false","x":759,"y":283,"wires":[]},{"id":"6969f286.e2f0ac","type":"inject","z":"ac1f01c2.08c6a","name":"","topic":"","payload":"f15e67x54-nlc-454","payloadType":"str","repeat":"","crontab":"","once":false,"x":151,"y":350,"wires":[["d7311c6b.3b34a"]]},{"id":"d7311c6b.3b34a","type":"watson-natural-language-classifier","z":"ac1f01c2.08c6a","name":"Remove","mode":"remove","language":"en","classifier":"","x":479,"y":356,"wires":[["18098abc.3fdd75"]]},{"id":"18098abc.3fdd75","type":"debug","z":"ac1f01c2.08c6a","name":"","active":true,"console":"false","complete":"false","x":756,"y":352,"wires":[]},{"id":"a45a4766.4e8108","type":"inject","z":"ac1f01c2.08c6a","name":"","topic":"","payload":"Is it humid?","payloadType":"str","repeat":"","crontab":"","once":false,"x":127,"y":301,"wires":[["e213cad1.1b6ce8"]]}]
