watson_services_labs/speech_to_text/S2T_flow_extended
[{"id":"ca536cc.cf6ce9","type":"mqtt-broker","broker":"realtime.ngi.ibm.com","port":"1883","clientid":""},{"id":"e430e3d3.0f97e8","type":"debug","name":"output sst","active":true,"console":"false","complete":"transcription","x":780,"y":35,"z":"7c0bdf8c.3c2f1","wires":[]},{"id":"9244b888.53856","type":"watson-speech-to-text","name":"","lang":"en-US","band":"BroadbandModel","x":593,"y":35,"z":"7c0bdf8c.3c2f1","wires":[["e430e3d3.0f97e8","9a88ceb3.0236f"]]},{"id":"aa9febdf.eca4b8","type":"file in","name":"","filename":"/Users/hans/Desktop/audio message.wav","format":"","x":327,"y":35,"z":"7c0bdf8c.3c2f1","wires":[["9244b888.53856"]]},{"id":"6a513901.2e3828","type":"inject","name":"","topic":"","payload":"/Users/hans/Desktop/Audio Message.wav","payloadType":"none","repeat":"","crontab":"","once":false,"x":81,"y":35,"z":"7c0bdf8c.3c2f1","wires":[["aa9febdf.eca4b8"]]},{"id":"6c967e6.7d61f","type":"mqtt out","name":"","topic":"S2T","qos":"","retain":"","broker":"ca536cc.cf6ce9","x":775,"y":96,"z":"7c0bdf8c.3c2f1","wires":[]},{"id":"9a88ceb3.0236f","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.transcription"}],"action":"","property":"","from":"","to":"","reg":false,"x":591,"y":96,"z":"7c0bdf8c.3c2f1","wires":[["6c967e6.7d61f"]]}]