basic_examples/dialog/dialog_flow.json
[{"id":"e21309c5.02efb8","type":"dropbox","z":"5f3e9f2.f266c6","dropbox":"","filename":"node-red/Exercise_8_end.xml","name":"","x":276,"y":113,"wires":[["59e769d9.99c1d8"]]},{"id":"1ac5aae7.be7eb5","type":"inject","z":"5f3e9f2.f266c6","name":"Start Simulation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119.13333129882812,"y":74,"wires":[["e21309c5.02efb8"]]},{"id":"efb5e7d.6200418","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Create Dialog","mode":"create","dialog":"","clientid":"","converse":"","x":552.6333312988281,"y":163.75,"wires":[["a7720113.fb91f","a610d11a.46e46"]]},{"id":"59e769d9.99c1d8","type":"function","z":"5f3e9f2.f266c6","name":"Prepare request","func":"function generateUUID() {\n var d = new Date().getTime();\n var uuid = 'xxxx-4xxx-yxxx'.replace(/[xy]/g, function(c) {\n var r = (d + Math.random()*16)%16 | 0;\n d = Math.floor(d/16);\n return (c=='x' ? r : (r&0x3|0x8)).toString(16);\n });\n return uuid;\n}\n// the dialog_name is unique and is not re-usable, so we are using a UUID\nmsg.dialog_params = {};\n// a template file must be provided in the msg.payload in input\n// and is passed as is in the output for Dialog node in \"Creation Mode\"\n//msg.dialog_params[\"file\"] = msg.payload;\nmsg.dialog_params[\"dialog_name\"] = \"Pizza\"+generateUUID();\nreturn msg;","outputs":1,"noerr":0,"x":527.7583312988281,"y":109.50000762939453,"wires":[["efb5e7d.6200418"]]},{"id":"87792e2.864e7d","type":"inject","z":"5f3e9f2.f266c6","name":"List All Dialogs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.7583236694336,"y":625.75,"wires":[["a264b73f.c02388"]]},{"id":"a264b73f.c02388","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Available Dialog","mode":"list","dialog":"","clientid":"","converse":"","x":341.7583312988281,"y":626.75,"wires":[["2df07fbf.268a"]]},{"id":"2df07fbf.268a","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"true","x":533.0083312988281,"y":625.5,"wires":[]},{"id":"214350aa.06e5b","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Start Conversation","mode":"startconverse","dialog":"","clientid":"","converse":"","x":328.6333312988281,"y":243.75,"wires":[["fba1d26a.092e1","98192856.683fa8"]]},{"id":"5bb7e475.a5531c","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Continue Conversation","mode":"converse","dialog":"","clientid":"","converse":"","x":339.1333312988281,"y":370,"wires":[["96b33cfb.dde5e","59dbb086.c8e3"]]},{"id":"af911168.9195d","type":"service-dialog","z":"5f3e9f2.f266c6","name":"List Profile Variables","mode":"getprofile","dialog":"","clientid":"","converse":"","x":345.3833312988281,"y":472.5,"wires":[["f14b34d4.784618"]]},{"id":"fba1d26a.092e1","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"dialog","x":620.6333312988281,"y":246.75,"wires":[]},{"id":"96b33cfb.dde5e","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"dialog","x":555.1333312988281,"y":369.75,"wires":[]},{"id":"f14b34d4.784618","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"dialog","x":583.6333312988281,"y":472.25,"wires":[]},{"id":"c29102bd.86cde","type":"http request","z":"5f3e9f2.f266c6","name":"Get XML Template","method":"GET","ret":"bin","url":"https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/dialog/download/Exercise_8_end.xml","x":329.1333312988281,"y":73,"wires":[[]]},{"id":"e79ccbd9.3bbf08","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Delete Dialog","mode":"delete","dialog":"ba128d81-4870-42c3-a6a6-0bafd8c0a731","clientid":"","converse":"","x":336.1333312988281,"y":552,"wires":[["d36d2f07.f81fb"]]},{"id":"cc452432.c0dbe8","type":"inject","z":"5f3e9f2.f266c6","name":"Delete a Dialog","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.13333129882812,"y":552,"wires":[["e79ccbd9.3bbf08"]]},{"id":"d36d2f07.f81fb","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"true","x":534.1333312988281,"y":551,"wires":[]},{"id":"a7720113.fb91f","type":"function","z":"5f3e9f2.f266c6","name":"Prepare Request","func":"msg2 = {};\nmsg2.payload=\"Hello !\";\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog.dialog_id;\nreturn msg2;","outputs":1,"noerr":0,"x":801.1333312988281,"y":177,"wires":[["214350aa.06e5b"]]},{"id":"3c6155ec.be3bda","type":"service-dialog","z":"5f3e9f2.f266c6","name":"Delete All Dialogs","mode":"deleteall","dialog":"","clientid":"","converse":"","x":335.6333312988281,"y":695,"wires":[["bd780b93.b7dc28"]]},{"id":"e23863d.f042ba","type":"inject","z":"5f3e9f2.f266c6","name":"Delete All Dialogs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.63333129882812,"y":696,"wires":[["3c6155ec.be3bda"]]},{"id":"bd780b93.b7dc28","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"true","x":519.6333312988281,"y":695,"wires":[]},{"id":"98192856.683fa8","type":"function","z":"5f3e9f2.f266c6","name":"Prepare request","func":"msg2 = {};\nmsg2.payload=\"what type of pizza do you have ?\";\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog_params.dialog_id;\nmsg2.dialog_params[\"client_id\"] = msg.dialog.client_id;\nmsg2.dialog_params[\"converse_id\"] = msg.dialog.conversation_id;\nreturn msg2;","outputs":1,"noerr":0,"x":466.6333312988281,"y":302,"wires":[["5bb7e475.a5531c"]]},{"id":"a610d11a.46e46","type":"debug","z":"5f3e9f2.f266c6","name":"","active":true,"console":"false","complete":"dialog","x":758.6333312988281,"y":128,"wires":[]},{"id":"59dbb086.c8e3","type":"function","z":"5f3e9f2.f266c6","name":"Prepare request","func":"msg2 = {};\nmsg2.payload=\"what type of pizza do you have ?\";\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog_params.dialog_id;\nmsg2.dialog_params[\"client_id\"] = msg.dialog.client_id;\nmsg2.dialog_params[\"converse_id\"] = msg.dialog.conversation_id;\nreturn msg2;","outputs":1,"noerr":0,"x":516.6333312988281,"y":411,"wires":[["af911168.9195d"]]},{"id":"384e2a4a.64dc16","type":"comment","z":"5f3e9f2.f266c6","name":"Link to the Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n- [Watson Dialog Template Creation Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/dialog_template_creation)\n- [Watson Dialog Lab](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/dialog)","x":115,"y":20,"wires":[]},{"id":"c1983e41.913ae","type":"box","z":"5f3e9f2.f266c6","filename":"","name":"","x":289.5,"y":149,"wires":[[]]},{"id":"93a14d9b.96c3","type":"comment","z":"5f3e9f2.f266c6","name":"Make sure you bind Dialog Service to Node-RED App !","info":"When running in IBM Cloud, the credentials for the service will be filled-in from IBM Cloud credentials management.\nFor this to work, the Dialog Service has to be bound to the Node-RED application.\n","x":561,"y":20,"wires":[]}]