basic_examples/dialog/dialog_flow.json
[{"id":"ab391acb.2db8c","type":"dropbox","z":"605c5a85.a55804","filename":"","name":"","x":295.23333740234375,"y":137.36666870117188,"wires":[[]]},{"id":"df2f7fe6.7c80a8","type":"inject","z":"605c5a85.a55804","name":"Start Simulation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.36666870117188,"y":44.366668701171875,"wires":[["bfc2751f.17ef48"]]},{"id":"6cb60290.05b504","type":"service-dialog","z":"605c5a85.a55804","name":"Create Dialog","mode":"create","dialog":"","clientid":"","converse":"","x":555.8666687011719,"y":167.11666870117188,"wires":[["4befda90.d1471c","ba18456b.c3fe68"]]},{"id":"611a403d.1c48d8","type":"function","z":"605c5a85.a55804","name":"Prepare request","func":"function generateUUID() {\n var d = new Date().getTime();\n var uuid = 'xxxx-4xxx-yxxx'.replace(/[xy]/g, function(c) {\n var r = (d + Math.random()*16)%16 | 0;\n d = Math.floor(d/16);\n return (c=='x' ? r : (r&0x3|0x8)).toString(16);\n });\n return uuid;\n}\n\nmsg.dialog_params = {};\nmsg.dialog_params[\"file\"] = msg.payload;\nmsg.dialog_params[\"dialog_name\"] = \"PizzaYLC\"+generateUUID();\nreturn msg;","outputs":1,"noerr":0,"x":550.9916687011719,"y":120.8666763305664,"wires":[["6cb60290.05b504"]]},{"id":"2ca295f7.a8f93a","type":"inject","z":"605c5a85.a55804","name":"List All Dialogs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135.99166107177734,"y":629.1166687011719,"wires":[["2b0ae1d2.987cbe"]]},{"id":"2b0ae1d2.987cbe","type":"service-dialog","z":"605c5a85.a55804","name":"Available Dialog","mode":"list","dialog":"","clientid":"","converse":"","x":344.9916687011719,"y":630.1166687011719,"wires":[["e7ce1a66.ef66d"]]},{"id":"e7ce1a66.ef66d","type":"debug","z":"605c5a85.a55804","name":"","active":true,"console":"false","complete":"true","x":536.2416687011719,"y":628.8666687011719,"wires":[]},{"id":"e4137984.c6e348","type":"service-dialog","z":"605c5a85.a55804","name":"Start Conversation","mode":"startconverse","dialog":"","clientid":"","converse":"","x":331.8666687011719,"y":247.11666870117188,"wires":[["acfe2c1e.8801e","9adc3f12.d5b08"]]},{"id":"ffd4ae54.2bfc6","type":"service-dialog","z":"605c5a85.a55804","name":"Continue Conversation","mode":"converse","dialog":"","clientid":"","converse":"","x":342.3666687011719,"y":373.3666687011719,"wires":[["3e986405.84dc8c","9738368a.d4ff18"]]},{"id":"569565cf.d247c4","type":"service-dialog","z":"605c5a85.a55804","name":"List Profile Variables","mode":"getprofile","dialog":"","clientid":"","converse":"","x":348.6166687011719,"y":475.8666687011719,"wires":[["fd2f2eef.2ced28"]]},{"id":"acfe2c1e.8801e","type":"debug","z":"605c5a85.a55804","name":"","active":true,"console":"false","complete":"dialog","x":623.8666687011719,"y":250.11666870117188,"wires":[]},{"id":"3e986405.84dc8c","type":"debug","z":"605c5a85.a55804","name":"","active":true,"console":"false","complete":"dialog","x":558.3666687011719,"y":373.1166687011719,"wires":[]},{"id":"fd2f2eef.2ced28","type":"debug","z":"605c5a85.a55804","name":"","active":true,"console":"false","complete":"dialog","x":586.8666687011719,"y":475.6166687011719,"wires":[]},{"id":"bfc2751f.17ef48","type":"http request","z":"605c5a85.a55804","name":"Get XML Template","method":"GET","ret":"bin","url":"https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/dialog/download/Exercise_8_end.xml","x":332.3666687011719,"y":76.36666870117188,"wires":[["611a403d.1c48d8"]]},{"id":"cc087021.0018a8","type":"service-dialog","z":"605c5a85.a55804","name":"Delete Dialog","mode":"delete","dialog":"ba128d81-4870-42c3-a6a6-0bafd8c0a731","clientid":"","converse":"","x":339.3666687011719,"y":555.3666687011719,"wires":[["c0d20e56.8ef328"]]},{"id":"9c3cb6ac.90b7f8","type":"inject","z":"605c5a85.a55804","name":"Delete a Dialog","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135.36666870117188,"y":555.3666687011719,"wires":[["cc087021.0018a8"]]},{"id":"c0d20e56.8ef328","type":"debug","z":"605c5a85.a55804","name":"","active":true,"console":"false","complete":"true","x":537.3666687011719,"y":554.3666687011719,"wires":[]},{"id":"4befda90.d1471c","type":"function","z":"605c5a85.a55804","name":"dialog_id","func":"msg2 = {};\nmsg2.payload={};\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog.dialog_id;\nreturn msg2;","outputs":1,"noerr":0,"x":774.3666687011719,"y":180.36666870117188,"wires":[["e4137984.c6e348"]]},{"id":"b701a2e2.1c847","type":"service-dialog","z":"605c5a85.a55804","name":"Delete All Dialogs","mode":"deleteall","dialog":"","clientid":"","converse":"","x":338.8666687011719,"y":698.3666687011719,"wires":[["2b2c44da.e4a7cc"]]},{"id":"92e8622f.8753e","type":"inject","z":"605c5a85.a55804","name":"Delete All Dialogs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135.86666870117188,"y":699.3666687011719,"wires":[["b701a2e2.1c847"]]},{"id":"2b2c44da.e4a7cc","type":"debug","z":"605c5a85.a55804","name":"","active":true,"console":"false","complete":"true","x":522.8666687011719,"y":698.3666687011719,"wires":[]},{"id":"9adc3f12.d5b08","type":"function","z":"605c5a85.a55804","name":"Prepare request","func":"msg2 = {};\nmsg2.payload=\"what type of pizza do you have ?\";\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog_params.dialog_id;\nmsg2.dialog_params[\"client_id\"] = msg.dialog.client_id;\nmsg2.dialog_params[\"converse_id\"] = msg.dialog.conversation_id;\nreturn msg2;","outputs":1,"noerr":0,"x":469.8666687011719,"y":305.3666687011719,"wires":[["ffd4ae54.2bfc6"]]},{"id":"ba18456b.c3fe68","type":"debug","z":"605c5a85.a55804","name":"","active":true,"console":"false","complete":"dialog","x":761.8666687011719,"y":131.36666870117188,"wires":[]},{"id":"9738368a.d4ff18","type":"function","z":"605c5a85.a55804","name":"Prepare request","func":"msg2 = {};\nmsg2.payload=\"what type of pizza do you have ?\";\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog_params.dialog_id;\nmsg2.dialog_params[\"client_id\"] = msg.dialog.client_id;\nmsg2.dialog_params[\"converse_id\"] = msg.dialog.conversation_id;\nreturn msg2;","outputs":1,"noerr":0,"x":519.8666687011719,"y":414.3666687011719,"wires":[["569565cf.d247c4"]]},{"id":"872878f2.150858","type":"comment","z":"605c5a85.a55804","name":"Choose one method : HTTP, Dropbox","info":"","x":386.8666687011719,"y":36.366668701171875,"wires":[]}]