basic_examples/dialog/dialog_flow.json
[	
	{	"id":"7d943265.ebda14",
		"type":"service-dialog",
		"z":"eb4f2cb.0a171d",
		"name":"List available dialogs",
		"mode":"list","dialog":"",
		"clientid":"",
		"converse":"",
		"x":394,"y":188,
		"wires":[["c51c26cc.c2783"]]
	},
	{	"id":"60afca59.632a0c",
		"type":"inject",
		"z":"eb4f2cb.0a171d",
		"name":"","topic":"",
		"payload":"",
		"payloadType":"date",
		"repeat":"",
		"crontab":"",
		"once":false,
		"x":165,"y":186,
		"wires":[["7d943265.ebda14"]]
	},
	{	"id":"c51c26cc.c2783",
		"type":"debug",
		"z":"eb4f2cb.0a171d",
		"name":"Dialog List",
		"active":true,
		"console":"false",
		"complete":"dialog",
		"x":659,"y":188,
		"wires":[]
	},
	{	"id":"27fdf330.479904",
		"type":"inject",
		"z":"eb4f2cb.0a171d",
		"name":"Start Conversation",
		"topic":"",
		"payload":"Hello",
		"payloadType":"string",
		"repeat":"",
		"crontab":"",
		"once":false,
		"x":151,"y":324,
		"wires":[["c48782a7.a8327"]]
	},
	{	"id":"c48782a7.a8327",
		"type":"service-dialog",
		"z":"eb4f2cb.0a171d",
		"name":"Start Conversation",
		"mode":"startconverse",
		"dialog":"ab0e0e93-dab5-458f-aa87-e147a4d44ba5",
		"clientid":"",
		"converse":"",
		"x":399,"y":330,
		"wires":[["b6465d9c.228b18"]]
	},
	{	"id":"b6465d9c.228b18",
		"type":"debug",
		"z":"eb4f2cb.0a171d",
		"name":"Dialog Salutation",
		"active":true,
		"console":"false",
		"complete":"dialog",
		"x":657,"y":331,
		"wires":[]
	},
	{	"id":"c5b8581f.10911",
		"type":"inject",
		"z":"eb4f2cb.0a171d",
		"name":"Continue Conversation",
		"topic":"",
		"payload":"I would like ...",
		"payloadType":"string",
		"repeat":"",
		"crontab":"",
		"once":false,
		"x":154,"y":467,
		"wires":[["6c3b3b82.ff59ac"]]
	},
	{	"id":"6c3b3b82.ff59ac",
		"type":"service-dialog",
		"z":"eb4f2cb.0a171d",
		"name":"Converse",
		"mode":"converse",
		"dialog":"ab0e0e93-dab5-458f-aa87-e147a4d44ba5",
		"clientid":"ab0e0e93-dab5-458f-aa87-e147a4d44ba5",
		"converse":"451543",
		"x":395,"y":469,
		"wires":[["a18fe5e.76d8f98"]]
	},
	{	"id":"a18fe5e.76d8f98",
		"type":"debug",
		"z":"eb4f2cb.0a171d",
		"name":"Dialog Converse",
		"active":true,
		"console":"false",
		"complete":"dialog","x":615,"y":471,"wires":[]
	}
]
	
	
	
	