basic_examples/dialog/dialog_flow2.json
[{"id":"a67381e9.406e88","type":"inject","z":"add019f3.ad1b9","name":"Start Simulation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111,"y":33,"wires":[["c1e594c0.591ff8"]]},{"id":"313a94a3.4caa9c","type":"service-dialog","z":"add019f3.ad1b9","name":"Create Dialog","mode":"create","dialog":"","clientid":"","converse":"","x":543.5,"y":155.75,"wires":[["62c703f9.ecc934","4bc7b99e.bf9dd8"]]},{"id":"b3a4bc4c.8a67f8","type":"function","z":"add019f3.ad1b9","name":"Prepare request","func":"function generateUUID() {\n    var d = new Date().getTime();\n    var uuid = 'xxxx-4xxx-yxxx'.replace(/[xy]/g, function(c) {\n        var r = (d + Math.random()*16)%16 | 0;\n        d = Math.floor(d/16);\n        return (c=='x' ? r : (r&0x3|0x8)).toString(16);\n    });\n    return uuid;\n}\n\nmsg.dialog_params = {};\nmsg.dialog_params[\"file\"] = msg.payload;\nmsg.dialog_params[\"dialog_name\"] = \"PizzaYLC\"+generateUUID();\nreturn msg;","outputs":1,"noerr":0,"x":538.625,"y":109.50000762939453,"wires":[["313a94a3.4caa9c"]]},{"id":"d03652fd.ecc84","type":"inject","z":"add019f3.ad1b9","name":"List All Dialogs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.62499237060547,"y":617.75,"wires":[["f62aee35.bbbae"]]},{"id":"f62aee35.bbbae","type":"service-dialog","z":"add019f3.ad1b9","name":"Available Dialog","mode":"list","dialog":"","clientid":"","converse":"","x":332.625,"y":618.75,"wires":[["a6b065e7.e1644"]]},{"id":"a6b065e7.e1644","type":"debug","z":"add019f3.ad1b9","name":"","active":true,"console":"false","complete":"true","x":523.875,"y":617.5,"wires":[]},{"id":"2c39f4b.3f36a8c","type":"service-dialog","z":"add019f3.ad1b9","name":"Start Conversation","mode":"startconverse","dialog":"","clientid":"","converse":"","x":319.5,"y":235.75,"wires":[["eedb1434.28f93","11a0ed7b.22ba63"]]},{"id":"4d2bd0b6.e5e928","type":"service-dialog","z":"add019f3.ad1b9","name":"Continue Conversation","mode":"converse","dialog":"","clientid":"","converse":"","x":330,"y":362,"wires":[["985b1d42.2c3ff","f80d4c2c.72a638"]]},{"id":"e6549525.1691f8","type":"service-dialog","z":"add019f3.ad1b9","name":"List Profile Variables","mode":"getprofile","dialog":"","clientid":"","converse":"","x":336.25,"y":464.5,"wires":[["e267e16f.4aa958"]]},{"id":"eedb1434.28f93","type":"debug","z":"add019f3.ad1b9","name":"","active":true,"console":"false","complete":"dialog","x":611.5,"y":238.75,"wires":[]},{"id":"985b1d42.2c3ff","type":"debug","z":"add019f3.ad1b9","name":"","active":true,"console":"false","complete":"dialog","x":546,"y":361.75,"wires":[]},{"id":"e267e16f.4aa958","type":"debug","z":"add019f3.ad1b9","name":"","active":true,"console":"false","complete":"dialog","x":574.5,"y":464.25,"wires":[]},{"id":"c1e594c0.591ff8","type":"http request","z":"add019f3.ad1b9","name":"Get XML Template","method":"GET","ret":"bin","url":"https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/dialog/download/Exercise_8_end.xml","x":320,"y":65,"wires":[["b3a4bc4c.8a67f8"]]},{"id":"23434a81.cf2b4e","type":"service-dialog","z":"add019f3.ad1b9","name":"Delete Dialog","mode":"delete","dialog":"ba128d81-4870-42c3-a6a6-0bafd8c0a731","clientid":"","converse":"","x":327,"y":544,"wires":[["df948890.0038"]]},{"id":"c1347073.cd81d8","type":"inject","z":"add019f3.ad1b9","name":"Delete a Dialog","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":544,"wires":[["23434a81.cf2b4e"]]},{"id":"df948890.0038","type":"debug","z":"add019f3.ad1b9","name":"","active":true,"console":"false","complete":"true","x":525,"y":543,"wires":[]},{"id":"62c703f9.ecc934","type":"function","z":"add019f3.ad1b9","name":"dialog_id","func":"msg2 = {};\nmsg2.payload={};\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog.dialog_id;\nreturn msg2;","outputs":1,"noerr":0,"x":762,"y":169,"wires":[["2c39f4b.3f36a8c"]]},{"id":"ea7b5fc7.1fa23","type":"service-dialog","z":"add019f3.ad1b9","name":"Delete All Dialogs","mode":"deleteall","dialog":"","clientid":"","converse":"","x":326.5,"y":687,"wires":[["b75789a0.b080b"]]},{"id":"8921431d.57019","type":"inject","z":"add019f3.ad1b9","name":"Delete All Dialogs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.5,"y":688,"wires":[["ea7b5fc7.1fa23"]]},{"id":"b75789a0.b080b","type":"debug","z":"add019f3.ad1b9","name":"","active":true,"console":"false","complete":"true","x":510.5,"y":687,"wires":[]},{"id":"11a0ed7b.22ba63","type":"function","z":"add019f3.ad1b9","name":"Prepare request","func":"msg2 = {};\nmsg2.payload=\"what type of pizza do you have ?\";\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog_params.dialog_id;\nmsg2.dialog_params[\"client_id\"] = msg.dialog.client_id;\nmsg2.dialog_params[\"converse_id\"] = msg.dialog.conversation_id;\nreturn msg2;","outputs":1,"noerr":0,"x":457.5,"y":294,"wires":[["4d2bd0b6.e5e928"]]},{"id":"4bc7b99e.bf9dd8","type":"debug","z":"add019f3.ad1b9","name":"","active":true,"console":"false","complete":"dialog","x":749.5,"y":120,"wires":[]},{"id":"f80d4c2c.72a638","type":"function","z":"add019f3.ad1b9","name":"Prepare request","func":"msg2 = {};\nmsg2.payload=\"what type of pizza do you have ?\";\nmsg2.dialog_params = {};\nmsg2.dialog_params[\"dialog_id\"] = msg.dialog_params.dialog_id;\nmsg2.dialog_params[\"client_id\"] = msg.dialog.client_id;\nmsg2.dialog_params[\"converse_id\"] = msg.dialog.conversation_id;\nreturn msg2;","outputs":1,"noerr":0,"x":507.5,"y":403,"wires":[["e6549525.1691f8"]]},{"id":"fae3150f.6d99b","type":"comment","z":"add019f3.ad1b9","name":"Choose one method : HTTP, Dropbox or Box","info":"","x":394.5,"y":25,"wires":[]}]