starter-kits/breaking_news/flow.json
[{"id":"5462e65f.ab9d18","type":"ui_dropdown","z":"33d51b28.cc2ae4","name":"","label":"News category:","group":"a673c820.598c38","order":2,"width":"0","height":"0","options":[{"label":"crime","value":"crime"},{"label":"entertainment","value":"entertainment"},{"label":"government","value":"government"},{"label":"health and fitness","value":"health and fitness"},{"label":"politics","value":"politics"},{"label":"religion and spirituality","value":"religion and spirituality"},{"label":"sports","value":"sports"},{"label":"science","value":"science"},{"label":"style and fashion","value":"style and fashion"},{"label":"technology and computing","value":"technology and computing"},{"label":"travel","value":"travel"}],"payload":"","topic":"","x":116,"y":75,"wires":[["3c7c2ccb.c383d4"]]},{"id":"3c7c2ccb.c383d4","type":"function","z":"33d51b28.cc2ae4","name":"set query","func":"//msg.query='start=now-1h&end=now&q.enriched.url.enrichedTitle.taxonomy.taxonomy_.label='+msg.payload;\nmsg.query='start=now-1h&end=now&q.enriched.url.taxonomy.taxonomy_.label='+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":205.0000457763672,"y":155.33328247070312,"wires":[["bf6441b0.409bc"]]},{"id":"bf6441b0.409bc","type":"news","z":"33d51b28.cc2ae4","name":"alchemy news","service":"_ext_","key":"","start":"09/27/2016","end":"09/28/2016","query":"","custom":true,"queries":[],"results":["enriched.url.url","enriched.url.title","enriched.url.publicationDate.date","enriched.url.author","enriched.url.concepts"],"max":"1","mode":"json","x":377,"y":151.6666717529297,"wires":[["ebf3e0da.140c2","b27a19f9.4d85e8"]]},{"id":"ebf3e0da.140c2","type":"function","z":"33d51b28.cc2ae4","name":"extract concepts","func":"msg.topconcepts = [];\nvar numconcepts = 3;\n\nmsg.topconcepts = msg.payload.result.docs[0].source.enriched.url.concepts.slice(0,numconcepts)\n                .map(function(c){ \n                    return c.text;\n                });\nmsg.title = msg.payload.result.docs[0].source.enriched.url.title;\nmsg.url = msg.payload.result.docs[0].source.enriched.url.url;\n\nfor (i=0; i<numconcepts; i++) {\n    msg.payload = msg.topconcepts[i];\n    var output = new Array(numconcepts);\n    output[i] = msg;\n    node.send(output);\n//    node.warn(\"sent \" + i)\n}","outputs":"3","noerr":0,"x":245.00003051757812,"y":238.66664123535156,"wires":[["9e12fa79.61ed08","1ca5e08a.e35a1f","1f5c3fa7.e0a3c"],["7e098283.81f67c","9dd58205.622a8"],["fc90e53a.036f18","5bd948fb.a426b8"]]},{"id":"b27a19f9.4d85e8","type":"debug","z":"33d51b28.cc2ae4","name":"","active":true,"console":"true","complete":"payload","x":552.5,"y":68,"wires":[]},{"id":"9e12fa79.61ed08","type":"ui_text","z":"33d51b28.cc2ae4","group":"f9e002de.062","order":1,"width":0,"height":0,"name":"Concept 1 title","label":"","format":"{{msg.payload}}","layout":"row-center","x":586,"y":119.33331298828125,"wires":[]},{"id":"1ca5e08a.e35a1f","type":"twitter in","z":"33d51b28.cc2ae4","twitter":"","tags":"","user":"false","name":"","topic":"tweets","x":425.00006103515625,"y":266.33331298828125,"wires":[["1b72f13f.e48d0f"]]},{"id":"1f5c3fa7.e0a3c","type":"ui_text","z":"33d51b28.cc2ae4","group":"a673c820.598c38","order":3,"width":"0","height":"0","name":"","label":"Article Title","format":"<a href=\"{{msg.url}}\" target=\"_blank\">{{msg.title}}</a>","layout":"col-center","x":370,"y":88,"wires":[]},{"id":"9dd58205.622a8","type":"twitter in","z":"33d51b28.cc2ae4","twitter":"","tags":"","user":"false","name":"","topic":"tweets","x":419.83331298828125,"y":314.33331298828125,"wires":[["6f2c07e5.90d3f8"]]},{"id":"7e098283.81f67c","type":"ui_text","z":"33d51b28.cc2ae4","group":"2e7e5929.d181a6","order":1,"width":0,"height":0,"name":"Concept 2 title","label":"","format":"{{msg.payload}}","layout":"row-center","x":577.8333129882812,"y":160.33331298828125,"wires":[]},{"id":"fc90e53a.036f18","type":"ui_text","z":"33d51b28.cc2ae4","group":"b346e6f0.4cb918","order":1,"width":0,"height":0,"name":"Concept 3 title","label":"","format":"{{msg.payload}}","layout":"row-center","x":587.5001220703125,"y":202.33331298828125,"wires":[]},{"id":"5bd948fb.a426b8","type":"twitter in","z":"33d51b28.cc2ae4","twitter":"","tags":"","user":"false","name":"","topic":"tweets","x":421.5,"y":374.33331298828125,"wires":[["44259fcd.bbda6"]]},{"id":"1b72f13f.e48d0f","type":"watson-tone-analyzer-v3","z":"33d51b28.cc2ae4","name":"","tones":"all","sentences":"false","contentType":"false","x":577.0000610351562,"y":259.33331298828125,"wires":[["20331493.dfccec"]]},{"id":"df29a217.20d66","type":"inject","z":"33d51b28.cc2ae4","name":"STOP!","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":248,"y":327,"wires":[["1ca5e08a.e35a1f","9dd58205.622a8","5bd948fb.a426b8"]]},{"id":"6f2c07e5.90d3f8","type":"watson-tone-analyzer-v3","z":"33d51b28.cc2ae4","name":"","tones":"all","sentences":"false","contentType":"false","x":578.8333129882812,"y":302.3333435058594,"wires":[["b52c0534.4ad3f8"]]},{"id":"44259fcd.bbda6","type":"watson-tone-analyzer-v3","z":"33d51b28.cc2ae4","name":"","tones":"all","sentences":"false","contentType":"false","x":582.8333740234375,"y":347.99993896484375,"wires":[["5af99f61.a5066"]]},{"id":"20331493.dfccec","type":"function","z":"33d51b28.cc2ae4","name":"Extract emotion","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n//rename tone_id to topic\n                    \n//msg.payload = emotions;\nfor (var i=0; i<emotions.length; i++) {\n    msg.payload = emotions[i].score;\n    msg.topic = emotions[i].tone_name;\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"x":769.0000610351562,"y":253,"wires":[["501fe48f.afe01c","9cb3e2d0.634c2","a61bdc2.f59e42"]]},{"id":"b52c0534.4ad3f8","type":"function","z":"33d51b28.cc2ae4","name":"Extract emotion","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n//rename tone_id to topic\n                    \n//msg.payload = emotions;\nfor (var i=0; i<emotions.length; i++) {\n    msg.payload = emotions[i].score;\n    msg.topic = emotions[i].tone_name;\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"x":773.8333129882812,"y":299.0000305175781,"wires":[["e56dbe44.1a924","efb4e932.104b18"]]},{"id":"5af99f61.a5066","type":"function","z":"33d51b28.cc2ae4","name":"Extract emotion","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n//rename tone_id to topic\n                    \n//msg.payload = emotions;\nfor (var i=0; i<emotions.length; i++) {\n    msg.payload = emotions[i].score;\n    msg.topic = emotions[i].tone_name;\n    node.send(msg);\n    //node.warn(msg.topic);\n}\n","outputs":1,"noerr":0,"x":772.8334350585938,"y":343.3332214355469,"wires":[["a49111d6.5b6ef","adab7b7.f525488"]]},{"id":"501fe48f.afe01c","type":"ui_chart","z":"33d51b28.cc2ae4","name":"Concept 1 chart","group":"f9e002de.062","order":2,"width":0,"height":0,"label":"","chartType":"bar","legend":"true","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":955.4998779296875,"y":207.91671752929688,"wires":[[],[]]},{"id":"e56dbe44.1a924","type":"ui_chart","z":"33d51b28.cc2ae4","name":"Concept 2 chart","group":"2e7e5929.d181a6","order":2,"width":0,"height":0,"label":"","chartType":"bar","legend":"true","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":949.833251953125,"y":324.6667785644531,"wires":[[],[]]},{"id":"a49111d6.5b6ef","type":"ui_chart","z":"33d51b28.cc2ae4","name":"Concept 3 chart","group":"b346e6f0.4cb918","order":2,"width":0,"height":0,"label":"","chartType":"bar","legend":"true","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":953.1666259765625,"y":426.99993896484375,"wires":[[],[]]},{"id":"9cb3e2d0.634c2","type":"ui_text","z":"33d51b28.cc2ae4","group":"f9e002de.062","order":3,"width":"6","height":"3","name":"Tweet 1","label":"<img height=\"20\" width=\"25\" src=\"https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png\"/>","format":"{{msg.tweet.text}}","layout":"col-center","x":931.5,"y":173,"wires":[]},{"id":"a61bdc2.f59e42","type":"debug","z":"33d51b28.cc2ae4","name":"","active":false,"console":"true","complete":"true","x":859.5,"y":120,"wires":[]},{"id":"efb4e932.104b18","type":"ui_text","z":"33d51b28.cc2ae4","group":"2e7e5929.d181a6","order":3,"width":"6","height":"3","name":"Tweet 2","label":"<img height=\"20\" width=\"25\" src=\"https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png\"/>","format":"{{msg.tweet.text}}","layout":"col-center","x":937,"y":283,"wires":[]},{"id":"adab7b7.f525488","type":"ui_text","z":"33d51b28.cc2ae4","group":"b346e6f0.4cb918","order":3,"width":"6","height":"3","name":"Tweet 3","label":"<img height=\"20\" width=\"25\" src=\"https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png\"/>","format":"{{msg.tweet.text}}","layout":"col-center","x":934,"y":387,"wires":[]},{"id":"a673c820.598c38","type":"ui_group","z":"33d51b28.cc2ae4","name":"Title","tab":"f45552a8.0baab","order":1,"disp":false,"width":"20"},{"id":"f9e002de.062","type":"ui_group","z":"33d51b28.cc2ae4","name":"1","tab":"f45552a8.0baab","order":2,"disp":false,"width":"6"},{"id":"2e7e5929.d181a6","type":"ui_group","z":"33d51b28.cc2ae4","name":"2","tab":"f45552a8.0baab","order":3,"disp":false,"width":"6"},{"id":"b346e6f0.4cb918","type":"ui_group","z":"33d51b28.cc2ae4","name":"3","tab":"f45552a8.0baab","order":4,"disp":false,"width":"6"},{"id":"f45552a8.0baab","type":"ui_tab","z":"33d51b28.cc2ae4","name":"Home","icon":"dashboard"}]
