starter-kits/breaking_news/flow.json
[{"id":"ed8e8651.127178","type":"ui_dropdown","z":"5ec6adda.a13954","name":"","label":"News category:","group":"32ddd48a.cd222c","order":2,"width":"0","height":"0","options":[{"label":"crime","value":"crime"},{"label":"entertainment","value":"entertainment"},{"label":"government","value":"government"},{"label":"health and fitness","value":"health and fitness"},{"label":"politics","value":"politics"},{"label":"religion and spirituality","value":"religion and spirituality"},{"label":"sports","value":"sports"},{"label":"science","value":"science"},{"label":"style and fashion","value":"style and fashion"},{"label":"technology and computing","value":"technology and computing"},{"label":"travel","value":"travel"}],"payload":"","topic":"","x":102,"y":48,"wires":[["f93bdec.f06c42"]]},{"id":"f93bdec.f06c42","type":"function","z":"5ec6adda.a13954","name":"set query","func":"//msg.query='start=now-1h&end=now&q.enriched.url.enrichedTitle.taxonomy.taxonomy_.label='+msg.payload;\nmsg.query='start=now-1h&rank=high&end=now&q.enriched.url.taxonomy.taxonomy_.label='+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":216.0000457763672,"y":142.33328247070312,"wires":[["56c19ddd.a93e64"]]},{"id":"56c19ddd.a93e64","type":"news","z":"5ec6adda.a13954","name":"alchemy news","service":"_ext_","key":"","start":"09/27/2016","end":"09/28/2016","query":"","custom":true,"queries":[],"results":["enriched.url.url","enriched.url.title","enriched.url.publicationDate.date","enriched.url.author","enriched.url.concepts"],"max":"1","mode":"json","x":388,"y":138.6666717529297,"wires":[["8d7482e8.728b8","fff43c83.000bc"]]},{"id":"8d7482e8.728b8","type":"function","z":"5ec6adda.a13954","name":"extract concepts","func":"msg.topconcepts = [];\nvar numconcepts = 3;\n\nmsg.topconcepts = msg.payload.result.docs[0].source.enriched.url.concepts.slice(0,numconcepts)\n                .map(function(c){ \n                    return c.text;\n                });\nmsg.title = msg.payload.result.docs[0].source.enriched.url.title;\nmsg.url = msg.payload.result.docs[0].source.enriched.url.url;\n\nfor (i=0; i<numconcepts; i++) {\n    msg.payload = msg.topconcepts[i];\n    var output = new Array(numconcepts);\n    output[i] = msg;\n    node.send(output);\n//    node.warn(\"sent \" + i)\n}","outputs":"3","noerr":0,"x":256.0000305175781,"y":225.66664123535156,"wires":[["b983eb86.467c18","220a909b.ddf57","e92989bd.16d678"],["e7c7977e.183868","cb75da99.348a28"],["8c744b4e.738bb8","ccb83b49.3347c8"]]},{"id":"fff43c83.000bc","type":"debug","z":"5ec6adda.a13954","name":"","active":true,"console":"true","complete":"payload","x":563.5,"y":55,"wires":[]},{"id":"b983eb86.467c18","type":"ui_text","z":"5ec6adda.a13954","group":"8c6b7d2b.73948","order":1,"width":0,"height":0,"name":"Concept 1 title","label":"","format":"{{msg.payload}}","layout":"row-center","x":597,"y":106.33331298828125,"wires":[]},{"id":"220a909b.ddf57","type":"twitter in","z":"5ec6adda.a13954","twitter":"","tags":"","user":"false","name":"","topic":"tweets","x":436.00006103515625,"y":253.33331298828125,"wires":[["896bb6d6.769448"]]},{"id":"e92989bd.16d678","type":"ui_text","z":"5ec6adda.a13954","group":"32ddd48a.cd222c","order":3,"width":"0","height":"0","name":"","label":"Article Title","format":"<a href=\"{{msg.url}}\" target=\"_blank\">{{msg.title}}</a>","layout":"col-center","x":381,"y":75,"wires":[]},{"id":"cb75da99.348a28","type":"twitter in","z":"5ec6adda.a13954","twitter":"","tags":"","user":"false","name":"","topic":"tweets","x":430.83331298828125,"y":301.33331298828125,"wires":[["8e642a5f.719bd8"]]},{"id":"e7c7977e.183868","type":"ui_text","z":"5ec6adda.a13954","group":"c17853e4.3e87b","order":1,"width":0,"height":0,"name":"Concept 2 title","label":"","format":"{{msg.payload}}","layout":"row-center","x":588.8333129882812,"y":147.33331298828125,"wires":[]},{"id":"8c744b4e.738bb8","type":"ui_text","z":"5ec6adda.a13954","group":"59a9dcd5.a65624","order":1,"width":0,"height":0,"name":"Concept 3 title","label":"","format":"{{msg.payload}}","layout":"row-center","x":598.5001220703125,"y":189.33331298828125,"wires":[]},{"id":"ccb83b49.3347c8","type":"twitter in","z":"5ec6adda.a13954","twitter":"","tags":"","user":"false","name":"","topic":"tweets","x":432.5,"y":361.33331298828125,"wires":[["905159b7.6faea8"]]},{"id":"896bb6d6.769448","type":"watson-tone-analyzer-v3","z":"5ec6adda.a13954","name":"","tones":"all","sentences":"false","contentType":"false","x":588.0000610351562,"y":246.33331298828125,"wires":[["4ffab55b.b0054c"]]},{"id":"8e642a5f.719bd8","type":"watson-tone-analyzer-v3","z":"5ec6adda.a13954","name":"","tones":"all","sentences":"false","contentType":"false","x":589.8333129882812,"y":289.3333435058594,"wires":[["fb992a5f.0466d8"]]},{"id":"905159b7.6faea8","type":"watson-tone-analyzer-v3","z":"5ec6adda.a13954","name":"","tones":"all","sentences":"false","contentType":"false","x":593.8333740234375,"y":334.99993896484375,"wires":[["6c37005d.93c9"]]},{"id":"4ffab55b.b0054c","type":"function","z":"5ec6adda.a13954","name":"Extract emotion","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n//rename tone_id to topic\n                    \n//msg.payload = emotions;\nfor (var i=0; i<emotions.length; i++) {\n    msg.payload = emotions[i].score;\n    msg.topic = emotions[i].tone_name;\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"x":780.0000610351562,"y":240,"wires":[["ae6b7158.51949","e2ab53bc.1d54b","afe43af3.501bc8"]]},{"id":"fb992a5f.0466d8","type":"function","z":"5ec6adda.a13954","name":"Extract emotion","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n//rename tone_id to topic\n                    \n//msg.payload = emotions;\nfor (var i=0; i<emotions.length; i++) {\n    msg.payload = emotions[i].score;\n    msg.topic = emotions[i].tone_name;\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"x":784.8333129882812,"y":286.0000305175781,"wires":[["cdd224e4.322dd8","46ff431f.b900bc"]]},{"id":"6c37005d.93c9","type":"function","z":"5ec6adda.a13954","name":"Extract emotion","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n//rename tone_id to topic\n                    \n//msg.payload = emotions;\nfor (var i=0; i<emotions.length; i++) {\n    msg.payload = emotions[i].score;\n    msg.topic = emotions[i].tone_name;\n    node.send(msg);\n    //node.warn(msg.topic);\n}\n","outputs":1,"noerr":0,"x":783.8334350585938,"y":330.3332214355469,"wires":[["4f30692f.b0cf98","962a1d59.69d5e"]]},{"id":"ae6b7158.51949","type":"ui_chart","z":"5ec6adda.a13954","name":"Concept 1 chart","group":"8c6b7d2b.73948","order":2,"width":0,"height":0,"label":"","chartType":"bar","legend":"true","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":966.4998779296875,"y":194.91671752929688,"wires":[[],[]]},{"id":"cdd224e4.322dd8","type":"ui_chart","z":"5ec6adda.a13954","name":"Concept 2 chart","group":"c17853e4.3e87b","order":2,"width":0,"height":0,"label":"","chartType":"bar","legend":"true","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":960.833251953125,"y":311.6667785644531,"wires":[[],[]]},{"id":"4f30692f.b0cf98","type":"ui_chart","z":"5ec6adda.a13954","name":"Concept 3 chart","group":"59a9dcd5.a65624","order":2,"width":0,"height":0,"label":"","chartType":"bar","legend":"true","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":964.1666259765625,"y":413.99993896484375,"wires":[[],[]]},{"id":"e2ab53bc.1d54b","type":"ui_text","z":"5ec6adda.a13954","group":"8c6b7d2b.73948","order":3,"width":"6","height":"3","name":"Tweet 1","label":"<img height=\"20\" width=\"25\" src=\"https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png\"/>","format":"{{msg.tweet.text}}","layout":"col-center","x":942.5,"y":160,"wires":[]},{"id":"afe43af3.501bc8","type":"debug","z":"5ec6adda.a13954","name":"","active":true,"console":"true","complete":"true","x":870.5,"y":107,"wires":[]},{"id":"46ff431f.b900bc","type":"ui_text","z":"5ec6adda.a13954","group":"c17853e4.3e87b","order":3,"width":"6","height":"3","name":"Tweet 2","label":"<img height=\"20\" width=\"25\" src=\"https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png\"/>","format":"{{msg.tweet.text}}","layout":"col-center","x":948,"y":270,"wires":[]},{"id":"962a1d59.69d5e","type":"ui_text","z":"5ec6adda.a13954","group":"59a9dcd5.a65624","order":3,"width":"6","height":"3","name":"Tweet 3","label":"<img height=\"20\" width=\"25\" src=\"https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png\"/>","format":"{{msg.tweet.text}}","layout":"col-center","x":945,"y":374,"wires":[]},{"id":"32ddd48a.cd222c","type":"ui_group","z":"5ec6adda.a13954","name":"Title","tab":"3c4451db.c3bbae","order":1,"disp":false,"width":"20"},{"id":"8c6b7d2b.73948","type":"ui_group","z":"5ec6adda.a13954","name":"1","tab":"3c4451db.c3bbae","order":2,"disp":false,"width":"6"},{"id":"c17853e4.3e87b","type":"ui_group","z":"5ec6adda.a13954","name":"2","tab":"3c4451db.c3bbae","order":3,"disp":false,"width":"6"},{"id":"59a9dcd5.a65624","type":"ui_group","z":"5ec6adda.a13954","name":"3","tab":"3c4451db.c3bbae","order":4,"disp":false,"width":"6"},{"id":"3c4451db.c3bbae","type":"ui_tab","z":"5ec6adda.a13954","name":"Home","icon":"dashboard"}]
