flows/Language Translation/LT_flow.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural

\f0\fs24 \cf0 [\{"id":"b7d18006.d9984","type":"watson-translate","name":"Translate to another Language","srclang":"en","destlang":"fr","domain":"conversational","x":437,"y":547,"z":"6f0da98d.8b486","wires":[["7b949bc6.956bf4"]]\},\{"id":"f0b18982.2b205","type":"inject","name":"Inject some text","topic":"","payload":"\\"Node-Red\\" & Watson is a strong combination","payloadType":"string","repeat":"","crontab":"","once":false,"x":199,"y":547,"z":"6f0da98d.8b486","wires":[["b7d18006.d9984"]]\},\{"id":"7b949bc6.956bf4","type":"debug","name":"translated text","active":false,"console":"false","complete":"payload","x":669,"y":547,"z":"6f0da98d.8b486","wires":[]\}]}