watson_advanced_labs/webcast_classifier_beta/wcc_phase1.json
[{"id":"91531aa2.6eace8","type":"watson-personality-insights","name":"","x":800,"y":223,"z":"6ff9a6da.900658","wires":[["4a4dedd6.b5b214"]]},{"id":"639f231.f9c60dc","type":"function","name":"Create url link","func":"var msg1,msg2;\nmsg1={};\nmsg2={};\n\nmsg1.payload=\"http://wncomplex.mybluemix.net/\"+msg.payload;\nmsg2.url=msg1.payload;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":343,"y":198,"z":"6ff9a6da.900658","wires":[["9e7d1411.6182e8"],["45528b5c.baad74"]]},{"id":"5df45aa3.a20ba4","type":"inject","name":"","topic":"","payload":"wc1","payloadType":"string","repeat":"","crontab":"","once":false,"x":168,"y":206,"z":"6ff9a6da.900658","wires":[["639f231.f9c60dc"]]},{"id":"4ffa01e4.b006","type":"inject","name":"","topic":"","payload":"apitestpage","payloadType":"string","repeat":"","crontab":"","once":false,"x":165,"y":162,"z":"6ff9a6da.900658","wires":[["639f231.f9c60dc"]]},{"id":"6ade79d1.952188","type":"inject","name":"","topic":"","payload":"wc2","payloadType":"string","repeat":"","crontab":"","once":false,"x":158,"y":244,"z":"6ff9a6da.900658","wires":[["639f231.f9c60dc"]]},{"id":"45528b5c.baad74","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":557,"y":225,"z":"6ff9a6da.900658","wires":[["91531aa2.6eace8"]]},{"id":"9e07e30c.61f82","type":"comment","name":"Website with test data","info":"","x":182,"y":109,"z":"6ff9a6da.900658","wires":[]},{"id":"9e7d1411.6182e8","type":"alchemy-feature-extract","name":"","apikey":"1b0bfda9f54943c66fac32f8c1a29ff25849785f","page-image":true,"image-kw":true,"feed":true,"entity":true,"keyword":true,"title":true,"author":true,"taxonomy":true,"concept":true,"relation":true,"pub-date":true,"doc-sentiment":true,"x":572,"y":137,"z":"6ff9a6da.900658","wires":[[]]},{"id":"4a4dedd6.b5b214","type":"debug","name":"","active":true,"console":"false","complete":"insights","x":1033,"y":215,"z":"6ff9a6da.900658","wires":[]}]