basic_examples/retrieve_and_rank/lab.json
[{"id":"92ed9fe6.8bffd","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":198,"y":198,"wires":[["8944d906.8711a8"]]},{"id":"8944d906.8711a8","type":"watson-retrieve-rank-create-cluster","z":"c759a611.651b38","name":"","clustername":"mycluster","clustersize":"free","x":473,"y":217,"wires":[["61f9068.853b6f8"]]},{"id":"61f9068.853b6f8","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":763,"y":241,"wires":[]},{"id":"fa36666c.c2d268","type":"comment","z":"c759a611.651b38","name":"1) Create a Cluster","info":"","x":204,"y":155,"wires":[]},{"id":"ca0a8180.00aa2","type":"comment","z":"c759a611.651b38","name":"2) Upload Solr Configuration","info":"","x":234,"y":298,"wires":[]},{"id":"fff0223b.812d1","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":360,"wires":[["7536ffa0.d4359"]]},{"id":"7536ffa0.d4359","type":"dropbox","z":"c759a611.651b38","dropbox":"","filename":"cranfield_solr_config.zip","name":"","x":380,"y":361,"wires":[["9765ab86.9ff858"]]},{"id":"9765ab86.9ff858","type":"watson-retrieve-rank-upload-solr-configuration","z":"c759a611.651b38","name":"","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","configname":"myconfigurationname","x":842,"y":393,"wires":[["6faa5e67.081a7"]]},{"id":"6faa5e67.081a7","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1147,"y":369,"wires":[]},{"id":"55eb9f0.0be2b6","type":"comment","z":"c759a611.651b38","name":"3) Create a Solr Collection","info":"","x":225,"y":437,"wires":[]},{"id":"7a8b2445.01ab5c","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":197,"y":501,"wires":[["ac5b11b1.b10dd"]]},{"id":"ac5b11b1.b10dd","type":"watson-retrieve-rank-solr-collection","z":"c759a611.651b38","name":"Create Solr Collection","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","collectionname":"mycollectionname","mode":"create","configname":"myconfigurationname","x":439,"y":519,"wires":[["564c40eb.07e31"]]},{"id":"564c40eb.07e31","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":776,"y":499,"wires":[]},{"id":"54d21252.ebf34c","type":"comment","z":"c759a611.651b38","name":"4) Index Documents","info":"","x":208,"y":577,"wires":[]},{"id":"89ee0fb2.0234d","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":173,"y":631,"wires":[["17a6fc8.a979a04"]]},{"id":"17a6fc8.a979a04","type":"dropbox","z":"c759a611.651b38","dropbox":"","filename":"cranfield_data.json","name":"","x":412,"y":658,"wires":[["a434b415.291f28"]]},{"id":"a434b415.291f28","type":"watson-retrieve-rank-solr-collection","z":"c759a611.651b38","name":"Index Documents","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","collectionname":"mycollectionname","mode":"index","configname":"","x":795,"y":648,"wires":[["7b674e70.45bc1"]]},{"id":"7b674e70.45bc1","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1087,"y":608,"wires":[]},{"id":"e3863bf7.416228","type":"comment","z":"c759a611.651b38","name":"5) Create Ranker","info":"","x":205,"y":724,"wires":[]},{"id":"b78fd6c6.3c3ba8","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152,"y":789,"wires":[["bca876d6.78c2f8"]]},{"id":"d15fdfeb.d1926","type":"watson-retrieve-rank-create-ranker","z":"c759a611.651b38","name":"","rankername":"myranker","x":808,"y":812,"wires":[["fe554c43.1ab2e"]]},{"id":"bca876d6.78c2f8","type":"dropbox","z":"c759a611.651b38","dropbox":"","filename":"training_data.txt","name":"","x":364,"y":804,"wires":[["d15fdfeb.d1926"]]},{"id":"fe554c43.1ab2e","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1081,"y":802,"wires":[]},{"id":"d78a5283.0835a","type":"comment","z":"c759a611.651b38","name":"6) Search the collection (Retrieve)","info":"","x":262,"y":892,"wires":[]},{"id":"fb1b5b9a.cd24b8","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":143,"y":956,"wires":[["ceaa1069.4cff6"]]},{"id":"e14dbe29.d84f9","type":"watson-retrieve-rank-solr-collection","z":"c759a611.651b38","name":"","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","collectionname":"mycollectionname","mode":"search","configname":"","x":748,"y":975,"wires":[["9288059d.f2fd68"]]},{"id":"9288059d.f2fd68","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1087,"y":946,"wires":[]},{"id":"ceaa1069.4cff6","type":"function","z":"c759a611.651b38","name":"Add search query","func":"msg.payload = \"q=what is the basic mechanism of the transonic aileron buzz\";\nreturn msg;","outputs":1,"noerr":0,"x":411,"y":965,"wires":[["e14dbe29.d84f9"]]},{"id":"80b3985.9c0b568","type":"comment","z":"c759a611.651b38","name":"7) Rerank the search results (Retrieve and Rank)","info":"","x":311,"y":1049,"wires":[]},{"id":"ebfc37ff.876db8","type":"inject","z":"c759a611.651b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":1125,"wires":[["32e8ce91.8bbd72"]]},{"id":"1dfedef7.8954b1","type":"watson-retrieve-rank-search-and-rank","z":"c759a611.651b38","name":"","clusterid":"sc7a964c38_a8fb_4d31_ac84_1f6979671608","collectionname":"mycollectionname","searchmode":"search-and-rank","rankerid":"868fedx13-rank-1129","x":734,"y":1172,"wires":[["995f79b7.026228"]]},{"id":"32e8ce91.8bbd72","type":"function","z":"c759a611.651b38","name":"Add search query","func":"msg.payload = \"q=what is the basic mechanism of the transonic aileron buzz\";\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":1157,"wires":[["1dfedef7.8954b1"]]},{"id":"995f79b7.026228","type":"debug","z":"c759a611.651b38","name":"","active":true,"console":"false","complete":"false","x":1062,"y":1128,"wires":[]},{"id":"2de1405c.14a94","type":"comment","z":"c759a611.651b38","name":"Link to Lab instructions","info":"See corresponding Lab instructions in the link below :\n\n[Watson Retrieve and Rank](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/retrieve_and_rank)\n","x":185,"y":56,"wires":[]},{"id":"807bae7a.49cff","type":"comment","z":"c759a611.651b38","name":"Make sure you bind Retrieve and Rank Service to Node-RED App !","info":"When running in IBM Cloud, the credentials for the service will be filled-in from IBM Cloud credentials management.\nFor this to work, the Retrieve and Rank Service has to be bound to the Node-RED application.\n","x":657,"y":58,"wires":[]}]