watson_advanced_labs/alchemy_output_table/AApi-table-flow.txt
[{"id":"4637b407.20e85c","type":"alchemy-feature-extract","name":"extract","apikey":"","page-image":false,"image-kw":false,"feed":false,"entity":false,"keyword":true,"title":false,"author":false,"taxonomy":false,"concept":false,"relation":false,"pub-date":false,"doc-sentiment":false,"x":294,"y":102,"z":"2252abdb.a5042c","wires":[["a9a640b0.703db8"]]},{"id":"372ada0a.dc7536","type":"template","name":"create html table","field":"features","format":"handlebars","template":"\n<pre>\n{{taxonomy_str}}\n{{features_str}}\n{{text_str}}\n</pre>  \n<form  action=\"{{req._parsedUrl.pathname}}\">\n        <input type=\"text\" value=\"{{payload.fetext}}\" name=\"fetext\">\n        <input type=\"submit\" value=\"Try again\"/>\n    </form>\n    <p>The Output is based on this text: {{payload.fetext}}<br/><br/><br/>{{payload}}</p>\n    <!--form  action=\"{{req._parsedUrl.pathname}}\"-->\n        <!--input type=\"text\" value=\"{{payload.fetext}}\" name=\"fetext\"-->\n        <!--input type=\"submit\" value=\"Try again\"/-->\n    </form>\n","x":432,"y":26,"z":"2252abdb.a5042c","wires":[["3dcfd670.930ed2"]]},{"id":"df95acae.9aebe8","type":"http response","name":"resp","x":772,"y":26,"z":"2252abdb.a5042c","wires":[]},{"id":"2ba36def.739552","type":"http in","name":"response","url":"/resp","method":"get","swaggerDoc":"","x":72,"y":30,"z":"2252abdb.a5042c","wires":[["4db9a98d.1089d"]]},{"id":"3dcfd670.930ed2","type":"template","name":"payload","field":"payload","format":"handlebars","template":"Create Alchemy API output\n{{{features}}}\n{{{text}}}","x":609,"y":26,"z":"2252abdb.a5042c","wires":[["df95acae.9aebe8"]]},{"id":"4db9a98d.1089d","type":"switch","name":"","property":"payload.fetext","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":216,"y":32,"z":"2252abdb.a5042c","wires":[["372ada0a.dc7536"],["ffccbe8e.89fbb8"]]},{"id":"ffccbe8e.89fbb8","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.payload.fetext"}],"action":"","property":"","from":"","to":"","reg":false,"x":117,"y":102,"z":"2252abdb.a5042c","wires":[["4637b407.20e85c"]]},{"id":"a9a640b0.703db8","type":"function","name":"get features","func":"msg.features_str=util.inspect(msg.features.keyword);\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":102,"z":"2252abdb.a5042c","wires":[["372ada0a.dc7536"]]}]