watson_services_labs/alchemy_api_feature_extraction/lab_alchemy_api_feature_extraction_flows.json
[{"id":"36836238.c97c9e","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":147,"y":98,"z":"105f75a9.efa08a","wires":[["42cb0b57.bd34f4"]]},{"id":"42cb0b57.bd34f4","type":"function","name":"","func":"msg.payload=\"AlchemyAPI uses natural language processing, artificial intelligence, deep learning and massive-scale web crawling to power it's text analysis capabilities. Try entering your own text in this text box to see what knowledge AlchemyAPI can extract from your unstructured data\";\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":95,"z":"105f75a9.efa08a","wires":[["4439ce17.bbc63"]]},{"id":"4439ce17.bbc63","type":"alchemy-feature-extract","name":"","apikey":"","page-image":true,"image-kw":true,"feed":true,"entity":true,"keyword":true,"title":true,"author":true,"taxonomy":true,"concept":true,"relation":true,"pub-date":true,"doc-sentiment":true,"x":495,"y":83,"z":"105f75a9.efa08a","wires":[["f8de7dd4.07218"]]},{"id":"f8de7dd4.07218","type":"debug","name":"","active":true,"console":"true","complete":"features","x":723,"y":82,"z":"105f75a9.efa08a","wires":[]},{"id":"a94aad35.56b55","type":"http request","name":"","method":"GET","ret":"txt","url":"ibm.com","x":318,"y":165,"z":"105f75a9.efa08a","wires":[["4439ce17.bbc63"]]},{"id":"31d0a86.fce2f58","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":150,"y":166,"z":"105f75a9.efa08a","wires":[["a94aad35.56b55"]]}]