basic_examples/language_translator/language_identify_flow.txt
[{"id":"ea5c5d47.c41bb","type":"watson-language-translator-identify","z":"37730b3a.c6f034","name":"","x":315,"y":304,"wires":[["148a95ee.6994ba","65680f08.8ae5e"]]},{"id":"a421f263.5b32e","type":"inject","z":"37730b3a.c6f034","name":"NL text","topic":"","payload":"hallo dit is een test","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.5,"y":312,"wires":[["ea5c5d47.c41bb"]]},{"id":"cc0339bd.5e4418","type":"comment","z":"37730b3a.c6f034","name":"IDENTIFY LANGUAGES","info":"","x":117,"y":231,"wires":[]},{"id":"148a95ee.6994ba","type":"debug","z":"37730b3a.c6f034","name":"","active":true,"console":"false","complete":"lang","x":512,"y":302,"wires":[]},{"id":"7db04ada.d35c34","type":"inject","z":"37730b3a.c6f034","name":"FR text","topic":"","payload":"Bonjour ceci est un test","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.5,"y":354,"wires":[["ea5c5d47.c41bb"]]},{"id":"63133052.1b744","type":"inject","z":"37730b3a.c6f034","name":"EN text","topic":"","payload":"hello, this is a test !","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.5,"y":272,"wires":[["ea5c5d47.c41bb"]]},{"id":"65680f08.8ae5e","type":"debug","z":"37730b3a.c6f034","name":"","active":true,"console":"false","complete":"languages","x":533.5,"y":345.5,"wires":[]}]