basic_examples/language_translator/lang_delete_flow.json
[{"id":"3542bebb.3d0672","type":"inject","z":"730e20a4.bb4248","name":"Delete","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":82.5,"y":624,"wires":[["38137ffd.6adce"]]},{"id":"c28ac653.6463e8","type":"debug","z":"730e20a4.bb4248","name":"","active":true,"console":"false","complete":"true","x":504.5,"y":624,"wires":[]},{"id":"38137ffd.6adce","type":"watson-translator","z":"730e20a4.bb4248","name":"","action":"delete","basemodel":"ar-en","domain":"news","srclang":"ar","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"b8f0e247-bec7-42e6-af3e-e9ec37ba088c","lgparams2":true,"ldparamshidden2":"true","x":299.5,"y":624.5,"wires":[["c28ac653.6463e8"]]}]