basic_examples/language_translator/lang_complete_flow.json
[{"id":"4279bece.59aed","type":"watson-translator","z":"730e20a4.bb4248","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"fr","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":467,"y":109,"wires":[["ab73e25a.5ffd88"]]},{"id":"4d99e330.32b104","type":"inject","z":"730e20a4.bb4248","name":"Translate","topic":"","payload":"Hello I am Watson. I am very happy to translate you this message. Have a lovely day. Bye.","payloadType":"str","repeat":"","crontab":"","once":false,"x":107.5,"y":111,"wires":[["4279bece.59aed"]]},{"id":"914e2316.2e1808","type":"comment","z":"730e20a4.bb4248","name":"NEW nodes for Language Translator service (and Identify)","info":"","x":215,"y":23,"wires":[]},{"id":"ab73e25a.5ffd88","type":"debug","z":"730e20a4.bb4248","name":"","active":true,"console":"false","complete":"false","x":679,"y":109,"wires":[]},{"id":"b938cda5.e2bac8","type":"watson-translator-util","z":"730e20a4.bb4248","name":"","x":161,"y":765,"wires":[[]]},{"id":"30e9a3cf.235bdc","type":"function","z":"730e20a4.bb4248","name":"dynamic config","func":"msg.srclang='en';\nmsg.destlang='fr';\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":149,"wires":[["4279bece.59aed"]]},{"id":"47b74dee.5de61c","type":"inject","z":"730e20a4.bb4248","name":"Translate","topic":"","payload":"Hello I am Watson. I am very happy to translate you this message. Have a lovely day. Bye.","payloadType":"str","repeat":"","crontab":"","once":false,"x":107.5,"y":149,"wires":[["30e9a3cf.235bdc"]]},{"id":"c499f925.93057","type":"watson-language-translator-identify","z":"730e20a4.bb4248","name":"","x":307,"y":305,"wires":[["d0299eea.eb3ad","28b9e8ff.189ea"]]},{"id":"818d5f4a.da2068","type":"inject","z":"730e20a4.bb4248","name":"NL text","topic":"","payload":"hallo dit is een test","payloadType":"str","repeat":"","crontab":"","once":false,"x":74.5,"y":313,"wires":[["c499f925.93057"]]},{"id":"2c02d9e0.90151e","type":"comment","z":"730e20a4.bb4248","name":"IDENTIFY LANGUAGES","info":"","x":109,"y":232,"wires":[]},{"id":"d0299eea.eb3ad","type":"debug","z":"730e20a4.bb4248","name":"","active":true,"console":"false","complete":"lang","x":504,"y":303,"wires":[]},{"id":"d68bb0c3.aee96","type":"comment","z":"730e20a4.bb4248","name":"LANGUAGE TRANSLATION. (ex: EN to FR)","info":"","x":165.5,"y":62,"wires":[]},{"id":"88923fba.e24148","type":"inject","z":"730e20a4.bb4248","name":"FR text","topic":"","payload":"Bonjour ceci est un test","payloadType":"str","repeat":"","crontab":"","once":false,"x":75.5,"y":353,"wires":[["c499f925.93057"]]},{"id":"52f79aa4.effd04","type":"inject","z":"730e20a4.bb4248","name":"EN text","topic":"","payload":"hello, this is a test !","payloadType":"str","repeat":"","crontab":"","once":false,"x":74.5,"y":273,"wires":[["c499f925.93057"]]},{"id":"28b9e8ff.189ea","type":"debug","z":"730e20a4.bb4248","name":"","active":true,"console":"false","complete":"languages","x":525.5,"y":346.5,"wires":[]},{"id":"efa6ea98.03355","type":"comment","z":"730e20a4.bb4248","name":"TRAINING MODE","info":"The example below is used to use the new Training feature of the Language Translation service.","x":88,"y":418,"wires":[]},{"id":"6ac7659f.1b6a1c","type":"inject","z":"730e20a4.bb4248","name":"getStatus","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92.5,"y":544,"wires":[["4b883788.6008f"]]},{"id":"6ea1a30f.f91f94","type":"debug","z":"730e20a4.bb4248","name":"","active":true,"console":"false","complete":"payload","x":529.5,"y":544,"wires":[]},{"id":"252c5170.8f9ac6","type":"inject","z":"730e20a4.bb4248","name":"Train","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":82.5,"y":460,"wires":[["207643c2.86c284"]]},{"id":"207643c2.86c284","type":"dropbox","z":"730e20a4.bb4248","dropbox":"","filename":"glossary.tmx","name":"Glossary","x":232.5,"y":460,"wires":[["bf794d44.88b39"]]},{"id":"41221bad.aca994","type":"debug","z":"730e20a4.bb4248","name":"","active":true,"console":"false","complete":"payload","x":617.5,"y":460,"wires":[]},{"id":"3542bebb.3d0672","type":"inject","z":"730e20a4.bb4248","name":"Delete","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":82.5,"y":624,"wires":[["38137ffd.6adce"]]},{"id":"c28ac653.6463e8","type":"debug","z":"730e20a4.bb4248","name":"","active":true,"console":"false","complete":"true","x":504.5,"y":624,"wires":[]},{"id":"bf794d44.88b39","type":"watson-translator","z":"730e20a4.bb4248","name":"","action":"train","basemodel":"en-fr","domain":"news","srclang":"ar","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"en-fr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":417.5,"y":459.5,"wires":[["41221bad.aca994"]]},{"id":"4b883788.6008f","type":"watson-translator","z":"730e20a4.bb4248","name":"","action":"getstatus","basemodel":"ar-en","domain":"news","srclang":"ar","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"b8f0e247-bec7-42e6-af3e-e9ec37ba088c","lgparams2":true,"ldparamshidden2":"true","x":300.5,"y":543.5,"wires":[["6ea1a30f.f91f94"]]},{"id":"38137ffd.6adce","type":"watson-translator","z":"730e20a4.bb4248","name":"","action":"delete","basemodel":"ar-en","domain":"news","srclang":"ar","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"b8f0e247-bec7-42e6-af3e-e9ec37ba088c","lgparams2":true,"ldparamshidden2":"true","x":299.5,"y":624.5,"wires":[["c28ac653.6463e8"]]},{"id":"61f61114.3dde88","type":"comment","z":"730e20a4.bb4248","name":"Language Translator UTIL NODE","info":"The example below is used to use the new Training feature of the Language Translation service.","x":139,"y":699,"wires":[]}]