basic_examples/language_translator/lang_getstatus_flow.json
[{"id":"6ac7659f.1b6a1c","type":"inject","z":"730e20a4.bb4248","name":"getStatus","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92.5,"y":544,"wires":[["4b883788.6008f"]]},{"id":"6ea1a30f.f91f94","type":"debug","z":"730e20a4.bb4248","name":"","active":true,"console":"false","complete":"payload","x":529.5,"y":544,"wires":[]},{"id":"4b883788.6008f","type":"watson-translator","z":"730e20a4.bb4248","name":"","action":"getstatus","basemodel":"ar-en","domain":"news","srclang":"ar","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"b8f0e247-bec7-42e6-af3e-e9ec37ba088c","lgparams2":true,"ldparamshidden2":"true","x":300.5,"y":543.5,"wires":[["6ea1a30f.f91f94"]]}]