basic_examples/language_translator/language_translator_flow.txt
[{"id":"4279bece.59aed","type":"watson-translator","z":"730e20a4.bb4248","name":"","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"fr","password":"","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":467,"y":109,"wires":[["ab73e25a.5ffd88"]]},{"id":"4d99e330.32b104","type":"inject","z":"730e20a4.bb4248","name":"Translate","topic":"","payload":"Hello I am Watson. I am very happy to translate you this message. Have a lovely day. Bye.","payloadType":"str","repeat":"","crontab":"","once":false,"x":107.5,"y":111,"wires":[["4279bece.59aed"]]},{"id":"ab73e25a.5ffd88","type":"debug","z":"730e20a4.bb4248","name":"","active":true,"console":"false","complete":"false","x":679,"y":109,"wires":[]},{"id":"30e9a3cf.235bdc","type":"function","z":"730e20a4.bb4248","name":"dynamic config","func":"msg.srclang='en';\nmsg.destlang='fr';\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":149,"wires":[["4279bece.59aed"]]},{"id":"47b74dee.5de61c","type":"inject","z":"730e20a4.bb4248","name":"Translate","topic":"","payload":"Hello I am Watson. I am very happy to translate you this message. Have a lovely day. Bye.","payloadType":"str","repeat":"","crontab":"","once":false,"x":107.5,"y":149,"wires":[["30e9a3cf.235bdc"]]},{"id":"d68bb0c3.aee96","type":"comment","z":"730e20a4.bb4248","name":"LANGUAGE TRANSLATION. (ex: EN to FR)","info":"","x":165.5,"y":62,"wires":[]}]