basic_examples/language_translator/lang_train_flow.json
[{"id":"efa6ea98.03355","type":"comment","z":"730e20a4.bb4248","name":"TRAINING MODE","info":"The example below is used to use the new Training feature of the Language Translation service.","x":88,"y":418,"wires":[]},{"id":"252c5170.8f9ac6","type":"inject","z":"730e20a4.bb4248","name":"Train","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":82.5,"y":460,"wires":[["207643c2.86c284"]]},{"id":"207643c2.86c284","type":"dropbox","z":"730e20a4.bb4248","dropbox":"","filename":"glossary.tmx","name":"Glossary","x":232.5,"y":460,"wires":[["bf794d44.88b39"]]},{"id":"41221bad.aca994","type":"debug","z":"730e20a4.bb4248","name":"","active":true,"console":"false","complete":"payload","x":617.5,"y":460,"wires":[]},{"id":"bf794d44.88b39","type":"watson-translator","z":"730e20a4.bb4248","name":"","action":"train","basemodel":"en-fr","domain":"news","srclang":"ar","destlang":"en","password":"","custom":"","domainhidden":"news","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"en-fr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":417.5,"y":459.5,"wires":[["41221bad.aca994"]]}]