basic_examples/language_identification/lang_identification_flow.json
[{"id":"b466290.3afee58","type":"debug","name":"Identified Language","active":true,"console":"false","complete":"lang","x":595,"y":264,"z":"aca22afb.b0f","wires":[]},{"id":"1c6083dd.d7ddb4","type":"watson-language-identification","name":"Indentify Language","x":352,"y":264,"z":"aca22afb.b0f","wires":[["b466290.3afee58"]]},{"id":"aea16fb1.7e6b8","type":"inject","name":"Inject some text","topic":"","payload":"hallo dit is een test","payloadType":"string","repeat":"","crontab":"","once":false,"x":130,"y":264,"z":"aca22afb.b0f","wires":[["1c6083dd.d7ddb4"]]}]