basic_examples/tone_analyser/flow.json
[{"id":"35b0f3cd.5246cc","type":"inject","z":"af032e77.be59","name":"String","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":50,"wires":[["d1c96044.158ce"]]},{"id":"dd657597.28c0d8","type":"watson-tone-analyzer","z":"af032e77.be59","name":"","tones":"all","sentences":"true","x":526,"y":59.73333740234375,"wires":[["8003a076.2af3b"]]},{"id":"8003a076.2af3b","type":"debug","z":"af032e77.be59","name":"","active":true,"console":"false","complete":"response","x":725.5000610351562,"y":60.93333435058594,"wires":[]},{"id":"d1c96044.158ce","type":"function","z":"af032e77.be59","name":"String","func":"var data = \"Hi Team, I know the times are difficult! Our sales have been disappointing for the past three quarters for our data analytics product suite. We have a competitive data analytics product suite in the industry. But we need to do our job selling it!\";\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":258.5,"y":52.933349609375,"wires":[["dd657597.28c0d8"]]},{"id":"ccbac19.30d944","type":"dropbox","z":"af032e77.be59","dropbox":"","filename":"tone_analyser_sample.txt","name":"","x":352.5,"y":136,"wires":[["dd657597.28c0d8"]]},{"id":"51fd9f4c.8bf3a","type":"inject","z":"af032e77.be59","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105.5,"y":142,"wires":[["ccbac19.30d944"]]},{"id":"30ece320.d58ddc","type":"inject","z":"af032e77.be59","name":"JSON (error)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115.5,"y":286,"wires":[["9ea0bccf.5f1a7"]]},{"id":"9ea0bccf.5f1a7","type":"function","z":"af032e77.be59","name":"JSON (error)","func":"var data = {\n    \"data1\": \"Hi Team, I know the times are difficult! Our sales have been disappointing for the past three quarters for our data analytics product suite. We have a competitive data analytics product suite in the industry. But we need to do our job selling it! \",\n    \"data2\": \"Hi Team, I know the times are difficult! Our sales have been disappointing for the past three quarters for our data analytics product suite. We have a competitive data analytics product suite in the industry. But we need to do our job selling it! \",\n    \"data3\": \"Hi Team, I know the times are difficult! Our sales have been disappointing for the past three quarters for our data analytics product suite. We have a competitive data analytics product suite in the industry. But we need to do our job selling it! \"\n    \n};\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":288,"wires":[["dd657597.28c0d8"]]},{"id":"724b8966.0e6348","type":"http request","z":"af032e77.be59","name":"Get Buffer => Binary","method":"GET","ret":"bin","url":"https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/dialog/download/Exercise_8_end.xml","x":325,"y":213,"wires":[["9316d2a1.c335","dd657597.28c0d8"]]},{"id":"88e0c133.1d07f","type":"inject","z":"af032e77.be59","name":"Buffer Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":197,"wires":[["724b8966.0e6348"]]},{"id":"9316d2a1.c335","type":"debug","z":"af032e77.be59","name":"","active":true,"console":"false","complete":"true","x":536.5,"y":215,"wires":[]}]
