basic_examples/tone_analyser/flow.json
[{"id":"c5a4f05e.d2c01","type":"inject","z":"85a610.3d9991f","name":"String","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":52,"wires":[["e78ff9df.2648d8"]]},{"id":"2ce5d405.580d34","type":"watson-tone-analyzer","z":"85a610.3d9991f","name":"","tones":"all","sentences":"true","x":572,"y":118.73333740234375,"wires":[["18d459cd.8ed5e6"]]},{"id":"18d459cd.8ed5e6","type":"debug","z":"85a610.3d9991f","name":"","active":true,"console":"false","complete":"response","x":749.5000610351562,"y":117.93333435058594,"wires":[]},{"id":"e78ff9df.2648d8","type":"function","z":"85a610.3d9991f","name":"Prepare Request","func":"var data = \"Hi Team, I know the times are difficult! Our sales have been disappointing for the past three quarters for our data analytics product suite. We have a competitive data analytics product suite in the industry. But we need to do our job selling it!\";\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":330.5,"y":51.933349609375,"wires":[["2ce5d405.580d34"]]},{"id":"f7f20221.249d18","type":"dropbox","z":"85a610.3d9991f","dropbox":"","filename":"tone_analyser_sample.txt","name":"","x":329.5,"y":118,"wires":[["2ce5d405.580d34"]]},{"id":"1f97e903.64e32f","type":"inject","z":"85a610.3d9991f","name":"From Dropbox","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116.5,"y":118,"wires":[["f7f20221.249d18"]]},{"id":"a258cb44.69fee8","type":"http request","z":"85a610.3d9991f","name":"Get Buffer => Binary","method":"GET","ret":"bin","url":"https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/dialog/download/Exercise_8_end.xml","x":339,"y":180,"wires":[["2ce5d405.580d34"]]},{"id":"476c9666.25fff8","type":"inject","z":"85a610.3d9991f","name":"Buffer Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109,"y":180,"wires":[["a258cb44.69fee8"]]}]