basic_examples/document_conversion/document-conversion.flow
[{"id":"f1ee2f14.c359b8","type":"debug","z":"30e23c09.a7874c","name":"","active":true,"console":"false","complete":"false","x":653,"y":155,"wires":[]},{"id":"7e036ac5.6f9c6c","type":"convert","z":"30e23c09.a7874c","name":"","target":"NORMALIZED_HTML","username":"8fcf57b2-b8fd-47a7-a3b4-451dbe9bb868","password":"POXQrT1WZF6S","service":"GNFConvert","x":463,"y":155,"wires":[["f1ee2f14.c359b8"]]},{"id":"24d8f0a7.bd73f8","type":"box","z":"30e23c09.a7874c","box":"","filename":"Genaro Nieto - CV 20160404.pdf","name":"CV","x":292,"y":155,"wires":[["f1ee2f14.c359b8","7e036ac5.6f9c6c"]]},{"id":"4f23daed.6d5624","type":"inject","z":"30e23c09.a7874c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":134,"y":155.5,"wires":[["24d8f0a7.bd73f8"]]}]