basic_examples/document_conversion/document-conversion.flow
[{"id":"b7bb4dba.1fa5d8","type":"convert","z":"30e23c09.a7874c","name":"","target":"NORMALIZED_TEXT","username":"","password":"","service":"","x":685,"y":800,"wires":[["7af48112.5e307"]]},{"id":"7af48112.5e307","type":"debug","z":"30e23c09.a7874c","name":"plain text","active":true,"console":"false","complete":"payload","x":884,"y":800,"wires":[]},{"id":"e51a280f.2758c","type":"function","z":"30e23c09.a7874c","name":"document location & options","func":"msg = {\n    payload: 'https://www.ibm.com/developerworks/community/blogs/efc1d8f5-72e5-4c4f-99df-e74fccea10ca/resource/White%20Papers/IBMWatsonNextGenerationofCognitiveSystemswhitepaper.pdf?lang=en',\n    pdf: {\n        \"heading\": {\n            \"fonts\": [\n                {\"level\": 1, \"min_size\": 24, \"max_size\": 80},\n                {\"level\": 2, \"min_size\": 18, \"max_size\": 24, \"bold\": false, \"italic\": false},\n                {\"level\": 2, \"min_size\": 18, \"max_size\": 24, \"bold\": true},\n                {\"level\": 3, \"min_size\": 13, \"max_size\": 18, \"bold\": false, \"italic\": false},\n                {\"level\": 3, \"min_size\": 13, \"max_size\": 18, \"bold\": true},\n                {\"level\": 4, \"min_size\": 11, \"max_size\": 13, \"bold\": true, \"italic\": false}\n            ]\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":418,"y":800,"wires":[["b7bb4dba.1fa5d8"]]},{"id":"f73526ee.77434","type":"inject","z":"30e23c09.a7874c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157,"y":800,"wires":[["e51a280f.2758c"]]}]