basic_examples/speech_to_text/s2t_url_flow.json
[{
  "id": "3ebbca92.fb5366",
  "type": "inject",
  "z": "be41e0e.58b392",
  "name": ".wav URL",
  "topic": "",
  "payload": "http://sd-2.archive-host.com/membres/up/102033098234604628/SpaceShuttle.wav",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": "",
  "x": 113,
  "y": 482,
  "wires": [
    ["e829215a.bddd4"]
  ]
}, {
  "id": "e829215a.bddd4",
  "type": "watson-speech-to-text",
  "z": "be41e0e.58b392",
  "name": "",
  "alternatives": "",
  "speakerlabels": false,
  "smartformatting": false,
  "lang": "en-US",
  "langhidden": "en-US",
  "langcustom": "NoCustomisationSetting",
  "langcustomhidden": "NoCustomisationSetting",
  "band": "BroadbandModel",
  "bandhidden": "BroadbandModel",
  "password": "",
  "payload-response": false,
  "streaming-mode": false,
  "default-endpoint": false,
  "service-endpoint": "",
  "x": 333,
  "y": 482,
  "wires": [
    ["8ed1f8ca.86ce88"]
  ]
}, {
  "id": "8ed1f8ca.86ce88",
  "type": "debug",
  "z": "be41e0e.58b392",
  "name": "",
  "active": true,
  "console": "false",
  "complete": "transcription",
  "x": 583,
  "y": 482,
  "wires": []
}]
