basic_examples/speech_to_text/s2t_bluemix_box_flow.json
[  
   {  
      "id":"c4da882b.077fd8",
      "type":"inject",
      "z":"8164d243.b4fb2",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":140,
      "y":80,
      "wires":[  
         [  
            "a615ca2a.e720f8"
         ]
      ]
   },
   {  
      "id":"a615ca2a.e720f8",
      "type":"dropbox",
      "z":"8164d243.b4fb2",
      "dropbox":"",
      "filename":"SpaceShuttle.wav",
      "name":"Dropbox",
      "x":340,
      "y":80,
      "wires":[  
         [  
            "9ffaff9e.c3be3"
         ]
      ]
   },
   {  
      "id":"9ffaff9e.c3be3",
      "type":"watson-speech-to-text",
      "z":"8164d243.b4fb2",
      "name":"",
      "lang":"en-US",
      "band":"BroadbandModel",
      "continuous":"true",
      "x":560,
      "y":80,
      "wires":[  
         [  
            "47635d0c.b14a44"
         ]
      ]
   },
   {  
      "id":"47635d0c.b14a44",
      "type":"debug",
      "z":"8164d243.b4fb2",
      "name":"",
      "active":true,
      "console":"false",
      "complete":"transcription",
      "x":810,
      "y":80,
      "wires":[  

      ]
   }
]
