basic_examples/discovery/discovery_lab.json
[{"id":"528db419.f1c39c","type":"watson-discovery-v1-query-builder","z":"908bbb3c.6f4b38","name":"Build Query","password":"","environment":"","environmenthidden":"","collection":"","collectionhidden":"","query1":"entities.text","query1hidden":"entities.text","queryvalue1":"watson","queryvalue1hidden":"watson","query2":"entities.text","query2hidden":"entities.text","queryvalue2":"facebook","queryvalue2hidden":"facebook","query3":"docSentiment.type","query3hidden":"docSentiment.type","queryvalue3":"positive","queryvalue3hidden":"positive","x":329,"y":342,"wires":[["d879afec.0a435"]]},{"id":"7cf3fc7.60cc404","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"List Environments","environmentname":"","environment_id":"","collection_id":"","discovery-method":"listEnvrionments","x":281,"y":36,"wires":[["3e32245d.c4ef5c"]]},{"id":"9ae25f11.9d1de","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102.5,"y":36,"wires":[["7cf3fc7.60cc404"]]},{"id":"3e32245d.c4ef5c","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"environments","x":487.5,"y":36,"wires":[]},{"id":"76f5a49.2b57d5c","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.5,"y":79,"wires":[["f8c9d56d.6b6898"]]},{"id":"f8c9d56d.6b6898","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"Environment Details","environmentname":"Environment Details","environment_id":"","collection_id":"","discovery-method":"getEnvironmentDetails","x":286,"y":79,"wires":[["a0a4a4a9.2ec5d8"]]},{"id":"a0a4a4a9.2ec5d8","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"environment_details","x":518.5,"y":80,"wires":[]},{"id":"35fff36e.e0b38c","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.5,"y":122,"wires":[["72c58c34.a96634"]]},{"id":"72c58c34.a96634","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"List Collections","environmentname":"","environment_id":"","collection_id":"","discovery-method":"listCollections","x":266,"y":123,"wires":[["df2ef8b3.2982d8"]]},{"id":"df2ef8b3.2982d8","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"collections","x":451.5,"y":123,"wires":[]},{"id":"9e6c959d.924878","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"Collection Details","environmentname":"","environment_id":"","collection_id":"","discovery-method":"getCollectionDetails","x":274,"y":167,"wires":[["308eac08.79a964"]]},{"id":"cd8bd067.30621","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98.5,"y":166,"wires":[["9e6c959d.924878"]]},{"id":"308eac08.79a964","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"collection_details","x":486.5,"y":166,"wires":[]},{"id":"430dde40.e91c6","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"List Configurations","environmentname":"","environment_id":"","collection_id":"","configurationname":"","configuration_id":"","discovery-method":"listConfigurations","x":273,"y":207,"wires":[["23e7a88.0a6fe58"]]},{"id":"8557f325.51892","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97.5,"y":205,"wires":[["430dde40.e91c6"]]},{"id":"23e7a88.0a6fe58","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"configurations","x":477,"y":206,"wires":[]},{"id":"2ad3c4a5.8449ac","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"Configuration Details","environmentname":"","environment_id":"","collection_id":"","configurationname":"","configuration_id":"","discovery-method":"getConfigurationDetails","x":284,"y":247,"wires":[["65917d35.1470f4"]]},{"id":"722dac71.04e1d4","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.5,"y":246,"wires":[["2ad3c4a5.8449ac"]]},{"id":"65917d35.1470f4","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"configuration_details","x":517,"y":247,"wires":[]},{"id":"7e407b9a.aa09c4","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"Query","environmentname":"","environment_id":"","collection_id":"","configurationname":"","configuration_id":"","count":"10","query":"text:Broncos","filter":"","aggregation":"term(text)","return":"text,website","discovery-method":"query","x":228,"y":288,"wires":[["e88c7e71.dfefc"]]},{"id":"e88c7e71.dfefc","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"true","complete":"search_results","x":443,"y":288,"wires":[]},{"id":"df2aaee8.7303a","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91.5,"y":287,"wires":[["7e407b9a.aa09c4"]]},{"id":"3dd49f37.03058","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"true","complete":"discoveryparams","x":345.5,"y":394,"wires":[]},{"id":"ed1c1a04.2bcb08","type":"inject","z":"908bbb3c.6f4b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":93,"y":341,"wires":[["528db419.f1c39c"]]},{"id":"574c75fa.abbf3c","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"Collection Details","environmentname":"","environment_id":"","collection_id":"","discovery-method":"getCollectionDetails","x":337,"y":433,"wires":[["f7e9acc3.1b0bc"]]},{"id":"f7e9acc3.1b0bc","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"false","complete":"collection_details","x":545,"y":433,"wires":[]},{"id":"a7cdabaa.60bac8","type":"watson-discovery-v1","z":"908bbb3c.6f4b38","name":"Query Search","environmentname":"","environment_id":"","collection_id":"","configurationname":"","configuration_id":"","count":"5","query":"","filter":"","aggregation":"","return":"text","discovery-method":"query","x":330,"y":473,"wires":[["6cde2745.621808"]]},{"id":"6cde2745.621808","type":"debug","z":"908bbb3c.6f4b38","name":"","active":true,"console":"true","complete":"search_results","x":528,"y":473,"wires":[]},{"id":"d879afec.0a435","type":"link out","z":"908bbb3c.6f4b38","name":"Discovery Query Set","links":["cfbae644.31f7e8","a433deb6.a90b8","4c5f1a8d.d5d254"],"x":519,"y":342,"wires":[]},{"id":"cfbae644.31f7e8","type":"link in","z":"908bbb3c.6f4b38","name":"Discovery Params","links":["d879afec.0a435"],"x":205,"y":394,"wires":[["3dd49f37.03058"]]},{"id":"a433deb6.a90b8","type":"link in","z":"908bbb3c.6f4b38","name":"Discovery Collections","links":["d879afec.0a435"],"x":204,"y":434,"wires":[["574c75fa.abbf3c"]]},{"id":"4c5f1a8d.d5d254","type":"link in","z":"908bbb3c.6f4b38","name":"Discovery Query Execute","links":["d879afec.0a435"],"x":202,"y":475,"wires":[["a7cdabaa.60bac8"]]}]
