watson_services_labs/visual_recognition/Reco-Lab-WebPage.json


[
  {
    "id": "99cd6f6a.147ae",
    "type": "watson-visual-recognition",
    "name": "",
    "x": 542,
    "y": 307,
    "wires": [
      [
        "25699d65.bcf17a"
      ]
    ]
  },
  {
    "id": "52bedda6.5f6fdc",
    "type": "http in",
    "name": "",
    "url": "\/reco",
    "method": "get",
    "swaggerDoc": "",
    "x": 160,
    "y": 125,
    "wires": [
      [
        "b2105f77.d22cb"
      ]
    ]
  },
  {
    "id": "531aa621.2fd37",
    "type": "http response",
    "name": "HTTP Response",
    "x": 828,
    "y": 190,
    "wires": [
      
    ]
  },
  {
    "id": "b2105f77.d22cb",
    "type": "switch",
    "name": "Check image param",
    "property": "payload.imageurl",
    "rules": [
      {
        "t": "null"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "outputs": 2,
    "x": 284,
    "y": 187,
    "wires": [
      [
        "a07fb791.06f72"
      ],
      [
        "8233012.715c88"
      ]
    ]
  },
  {
    "id": "a07fb791.06f72",
    "type": "template",
    "name": "Get Image URL",
    "field": "payload",
    "format": "html",
    "template": "<h1>Welcome to the Watson Visual Recognition Demo on Node-RED<\/h1>\n<h2>Select an image URL<\/h2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http:\/\/visual-recognition-demo.mybluemix.net\/images\/horses.jpg\" height='100'\/>\n    <img src=\"http:\/\/visual-recognition-demo.mybluemix.net\/images\/73388.jpg\" height='100'\/>\n    <img src=\"http:\/\/visual-recognition-demo.mybluemix.net\/images\/26537.jpg\" height='100'\/>\n    <img src=\"http:\/\/visual-recognition-demo.mybluemix.net\/images\/4068.jpg\" height='100'\/>\n    <br\/>Copy above image location URL or enter any image URL:<br\/>\n    <input type=\"text\" name=\"imageurl\"\/>\n    <input type=\"submit\" value=\"Analyze\"\/>\n<\/form>",
    "x": 578,
    "y": 156,
    "wires": [
      [
        "531aa621.2fd37"
      ]
    ]
  },
  {
    "id": "25699d65.bcf17a",
    "type": "template",
    "name": "Report",
    "field": "payload",
    "format": "html",
    "template": "<h1>Visual Recognition<\/h1>\n<p>Analyzed image: {{payload}}<br\/><img src=\"{{payload}}\" height='100'\/><\/p>\n<table border='1'>\n    <thead><tr><th>Name<\/th><th>Score<\/th><\/tr><\/thead>\n{{#labels}}\n  <tr><td><b>{{label_name}}<\/b><\/td><td><i>{{label_score}}<\/i><\/td><\/tr>\n{{\/labels}}\n<\/table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"\/>\n<\/form>",
    "x": 673,
    "y": 224,
    "wires": [
      [
        "531aa621.2fd37"
      ]
    ]
  },
  {
    "id": "8233012.715c88",
    "type": "change",
    "name": "Extract img URL",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "to": "msg.payload.imageurl"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 245,
    "wires": [
      [
        "99cd6f6a.147ae"
      ]
    ]
  },
  {
    "id": "79431c21.52306c",
    "type": "comment",
    "name": "!!Make sure you bind Visual Recognition Service to Node-RED App!!",
    "info": "When running in BlueMix, the credentials for the service will be filled-in from BMix credentials management.\nFor this to work, the Visual Recognition Service has to be bound to the Node-RED application.\n",
    "x": 549,
    "y": 342,
    "wires": [
      
    ]
  }
]

