advanced_examples/visual_recognition_file_send/files/full_flow.js
[{"id":"c6ae51d8.148ab8","type":"http in","z":"2b799def.485c7a","name":"Get homepage","url":"/homepage","method":"get","swaggerDoc":"","x":189,"y":140,"wires":[["4c2070c2.6eca88"]]},{"id":"4c2070c2.6eca88","type":"template","z":"2b799def.485c7a","name":"Form and Response Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <html>\n     <body>\n        <form action=\"/classify\" method=\"post\" enctype=\"multipart/form-data\">\n            <input type=\"file\" name=\"pic\" accept=\"image/*\"><br>\n            <input type=\"submit\" value=\"Submit\">\n        </form> \n        <div>Classifications:</div>\n        <div>\n            {{#result}}\n            <table>\n            <tr>\n                <th>Class</th>\n                <th>Score</th>\n                <th>Type</th>\n            </tr>\n            {{#images}}\n            {{#.}}\n            {{#classifiers}}\n            {{#.}}\n            {{#classes}}\n            {{#.}}\n                <tr>\n                    <td>{{class}}</td>\n                    <td>{{score}}</td> \n                    <td>{{&type_hierarchy}}</td>\n                </tr>                \n            {{/.}} \n            {{/classes}}            \n            {{/.}}            \n            {{/classifiers}}\n            {{/.}}\n            {{/images}}\n            </table>\n            {{/result}}\n        </div>\n     </body>\n</html>","x":425.5,"y":181,"wires":[["a51cc790.e76d"]]},{"id":"a51cc790.e76d","type":"http response","z":"2b799def.485c7a","name":"","x":616,"y":134,"wires":[]},{"id":"86347a29.b4129","type":"function","z":"2b799def.485c7a","name":"Determine File Path","func":"if (msg.req.files) {\n    var files = Object.keys(msg.req.files);\n    msg.payload = msg.req.files[files[0]][0].path;    \n}\nreturn msg;","outputs":1,"noerr":0,"x":242.5,"y":328,"wires":[["23cf1da4.526d52"]]},{"id":"23cf1da4.526d52","type":"file-buffer","z":"2b799def.485c7a","name":"","mode":"asBuffer","x":355,"y":397,"wires":[["af7a994e.c414b8"]]},{"id":"af7a994e.c414b8","type":"visual-recognition-v3","z":"2b799def.485c7a","name":"","apikey":"","image-feature":"classifyImage","lang":"en","x":497.5,"y":326,"wires":[["5cea4761.23143","4c2070c2.6eca88"]]},{"id":"5cea4761.23143","type":"debug","z":"2b799def.485c7a","name":"","active":true,"console":"false","complete":"result","x":648.5,"y":394,"wires":[]},{"id":"85d213bb.65eb08","type":"httpInMultipart","z":"2b799def.485c7a","name":"Classify Image","url":"/classify","method":"post","fields":"[{ \"name\":\"pic\"}]","swaggerDoc":"","x":134.5,"y":270,"wires":[["86347a29.b4129"]]}]
