starter-kits/selfie_training/selfie_training.json
[{"id":"69fb2135.13af9","type":"similarity-search-v3","z":"96300133.f33de","name":"","apikey":"","image-feature":"findSimilar","lang":"","x":680.5,"y":586,"wires":[["feb3bedd.2491f"]]},{"id":"5d0dd309.c753ac","type":"similarity-search-util-v3","z":"96300133.f33de","name":"add image","apikey":"","image-feature":"addImage","x":818.5,"y":394,"wires":[["5bcd912c.14817"]]},{"id":"b4e8b212.12694","type":"inject","z":"96300133.f33de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102,"y":82,"wires":[["56cd6ebb.a766e"]]},{"id":"5bcd912c.14817","type":"debug","z":"96300133.f33de","name":"","active":false,"console":"false","complete":"payload","x":1019.5,"y":429,"wires":[]},{"id":"a5139f7c.170d8","type":"inject","z":"96300133.f33de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101.5,"y":154,"wires":[["94f5abe4.575078"]]},{"id":"94f5abe4.575078","type":"similarity-search-util-v3","z":"96300133.f33de","name":"list collections","apikey":"","image-feature":"listCollections","x":680,"y":154,"wires":[["707e792d.9555d8"]]},{"id":"3876e373.1a0c3c","type":"camera","z":"96300133.f33de","name":"someone","x":100.5,"y":586,"wires":[["2cb777c3.f0bb68"]]},{"id":"4685e6f2.f50b88","type":"similarity-search-util-v3","z":"96300133.f33de","name":"delete collection","apikey":"","image-feature":"deleteCollection","x":680.5,"y":190,"wires":[["707e792d.9555d8"]]},{"id":"85463c43.a2d6f","type":"inject","z":"96300133.f33de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":190,"wires":[["bf74aaa2.78afb8"]]},{"id":"31fb7ca9.2edf44","type":"similarity-search-util-v3","z":"96300133.f33de","name":"create collection","apikey":"","image-feature":"createCollection","x":469,"y":82,"wires":[["acb298c5.1ad2d8"]]},{"id":"d571dc21.daae3","type":"camera","z":"96300133.f33de","name":"anna selfie","x":104,"y":394,"wires":[["2fd6cb2c.4a0d14"]]},{"id":"3b7aec6.1515114","type":"similarity-search-util-v3","z":"96300133.f33de","name":"list images","apikey":"","image-feature":"listImages","x":689,"y":118,"wires":[["707e792d.9555d8"]]},{"id":"e2aa47ff.f7e3a8","type":"inject","z":"96300133.f33de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102,"y":118,"wires":[["3311e304.ed14bc"]]},{"id":"56cd6ebb.a766e","type":"change","z":"96300133.f33de","name":"set collection name","rules":[{"t":"set","p":"params","pt":"msg","to":"{\"name\": \"selfie\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":274.5,"y":82,"wires":[["31fb7ca9.2edf44"]]},{"id":"acb298c5.1ad2d8","type":"change","z":"96300133.f33de","name":"set global collection id","rules":[{"t":"set","p":"selfie_collection","pt":"global","to":"payload.collection_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":674,"y":82,"wires":[["6f48e63.b5ac918"]]},{"id":"cbb8f9c4.e3f8d8","type":"inject","z":"96300133.f33de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101.5,"y":730,"wires":[["e2854478.f31038"]]},{"id":"e2854478.f31038","type":"change","z":"96300133.f33de","name":"get collection id from global","rules":[{"t":"set","p":"payload","pt":"msg","to":"selfie_collection","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":308.5,"y":730,"wires":[["f7556fc7.c22c4"]]},{"id":"f7556fc7.c22c4","type":"debug","z":"96300133.f33de","name":"","active":true,"console":"false","complete":"false","x":526.5,"y":730,"wires":[]},{"id":"2e5d714c.531a8e","type":"change","z":"96300133.f33de","name":"set collection id from global","rules":[{"t":"set","p":"params.collection_id","pt":"msg","to":"selfie_collection","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":468,"y":394,"wires":[["b4a497f8.444b48"]]},{"id":"8d2d3e91.17ac5","type":"change","z":"96300133.f33de","name":"set collection id from global","rules":[{"t":"set","p":"params.collection_id","pt":"msg","to":"selfie_collection","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":459,"y":118,"wires":[["3b7aec6.1515114"]]},{"id":"159820d3.974a5f","type":"change","z":"96300133.f33de","name":"set collection id from global","rules":[{"t":"set","p":"params.collection_id","pt":"msg","to":"selfie_collection","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":461,"y":190,"wires":[["4685e6f2.f50b88"]]},{"id":"9ba8a7bb.7e11e8","type":"comment","z":"96300133.f33de","name":"utilities","info":"","x":91.5,"y":46,"wires":[]},{"id":"cbfd487b.c6e6d8","type":"similarity-search-util-v3","z":"96300133.f33de","name":"add image","apikey":"","image-feature":"addImage","x":819.5,"y":430,"wires":[["5bcd912c.14817"]]},{"id":"ddd62882.9be1b8","type":"camera","z":"96300133.f33de","name":"gib selfie","x":103,"y":430,"wires":[["e9e41a3.22066e8"]]},{"id":"3945a03c.c24f8","type":"change","z":"96300133.f33de","name":"set collection id from global","rules":[{"t":"set","p":"params.collection_id","pt":"msg","to":"selfie_collection","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":467,"y":430,"wires":[["f0e216d.86cabe8"]]},{"id":"8ca5a85.d196458","type":"similarity-search-util-v3","z":"96300133.f33de","name":"add image","apikey":"","image-feature":"addImage","x":820.5,"y":467,"wires":[["5bcd912c.14817"]]},{"id":"db8126ae.880398","type":"camera","z":"96300133.f33de","name":"chris selfie","x":103,"y":467,"wires":[["c8155fb9.2140f"]]},{"id":"6f07e053.e4e4b","type":"change","z":"96300133.f33de","name":"set collection id from global","rules":[{"t":"set","p":"params.collection_id","pt":"msg","to":"selfie_collection","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":467,"y":467,"wires":[["d8106d4e.c21a1"]]},{"id":"2ae8e3ea.02db8c","type":"change","z":"96300133.f33de","name":"set collection id from global","rules":[{"t":"set","p":"params.collection_id","pt":"msg","to":"selfie_collection","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":586,"wires":[["69fb2135.13af9"]]},{"id":"a21f39d2.94b388","type":"comment","z":"96300133.f33de","name":"get current collection id","info":"","x":141.5,"y":694,"wires":[]},{"id":"99826fa4.9272d","type":"comment","z":"96300133.f33de","name":"guess who it is","info":"","x":121.5,"y":549,"wires":[]},{"id":"707e792d.9555d8","type":"debug","z":"96300133.f33de","name":"","active":false,"console":"false","complete":"payload","x":874,"y":155,"wires":[]},{"id":"6f48e63.b5ac918","type":"debug","z":"96300133.f33de","name":"","active":false,"console":"false","complete":"payload","x":866,"y":82,"wires":[]},{"id":"3a78b6c1.700fda","type":"comment","z":"96300133.f33de","name":"training","info":"","x":93,"y":357,"wires":[]},{"id":"2fd6cb2c.4a0d14","type":"change","z":"96300133.f33de","name":"set params","rules":[{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":255.5,"y":394,"wires":[["2e5d714c.531a8e"]]},{"id":"e9e41a3.22066e8","type":"change","z":"96300133.f33de","name":"set params","rules":[{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":430,"wires":[["3945a03c.c24f8"]]},{"id":"c8155fb9.2140f","type":"change","z":"96300133.f33de","name":"set params","rules":[{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":467,"wires":[["6f07e053.e4e4b"]]},{"id":"3311e304.ed14bc","type":"change","z":"96300133.f33de","name":"set params","rules":[{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":118,"wires":[["8d2d3e91.17ac5"]]},{"id":"bf74aaa2.78afb8","type":"change","z":"96300133.f33de","name":"set params","rules":[{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":251.5,"y":190,"wires":[["159820d3.974a5f"]]},{"id":"2cb777c3.f0bb68","type":"change","z":"96300133.f33de","name":"set params","rules":[{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":249,"y":586,"wires":[["2ae8e3ea.02db8c"]]},{"id":"5c280218.ca92fc","type":"debug","z":"96300133.f33de","name":"","active":false,"console":"false","complete":"payload","x":1037.5,"y":288,"wires":[]},{"id":"e92e49fd.622e38","type":"inject","z":"96300133.f33de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102,"y":288,"wires":[["953cae2c.03aac"]]},{"id":"953cae2c.03aac","type":"similarity-search-util-v3","z":"96300133.f33de","name":"list collections","apikey":"","image-feature":"listCollections","x":261,"y":288,"wires":[["2d02a106.b5c95e"]]},{"id":"2d02a106.b5c95e","type":"change","z":"96300133.f33de","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.collections","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":439.5,"y":288,"wires":[["efe69c1b.a978d"]]},{"id":"efe69c1b.a978d","type":"split","z":"96300133.f33de","name":"","splt":"\\n","x":590.5,"y":288,"wires":[["f38ad64d.6da138"]]},{"id":"f38ad64d.6da138","type":"change","z":"96300133.f33de","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":742,"y":288,"wires":[["470871c4.b98e9"]]},{"id":"470871c4.b98e9","type":"similarity-search-util-v3","z":"96300133.f33de","name":"delete","apikey":"","image-feature":"deleteCollection","x":893,"y":288,"wires":[["5c280218.ca92fc"]]},{"id":"49cc2ff0.f8cc7","type":"comment","z":"96300133.f33de","name":"delete all collections","info":"","x":131.5,"y":253,"wires":[]},{"id":"b4a497f8.444b48","type":"change","z":"96300133.f33de","name":"set name","rules":[{"t":"set","p":"params.metadata","pt":"msg","to":"{\"name\": \"anna\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":667,"y":394,"wires":[["5d0dd309.c753ac"]]},{"id":"f0e216d.86cabe8","type":"change","z":"96300133.f33de","name":"set name","rules":[{"t":"set","p":"params.metadata","pt":"msg","to":"{\"name\": \"gib\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":668,"y":430,"wires":[["cbfd487b.c6e6d8"]]},{"id":"d8106d4e.c21a1","type":"change","z":"96300133.f33de","name":"set name","rules":[{"t":"set","p":"params.metadata","pt":"msg","to":"{\"name\": \"chris\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":668,"y":467,"wires":[["8ca5a85.d196458"]]},{"id":"c0803050.3c1eb","type":"split","z":"96300133.f33de","name":"","splt":"\\n","x":588.5,"y":630,"wires":[["8b4b0ecf.ffe53"]]},{"id":"c47eaff5.e131a","type":"change","z":"96300133.f33de","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.similar_images","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":431.5,"y":630,"wires":[["c0803050.3c1eb"]]},{"id":"8b4b0ecf.ffe53","type":"function","z":"96300133.f33de","name":"set payload","func":"msg.payload = msg.payload.metadata.name + \n    ': ' + msg.payload.score + '%';\nreturn msg;","outputs":1,"noerr":0,"x":729.5,"y":630,"wires":[["6e460899.fdf038"]]},{"id":"6e460899.fdf038","type":"debug","z":"96300133.f33de","name":"","active":true,"console":"false","complete":"false","x":889.5,"y":630,"wires":[]},{"id":"fbf4bbe1.e76c08","type":"link in","z":"96300133.f33de","name":"","links":["feb3bedd.2491f"],"x":311.5,"y":630,"wires":[["c47eaff5.e131a"]]},{"id":"feb3bedd.2491f","type":"link out","z":"96300133.f33de","name":"","links":["fbf4bbe1.e76c08"],"x":801.5,"y":586,"wires":[]}]
