starter-kits/ok_watson/ok-watson-starter-flow.json
[{"id":"b4c26b69.f14068","type":"twitter out","z":"98844892.e7e9a8","twitter":"","name":"Tweet","x":1082.5665016174316,"y":281.31124782562256,"wires":[]},{"id":"4f458bc.87c9c74","type":"inject","z":"98844892.e7e9a8","name":"demos","topic":"","payload":"Do you have any demos?","payloadType":"str","repeat":"","crontab":"","once":false,"x":198.64984130859375,"y":556.3946499824524,"wires":[["dfa28a25.e64c88"]]},{"id":"6e8dcbb1.5d4e34","type":"watson-conversation-v1","z":"98844892.e7e9a8","name":"","workspaceid":"","multiuser":false,"context":true,"x":671.5664939880371,"y":323.3946189880371,"wires":[["80320f8f.df366"]]},{"id":"48ff9240.0b119c","type":"watson-speech-to-text","z":"98844892.e7e9a8","name":"","continuous":true,"lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"","password":"","x":161.81650161743164,"y":325.64460468292236,"wires":[["c8e94ee1.b6a0a"]]},{"id":"9ad7647f.fb2898","type":"watson-text-to-speech","z":"98844892.e7e9a8","name":"","lang":"en-GB","langhidden":"en-GB","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"","x":1111.5665035247803,"y":352.7279682159424,"wires":[["3fb7049c.822e6c"]]},{"id":"c8e94ee1.b6a0a","type":"function","z":"98844892.e7e9a8","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":325.81650161743164,"y":325.64459705352783,"wires":[["ab8ff8e8.4a95c8"]]},{"id":"3fb7049c.822e6c","type":"function","z":"98844892.e7e9a8","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1282.2332553863525,"y":352.7279682159424,"wires":[["8171a1ee.472bf"]]},{"id":"8171a1ee.472bf","type":"play audio","z":"98844892.e7e9a8","name":"","x":1441.5665493011475,"y":352.7279682159424,"wires":[]},{"id":"846ba766.31c498","type":"inject","z":"98844892.e7e9a8","name":"","topic":"","payload":"Set user details","payloadType":"str","repeat":"","crontab":"","once":false,"x":152.81649780273438,"y":137.394624710083,"wires":[["6a691cd5.866464"]]},{"id":"d4700a1a.175ae8","type":"watson-conversation-v1","z":"98844892.e7e9a8","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":547.8998146057129,"y":1567.0612773895264,"wires":[["abe22654.d21d48"]]},{"id":"e8178f2e.05d7b","type":"inject","z":"98844892.e7e9a8","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":138.8998146057129,"y":1485.0612773895264,"wires":[["7b6b2284.28a29c"]]},{"id":"a0986324.48305","type":"inject","z":"98844892.e7e9a8","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":139.3998146057129,"y":1522.0612773895264,"wires":[["7b6b2284.28a29c"]]},{"id":"7b6b2284.28a29c","type":"function","z":"98844892.e7e9a8","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":310.3998146057129,"y":1521.0612773895264,"wires":[["d4700a1a.175ae8"]]},{"id":"e8d9001f.14da5","type":"inject","z":"98844892.e7e9a8","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":137.8998146057129,"y":1606.0612773895264,"wires":[["3b1f69ca.2d0f76"]]},{"id":"f4aabb0d.50a8c8","type":"inject","z":"98844892.e7e9a8","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":138.3998146057129,"y":1642.0612773895264,"wires":[["3b1f69ca.2d0f76"]]},{"id":"3b1f69ca.2d0f76","type":"function","z":"98844892.e7e9a8","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":309.3998146057129,"y":1641.0612773895264,"wires":[["d4700a1a.175ae8"]]},{"id":"abe22654.d21d48","type":"debug","z":"98844892.e7e9a8","name":"","active":true,"console":"false","complete":"payload.output.text","x":766.8998146057129,"y":1567.0612773895264,"wires":[]},{"id":"55d91fdd.0c64b","type":"inject","z":"98844892.e7e9a8","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":314.8998146057129,"y":1388.0612773895264,"wires":[["d4700a1a.175ae8"]]},{"id":"e2922c7b.84db1","type":"inject","z":"98844892.e7e9a8","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":314.8998146057129,"y":1424.0612773895264,"wires":[["d4700a1a.175ae8"]]},{"id":"aca47c4e.dabb5","type":"inject","z":"98844892.e7e9a8","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":186.3998146057129,"y":1736.0612773895264,"wires":[["533f26f7.ca9ac8"]]},{"id":"533f26f7.ca9ac8","type":"function","z":"98844892.e7e9a8","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":331.3998146057129,"y":1736.0612773895264,"wires":[["d4700a1a.175ae8"]]},{"id":"c59e9e45.ef664","type":"inject","z":"98844892.e7e9a8","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":139.3998146057129,"y":1558.0612773895264,"wires":[["7b6b2284.28a29c"]]},{"id":"a12e2cac.10e18","type":"inject","z":"98844892.e7e9a8","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":137.8998146057129,"y":1678.0612773895264,"wires":[["3b1f69ca.2d0f76"]]},{"id":"850c9938.8ac4f8","type":"inject","z":"98844892.e7e9a8","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":314.8998146057129,"y":1460.0612773895264,"wires":[["d4700a1a.175ae8"]]},{"id":"3c39332d.270fec","type":"microphone","z":"98844892.e7e9a8","name":"","x":151.06650161743164,"y":277.3945941925049,"wires":[["48ff9240.0b119c"]]},{"id":"be8bade9.ffd55","type":"inject","z":"98844892.e7e9a8","name":"","topic":"","payload":"reset context","payloadType":"str","repeat":"","crontab":"","once":false,"x":143.81649780273438,"y":102.06128120422363,"wires":[["3a20c28f.ec6a0e"]]},{"id":"3a20c28f.ec6a0e","type":"function","z":"98844892.e7e9a8","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":315.8164978027344,"y":102.06128883361816,"wires":[["58284305.7a40ac"]]},{"id":"6a691cd5.866464","type":"function","z":"98844892.e7e9a8","name":"add context","func":"msg.additional_context = {\n    twitter: {\n    handle: \"a_twitter_handle_without_the_at_symbol\",\n    dm: false\n}}\nreturn msg;","outputs":1,"noerr":0,"x":315.64979553222656,"y":137.06131172180176,"wires":[["58284305.7a40ac"]]},{"id":"80320f8f.df366","type":"function","z":"98844892.e7e9a8","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    if (output && output.indexOf(\"|tweet:\") > -1) {\n        node.warn(\"tweeting\");\n        if (\n            msg.payload.context.twitter &&\n            msg.payload.context.twitter.handle \n            ) {\n            \n            // extract text and url to tweet and clean up strings\n            var tweet = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"tweet:\") > -1 ;\n                }).join(', ').replace(\"tweet:\", '');\n            var url = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"link:\") > -1 ;\n                }).join(', ').replace(\"link:\", '');\n            \n            // dm switch\n            var dmswitch = '';\n            if (msg.payload.context.twitter.dm && msg.payload.context.twitter.dm === true){\n                dmswitch = \"DM \";\n            }\n            // construct tweet\n            tweet = dmswitch + \"@\" + msg.payload.context.twitter.handle + \" \" + tweet + \" \" + url;\n            \n            msg.payload = tweet;\n            node.warn(\"Sending string to twitter node: \\n\" + tweet)\n            node.send([msg,null]);\n            \n        } else {node.error(\"no twitter details\");}\n    } else {\n        node.warn(\"no tweet requested\");\n    }\n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":"2","noerr":0,"x":875.7331504821777,"y":322.0612602233887,"wires":[["b4c26b69.f14068"],["9ad7647f.fb2898"]]},{"id":"ab8ff8e8.4a95c8","type":"link out","z":"98844892.e7e9a8","name":"gototone","links":["4ea3303.5ce80d","8c51e19e.481ae"],"x":432.36954498291016,"y":371.89460945129395,"wires":[]},{"id":"3340e3db.28e95c","type":"link in","z":"98844892.e7e9a8","name":"convIn","links":["2d45ab7c.a3f424","58284305.7a40ac","63a9061a.4b8b78"],"x":550.4832427501678,"y":368.72793197631836,"wires":[["6e8dcbb1.5d4e34"]]},{"id":"e87488c6.710728","type":"inject","z":"98844892.e7e9a8","name":"Hi","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"x":197.81649780273438,"y":518.8113059997559,"wires":[["dfa28a25.e64c88"]]},{"id":"4e62fb30.6b2724","type":"inject","z":"98844892.e7e9a8","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":170.06649780273438,"y":592.3113069534302,"wires":[["dfa28a25.e64c88"]]},{"id":"8c0a5cf3.2dc8b","type":"inject","z":"98844892.e7e9a8","name":"Happy feedback","topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":169.56649780273438,"y":628.0613079071045,"wires":[["dfa28a25.e64c88"]]},{"id":"8c51e19e.481ae","type":"link in","z":"98844892.e7e9a8","name":"","links":["ab8ff8e8.4a95c8","dfa28a25.e64c88"],"x":558.543360710144,"y":563.0705909729004,"wires":[["7c421eff.24a32","13dbaa28.0dea36"]]},{"id":"7c421eff.24a32","type":"debug","z":"98844892.e7e9a8","name":"","active":true,"console":"false","complete":"false","x":686.0433616638184,"y":519.7372770309448,"wires":[]},{"id":"2d45ab7c.a3f424","type":"link out","z":"98844892.e7e9a8","name":"","links":["3340e3db.28e95c"],"x":1061.7933731079102,"y":559.9039640426636,"wires":[]},{"id":"13dbaa28.0dea36","type":"watson-tone-analyzer-v3","z":"98844892.e7e9a8","name":"","tones":"emotion","sentences":"false","contentType":"false","x":693.2933616638184,"y":559.6539344787598,"wires":[["343f341.551f3cc"]]},{"id":"343f341.551f3cc","type":"function","z":"98844892.e7e9a8","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":907.8766784667969,"y":560.5705909729004,"wires":[["2d45ab7c.a3f424"]]},{"id":"dfa28a25.e64c88","type":"link out","z":"98844892.e7e9a8","name":"frommaninputs","links":["4ea3303.5ce80d","8c51e19e.481ae"],"x":430.2476978302002,"y":562.5596046447754,"wires":[]},{"id":"58284305.7a40ac","type":"link out","z":"98844892.e7e9a8","name":"adminout","links":["3340e3db.28e95c"],"x":435.2603850364685,"y":119.6567211151123,"wires":[]},{"id":"4ba10b.46831ef4","type":"comment","z":"98844892.e7e9a8","name":"config","info":"","x":96.96913146972656,"y":61.81818389892578,"wires":[]},{"id":"7d9e9e4d.05291","type":"comment","z":"98844892.e7e9a8","name":"speech in","info":"","x":107.29338455200195,"y":241.92937755584717,"wires":[]},{"id":"d6f08555.9f07b8","type":"comment","z":"98844892.e7e9a8","name":"test txt in","info":"","x":104.79338073730469,"y":479.42944145202637,"wires":[]},{"id":"a44a2996.c53348","type":"comment","z":"98844892.e7e9a8","name":"tone analyser","info":"","x":608.5433959960938,"y":476.92941761016846,"wires":[]},{"id":"ff1de88f.7b5cd8","type":"comment","z":"98844892.e7e9a8","name":"conversations call and output","info":"","x":653.5434226989746,"y":248.17937660217285,"wires":[]}]
