basic_examples/deprecated_nodes/concept_insights/concept-insights-ted-talks-lab-1.json
[{"id":"68199cb3.fe1c04","type":"watson-concept-insights-corpus","z":"a357c155.90e77","cname":"","access":"private","corpusmode":"public","publiccorpus":"TEDTalks"},{"id":"9c096565.591678","type":"http in","z":"a357c155.90e77","name":"HTTP GET /TEDTalks","url":"/TEDTalks","method":"get","swaggerDoc":"","x":150,"y":124,"wires":[["312a45b7.d00d4a"]]},{"id":"312a45b7.d00d4a","type":"function","z":"a357c155.90e77","name":"Extract concept parameter","func":"msg.payload = msg.payload.concept;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":192,"wires":[["74cb108e.90449"]]},{"id":"757b14c4.dcccbc","type":"http response","z":"a357c155.90e77","name":"HTTP Response","x":1269,"y":363,"wires":[]},{"id":"74cb108e.90449","type":"watson-concept-insights-search-concepts","z":"a357c155.90e77","x":670,"y":256,"wires":[["5feaa655.fd3a68"]]},{"id":"5feaa655.fd3a68","type":"watson-concept-insights-search","z":"a357c155.90e77","name":"","corpus":"68199cb3.fe1c04","mode":"corpus","docapicall":"annotations","corpusapicall":"conceptualsearch","docname":"","query":"","x":983,"y":301,"wires":[["757b14c4.dcccbc"]]}]