starter-kits/interpreter/interpreter.json
[{"id":"1c8825ed.12a4b2","type":"change","z":"d28de54c.c37f9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040.5,"y":414,"wires":[["58b9fe42.02c05"]]},{"id":"997e2d1a.3cfd","type":"microphone","z":"d28de54c.c37f9","name":"","x":683,"y":414,"wires":[["85531939.0d235"]]},{"id":"8ef2eb0c.d7166","type":"play audio","z":"d28de54c.c37f9","name":"","x":1217,"y":590,"wires":[]},{"id":"85531939.0d235","type":"watson-speech-to-text","z":"d28de54c.c37f9","name":"","continuous":true,"lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"","password":"","x":858.5,"y":414,"wires":[["1c8825ed.12a4b2"]]},{"id":"5fb5ce07.1a814","type":"watson-text-to-speech","z":"d28de54c.c37f9","name":"","lang":"fr-FR","langhidden":"fr-FR","voice":"fr-FR_ReneeVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"3ZGefNoaLIZw","x":852.5,"y":590,"wires":[["8778cab0.08ee28"]]},{"id":"8778cab0.08ee28","type":"change","z":"d28de54c.c37f9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1039.5,"y":590,"wires":[["8ef2eb0c.d7166"]]},{"id":"58b9fe42.02c05","type":"watson-translator","z":"d28de54c.c37f9","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"fr","password":"Kj8gJxS4UKYN","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":1253.5,"y":413.75,"wires":[["5fb5ce07.1a814"]]}]
