introduction_to_node_red/example_web_req_resp_flow.json
[{"id":"f5ae1c0d.90ef08","type":"http in","name":"","url":"/doit","method":"get","swaggerDoc":"","x":78,"y":166,"wires":[["d43ea310.578d08"]]},{"id":"12ea24ad.6f080b","type":"http response","name":"HTTP Response","x":842,"y":167,"wires":[]},{"id":"d43ea310.578d08","type":"switch","name":"Check parameter","property":"payload.some_parameter","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":259,"y":165,"wires":[["96e85338.999d18"],["fe0154cc.8f4888"]]},{"id":"96e85338.999d18","type":"template","name":"Generate Page","field":"payload","format":"html","template":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Web page response</title>\n</head>\n<body>\n{{#processed_param}}\n<h1>Process parameter</h1>\n<p>Parameter value {{payload.some_parameter}} processed to <cite>{{processed_param}}</cite></p>\n{{/processed_param}}\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    Parameter value: <input type=\"text\" name=\"some_parameter\" value='{{payload.some_parameter}}'/>\n    <input type=\"submit\" value=\"Process Parameter\"/>\n</form>\n</body>\n</html>","x":645,"y":163,"wires":[["12ea24ad.6f080b"]]},{"id":"fe0154cc.8f4888","type":"function","name":"Do something useful","func":"// input param from user will be at msg.payload.some_parameter\n// here we just copy it to the payload\nmsg.processed_param=msg.payload.some_parameter;\nreturn msg;","outputs":1,"noerr":0,"x":463,"y":274,"wires":[["96e85338.999d18"]]}]