introduction_to_node_red/example_inspect_object_flow.json
[{"id":"c5e62c3c.46c068","type":"http in","name":"","url":"/inspect","method":"get","swaggerDoc":"","x":148,"y":112,"wires":[["147d7ce8.e1faab"]]},{"id":"629f08c9.053738","type":"http response","name":"","x":689,"y":115,"wires":[]},{"id":"147d7ce8.e1faab","type":"function","name":"Inspect req","func":"// Set req_str to an inspected\nmsg.reqStr=util.inspect(msg.req);\nreturn msg;","outputs":1,"noerr":0,"x":298,"y":119,"wires":[["66eddeae.a036e"]]},{"id":"66eddeae.a036e","type":"template","name":"Show reqStr","field":"payload","format":"handlebars","template":"<h1>Example request inspect</h1>\n<p>This is the content of the msg.req</p>\n<pre>\n{{reqStr}}\n</pre>","x":491,"y":112,"wires":[["629f08c9.053738"]]}]