files/Language Identification/LI_flow
[{"id":"c2645d94.3273a8","type":"debug","name":"Identified Language","active":false,"console":"false","complete":"lang","x":658,"y":610,"z":"6f0da98d.8b486","wires":[]},{"id":"7c410cd4.3efa44","type":"watson-language-identification","name":"Indentify Language","x":429,"y":610,"z":"6f0da98d.8b486","wires":[[]]},{"id":"bf539fc.8ab97e","type":"inject","name":"Inject some text","topic":"","payload":"'tekst uit een boek'","payloadType":"string","repeat":"","crontab":"","once":false,"x":193,"y":610,"z":"6f0da98d.8b486","wires":[["7c410cd4.3efa44","c2645d94.3273a8"]]}]