starter-kits/accessibility/accessibility.json
[{"id":"3b91e817.36b798","type":"camera","z":"e6e5d1d5.e784b","name":"","x":144,"y":50.33332824707031,"wires":[["2392d1e5.37b16e"]]},{"id":"2392d1e5.37b16e","type":"visual-recognition-v3","z":"e6e5d1d5.e784b","name":"","apikey":"08883940bfef32259fe3428bd9def9802fd3f67e","image-feature":"recognizeText","lang":"en","x":249.33334350585938,"y":119.55554962158203,"wires":[["6b29d7f3.236c98"]]},{"id":"a246dd06.2c6a1","type":"watson-text-to-speech","z":"e6e5d1d5.e784b","name":"","lang":"en-US","langhidden":"en-US","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"e13p42nt5","x":544.2222290039062,"y":244.66665649414062,"wires":[["9558ad39.1885e"]]},{"id":"53bdea54.d6c674","type":"play audio","z":"e6e5d1d5.e784b","name":"","x":773.2222290039062,"y":386.33331298828125,"wires":[]},{"id":"9558ad39.1885e","type":"change","z":"e6e5d1d5.e784b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":682.5555419921875,"y":310.4444274902344,"wires":[["53bdea54.d6c674"]]},{"id":"6b29d7f3.236c98","type":"function","z":"e6e5d1d5.e784b","name":"Set Payload for TTS","func":"// Default response if API changes how result is presented.\nmsg.payload = 'looks like the API has changed ';\nmsg.payload += 'Please content the flow developers ';\nmsg.payload += 'and let them know';\n\n// This is where the result was circa 24 Oct 2016\nif (msg.result \n        && msg.result.images\n        && msg.result.images.length){\n    \n    if (!msg.result.images[0].text \n            || 0 == msg.result.images[0].text.length) {\n        msg.payload = \"I didn't see any text\"; \n    } else {\n        msg.payload = msg.result.images[0].text;\n        // Strip line breaks\n        msg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\" \");\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":452.5,"y":180,"wires":[["a246dd06.2c6a1"]]}]
