starter-kits/accessibility/accessibility.json
[{"id":"13b822e6.2bda55","type":"change","z":"3fe4b821.75ec3","name":"","rules":[{"t":"move","p":"result.images[0].classifiers[0].classes[0].class","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":642.5,"y":184,"wires":[["57080cc0.45579c"]]},{"id":"99d276d7.3f3c8","type":"camera","z":"3fe4b821.75ec3","name":"","x":155.5,"y":131,"wires":[["4929f553.69ca0c"]]},{"id":"4929f553.69ca0c","type":"visual-recognition-v3","z":"3fe4b821.75ec3","name":"","apikey":"","image-feature":"","lang":"","x":326.5,"y":148,"wires":[["13b822e6.2bda55"]]},{"id":"57080cc0.45579c","type":"watson-text-to-speech","z":"3fe4b821.75ec3","name":"","lang":"","langhidden":"","voice":"","voicehidden":"","format":"audio/wav","password":"","x":850.5,"y":246,"wires":[["9a5a3c0d.b95218"]]},{"id":"90c58f78.bf6e1","type":"play audio","z":"3fe4b821.75ec3","name":"","x":1106.5,"y":354,"wires":[]},{"id":"9a5a3c0d.b95218","type":"change","z":"3fe4b821.75ec3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":991.5,"y":301,"wires":[["90c58f78.bf6e1"]]}]
