starter-kits/accessibility/accessibility.json
[{"id":"a4ec7475.8f4868","type":"camera","z":"9b37d008.01517","name":"","x":96.5,"y":134,"wires":[["e06525ec.a7c118"]]},{"id":"e06525ec.a7c118","type":"visual-recognition-v3","z":"9b37d008.01517","name":"","apikey":"e83fce7f6b6335bcf84a0f16b376914bebd0066c","image-feature":"recognizeText","lang":"","x":220.5,"y":245,"wires":[["51599c01.52dbd4"]]},{"id":"51599c01.52dbd4","type":"change","z":"9b37d008.01517","name":"","rules":[{"t":"move","p":"result.images[0].text","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":474.5,"y":308,"wires":[["c12d3c9c.9ee3f"]]},{"id":"78642ec0.e4905","type":"play audio","z":"9b37d008.01517","name":"","x":1109.5,"y":551,"wires":[]},{"id":"c12d3c9c.9ee3f","type":"watson-text-to-speech","z":"9b37d008.01517","name":"","lang":"en-US","langhidden":"en-US","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"11vhoxRnIhkO","x":699.5,"y":387,"wires":[["f7e7578b.5b57d8"]]},{"id":"f7e7578b.5b57d8","type":"change","z":"9b37d008.01517","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":892.5,"y":471,"wires":[["78642ec0.e4905"]]}]
