starter-kits/video_captioning/transcription.json
[{"id":"17939aec.5256d5","type":"watson-speech-to-text","z":"26d68001.8c6f","name":"","continuous":true,"lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"","password":"","x":720,"y":766,"wires":[["de699b66.0a9498"]]},{"id":"de699b66.0a9498","type":"change","z":"26d68001.8c6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":901,"y":766,"wires":[["c121d5c1.6a6e78"]]},{"id":"83489b96.0e2438","type":"link in","z":"26d68001.8c6f","name":"","links":["c121d5c1.6a6e78"],"x":477,"y":815,"wires":[["fd36148d.1fca98"]]},{"id":"c121d5c1.6a6e78","type":"link out","z":"26d68001.8c6f","name":"","links":["83489b96.0e2438"],"x":1024,"y":766,"wires":[]},{"id":"f52a3d95.3e9eb","type":"debug","z":"26d68001.8c6f","name":"","active":false,"console":"false","complete":"false","x":798,"y":815,"wires":[]},{"id":"fd36148d.1fca98","type":"function","z":"26d68001.8c6f","name":"append to global","func":"var transcription = [];\n\nif (global.get(\"transcription\")) {\n    transcription = global.get(\"transcription\");\n}\n\ntranscription.push({\n    text: msg.payload,\n    start: msg.timesplit[0],\n    end: msg.timesplit[1]\n});\n\nglobal.set(\"transcription\", transcription); \nreturn msg;","outputs":1,"noerr":0,"x":613,"y":815,"wires":[["f52a3d95.3e9eb"]]},{"id":"5c7d6945.10e4c8","type":"http in","z":"26d68001.8c6f","name":"","url":"/transcription","method":"get","swaggerDoc":"","x":108,"y":564,"wires":[["741613.6d1159ec"]]},{"id":"5821aa07.301604","type":"http response","z":"26d68001.8c6f","name":"","x":458,"y":564,"wires":[]},{"id":"741613.6d1159ec","type":"change","z":"26d68001.8c6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":301,"y":564,"wires":[["5821aa07.301604"]]},{"id":"fb8e5f53.3d163","type":"http response","z":"26d68001.8c6f","name":"","x":431,"y":641,"wires":[]},{"id":"ef00da17.cc21e8","type":"http in","z":"26d68001.8c6f","name":"","url":"/transcribe","method":"post","swaggerDoc":"","x":99,"y":641,"wires":[["6ac0d50d.859f8c"]]},{"id":"6ac0d50d.859f8c","type":"change","z":"26d68001.8c6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":278,"y":641,"wires":[["fb8e5f53.3d163","f9c5c4b8.68a318"]]},{"id":"f9c5c4b8.68a318","type":"ffmpeg-conversion","z":"26d68001.8c6f","name":"","format":"wav","x":471,"y":679,"wires":[["e9fa075b.876cd8"]]},{"id":"e9fa075b.876cd8","type":"ffmpeg-silence-detect","z":"26d68001.8c6f","name":"","noise":0.008,"duration":0.8,"x":471,"y":724,"wires":[["4cb656b4.de53e8"]]},{"id":"d2e36dba.a82b5","type":"ffmpeg-segment","z":"26d68001.8c6f","name":"","timeout":true,"x":540.5,"y":766,"wires":[["17939aec.5256d5"]]},{"id":"4cb656b4.de53e8","type":"function","z":"26d68001.8c6f","name":"average","func":"msg.times = [];\n\nfor (var i = 0; i < msg.silences.length; ++i) {\n    var s = msg.silences[i];\n    msg.times.push((s[1] - s[0]) / 2 + s[0]);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":378.5,"y":766,"wires":[["d2e36dba.a82b5"]]},{"id":"548963b1.ecea0c","type":"http in","z":"26d68001.8c6f","name":"","url":"/tv","method":"get","swaggerDoc":"","x":68,"y":488,"wires":[["cc3deb39.c1b528"]]},{"id":"42d51d80.b0f1f4","type":"http response","z":"26d68001.8c6f","name":"","x":562,"y":488,"wires":[]},{"id":"cc3deb39.c1b528","type":"http request","z":"26d68001.8c6f","name":"","method":"GET","ret":"txt","url":"https://raw.githubusercontent.com/ibm-early-programs/watson-tv/master/tv.html","tls":"","x":211.5,"y":488,"wires":[["ad0cbbbb.45e4f8"]]},{"id":"ad0cbbbb.45e4f8","type":"change","z":"26d68001.8c6f","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":395.5,"y":488,"wires":[["42d51d80.b0f1f4"]]},{"id":"44c8eaef.ca0794","type":"comment","z":"26d68001.8c6f","name":"Get UI from Github","info":"","x":108,"y":451,"wires":[]},{"id":"41a7a8fa.0be528","type":"comment","z":"26d68001.8c6f","name":"Get global context for latest translations","info":"","x":168,"y":528,"wires":[]},{"id":"6a0b0b2f.ac8b54","type":"comment","z":"26d68001.8c6f","name":"UI posts URL to perform ffmpeg functions","info":"","x":179,"y":604,"wires":[]}]
