starter-kits/video_captioning/translation.json
[{"id":"c6718d8e.2dd4c","type":"http in","z":"26d68001.8c6f","name":"","url":"/tv","method":"get","swaggerDoc":"","x":65,"y":69,"wires":[["bc67f526.887378"]]},{"id":"69f4cdc.0cf4234","type":"http response","z":"26d68001.8c6f","name":"","x":559,"y":69,"wires":[]},{"id":"bc67f526.887378","type":"http request","z":"26d68001.8c6f","name":"","method":"GET","ret":"txt","url":"https://raw.githubusercontent.com/annaet/watson-tv/master/tv.html","tls":"","x":208.5,"y":69,"wires":[["e55a4c88.14989"]]},{"id":"475b8500.1f617c","type":"watson-speech-to-text","z":"26d68001.8c6f","name":"","continuous":true,"lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"","password":"","x":715,"y":352,"wires":[["e7fd9d59.dd6b5"]]},{"id":"e7fd9d59.dd6b5","type":"change","z":"26d68001.8c6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":896,"y":352,"wires":[["8c92bba.620e248"]]},{"id":"4908a0a6.5081d","type":"link in","z":"26d68001.8c6f","name":"","links":["8c92bba.620e248"],"x":282,"y":401,"wires":[["744da3d7.48cfcc"]]},{"id":"8c92bba.620e248","type":"link out","z":"26d68001.8c6f","name":"","links":["4908a0a6.5081d"],"x":1019,"y":352,"wires":[]},{"id":"5c4aab30.134f24","type":"debug","z":"26d68001.8c6f","name":"","active":false,"console":"false","complete":"false","x":825,"y":401,"wires":[]},{"id":"c6795d1f.6f66b","type":"function","z":"26d68001.8c6f","name":"append to global","func":"var translation = [];\n\nif (global.get(\"translation\")) {\n    translation = global.get(\"translation\");\n}\n\ntranslation.push({\n    text: msg.payload,\n    start: msg.timesplit[0],\n    end: msg.timesplit[1]\n});\n\nglobal.set(\"translation\", translation); \nreturn msg;","outputs":1,"noerr":0,"x":640,"y":401,"wires":[["5c4aab30.134f24"]]},{"id":"b98a424c.1b3f7","type":"http in","z":"26d68001.8c6f","name":"","url":"/translation","method":"get","swaggerDoc":"","x":94,"y":147,"wires":[["7f47fed6.e2878"]]},{"id":"cb5f815a.75a1e","type":"http response","z":"26d68001.8c6f","name":"","x":437,"y":147,"wires":[]},{"id":"7f47fed6.e2878","type":"change","z":"26d68001.8c6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"translation","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":147,"wires":[["cb5f815a.75a1e"]]},{"id":"d2c981d0.52fa1","type":"http response","z":"26d68001.8c6f","name":"","x":426,"y":227,"wires":[]},{"id":"1a947d73.1bef13","type":"http in","z":"26d68001.8c6f","name":"","url":"/translate","method":"post","swaggerDoc":"","x":94,"y":227,"wires":[["4f157abf.bca7b4"]]},{"id":"4f157abf.bca7b4","type":"change","z":"26d68001.8c6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":273,"y":227,"wires":[["d2c981d0.52fa1","8cbacfc3.b2947"]]},{"id":"e55a4c88.14989","type":"change","z":"26d68001.8c6f","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":392.5,"y":69,"wires":[["69f4cdc.0cf4234"]]},{"id":"8cbacfc3.b2947","type":"ffmpeg-conversion","z":"26d68001.8c6f","name":"","format":"wav","x":466,"y":265,"wires":[["8e84595d.9a3df8"]]},{"id":"8e84595d.9a3df8","type":"ffmpeg-silence-detect","z":"26d68001.8c6f","name":"","noise":0.008,"duration":0.8,"x":466,"y":310,"wires":[["517395ca.cd74ac"]]},{"id":"e9cd79a9.dc9b58","type":"ffmpeg-segment","z":"26d68001.8c6f","name":"","timeout":true,"x":535.5,"y":352,"wires":[["475b8500.1f617c"]]},{"id":"517395ca.cd74ac","type":"function","z":"26d68001.8c6f","name":"average","func":"msg.times = [];\n\nfor (var i = 0; i < msg.silences.length; ++i) {\n    var s = msg.silences[i];\n    msg.times.push((s[1] - s[0]) / 2 + s[0]);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":373.5,"y":352,"wires":[["e9cd79a9.dc9b58"]]},{"id":"744da3d7.48cfcc","type":"watson-translate","z":"26d68001.8c6f","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"fr","password":"qGC56S0yr2kB","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","x":424.5,"y":401,"wires":[["c6795d1f.6f66b"]]},{"id":"4fb740d9.78205","type":"comment","z":"26d68001.8c6f","name":"Get UI from Github","info":"","x":104.5,"y":31,"wires":[]},{"id":"c4a133ef.40798","type":"comment","z":"26d68001.8c6f","name":"Get global context for latest translations","info":"","x":163.5,"y":109,"wires":[]},{"id":"7eeb3e16.80e53","type":"comment","z":"26d68001.8c6f","name":"UI posts URL to perform ffmpeg functions","info":"","x":174,"y":189,"wires":[]}]
