watson_advanced_labs/webcast_classifier_beta/images/wcc_phase1.json
[{"id":"f1ea8011.0e158","type":"watson-language-identification","name":"","x":710,"y":192,"z":"6ff9a6da.900658","wires":[["d60324c5.29fcd8"]]},{"id":"fa4a73b9.05b59","type":"watson-translate","name":"","srclang":"en","destlang":"en","domain":"conversational","x":527,"y":364,"z":"6ff9a6da.900658","wires":[["91531aa2.6eace8","30e3f6d5.cf1c0a"]]},{"id":"91531aa2.6eace8","type":"watson-personality-insights","name":"","x":802,"y":349,"z":"6ff9a6da.900658","wires":[[]]},{"id":"639f231.f9c60dc","type":"function","name":"Create url link","func":"var msg1,msg2;\nmsg1={};\nmsg2={};\n\nmsg1.payload=\"http://wncomplex.mybluemix.net/\"+msg.payload;\nmsg2.url=msg1.payload;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":287,"y":161,"z":"6ff9a6da.900658","wires":[["9e7d1411.6182e8"],["45528b5c.baad74"]]},{"id":"5df45aa3.a20ba4","type":"inject","name":"","topic":"","payload":"wc1","payloadType":"string","repeat":"","crontab":"","once":false,"x":112,"y":169,"z":"6ff9a6da.900658","wires":[["639f231.f9c60dc"]]},{"id":"4ffa01e4.b006","type":"inject","name":"","topic":"","payload":"apitestpage","payloadType":"string","repeat":"","crontab":"","once":false,"x":109,"y":125,"z":"6ff9a6da.900658","wires":[["639f231.f9c60dc"]]},{"id":"6ade79d1.952188","type":"inject","name":"","topic":"","payload":"wc2","payloadType":"string","repeat":"","crontab":"","once":false,"x":102,"y":207,"z":"6ff9a6da.900658","wires":[["639f231.f9c60dc"]]},{"id":"45528b5c.baad74","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":501,"y":188,"z":"6ff9a6da.900658","wires":[["f1ea8011.0e158"]]},{"id":"9e07e30c.61f82","type":"comment","name":"Website with test data","info":"","x":126,"y":72,"z":"6ff9a6da.900658","wires":[]},{"id":"9e7d1411.6182e8","type":"alchemy-feature-extract","name":"","apikey":"1b0bfda9f54943c66fac32f8c1a29ff25849785f","page-image":true,"image-kw":true,"feed":true,"entity":true,"keyword":true,"title":true,"author":true,"taxonomy":true,"concept":true,"relation":true,"pub-date":true,"doc-sentiment":true,"x":516,"y":100,"z":"6ff9a6da.900658","wires":[[]]},{"id":"d60324c5.29fcd8","type":"change","name":"","rules":[{"t":"set","p":"lang","to":"msg.lang"}],"action":"","property":"","from":"","to":"","reg":false,"x":288,"y":305,"z":"6ff9a6da.900658","wires":[["fa4a73b9.05b59"]]},{"id":"30e3f6d5.cf1c0a","type":"debug","name":"","active":true,"console":"true","complete":"payload","x":789,"y":399,"z":"6ff9a6da.900658","wires":[]}]