basic_examples/text_to_speech_custom/TTS_Flow.json
[{"id":"8cf7098.7b2e4f8","type":"inject","z":"b42a40c5.8ac36","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97,"y":118,"wires":[["3cde423c.f8deee"]]},{"id":"2bfa80df.03d898","type":"inject","z":"b42a40c5.8ac36","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":169,"wires":[["7e6c0df2.f34afc"]]},{"id":"6eb7d063.87ff08","type":"inject","z":"b42a40c5.8ac36","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":218,"wires":[["22104b5b.97845c"]]},{"id":"3cde423c.f8deee","type":"watson-text-to-speech-v1-query-builder","z":"b42a40c5.8ac36","name":"Create Customization","password":"","tts-lang":"en-US","tts-langhidden":"en-US","tts-custom-mode":"createCustomisation","tts-custom-model-name":"BluemixTTS","tts-custom-model-description":"BluemixTTS","tts-custom-id":"","tts-custom-word":"","x":280.5,"y":119,"wires":[["8db46577.8877a8"]]},{"id":"7e6c0df2.f34afc","type":"watson-text-to-speech-v1-query-builder","z":"b42a40c5.8ac36","name":"List Customizations","password":"","tts-lang":"es-LA","tts-langhidden":"","tts-custom-mode":"listCustomisations","tts-custom-model-name":"","tts-custom-model-description":"","tts-custom-id":"","tts-custom-word":"","x":269.5,"y":169,"wires":[["8db46577.8877a8"]]},{"id":"22104b5b.97845c","type":"watson-text-to-speech-v1-query-builder","z":"b42a40c5.8ac36","name":"Get Customization","password":"","tts-lang":"es-LA","tts-langhidden":"","tts-custom-mode":"getCustomisation","tts-custom-model-name":"","tts-custom-model-description":"","tts-custom-id":" ","tts-custom-word":"","x":271.5,"y":217,"wires":[["8db46577.8877a8"]]},{"id":"8db46577.8877a8","type":"debug","z":"b42a40c5.8ac36","name":"","active":true,"console":"false","complete":"true","x":534,"y":236,"wires":[]},{"id":"1d0ec112.563757","type":"fileinject","z":"b42a40c5.8ac36","name":"","x":100,"y":266,"wires":[["7dd68cf7.d2de64"]]},{"id":"216255c8.736622","type":"inject","z":"b42a40c5.8ac36","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":312,"wires":[["33bd930d.aed61c"]]},{"id":"7b3c0b9e.de042c","type":"inject","z":"b42a40c5.8ac36","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":360,"wires":[["311d3dfe.e17282"]]},{"id":"7dd68cf7.d2de64","type":"watson-text-to-speech-v1-query-builder","z":"b42a40c5.8ac36","name":"Add Words","password":"","tts-lang":"es-LA","tts-langhidden":"","tts-custom-mode":"addWords","tts-custom-model-name":"","tts-custom-model-description":"","tts-custom-id":" ","tts-custom-word":"","x":252,"y":264,"wires":[["8db46577.8877a8"]]},{"id":"33bd930d.aed61c","type":"watson-text-to-speech-v1-query-builder","z":"b42a40c5.8ac36","name":"Get Words","password":"","tts-lang":"es-LA","tts-langhidden":"","tts-custom-mode":"getWords","tts-custom-model-name":"","tts-custom-model-description":"","tts-custom-id":" ","tts-custom-word":"","x":254,"y":312,"wires":[["8db46577.8877a8"]]},{"id":"311d3dfe.e17282","type":"watson-text-to-speech-v1-query-builder","z":"b42a40c5.8ac36","name":"Delete Word","password":"","tts-lang":"es-LA","tts-langhidden":"","tts-custom-mode":"deleteWord","tts-custom-model-name":"","tts-custom-model-description":"","tts-custom-id":" ","tts-custom-word":"","x":253,"y":359,"wires":[["8db46577.8877a8"]]},{"id":"83fb955.391bb68","type":"inject","z":"b42a40c5.8ac36","name":"","topic":"","payload":"In my schedule today, I am taking my car into the garage and buying a bouquet of flowers to put in the vase,   If I get time I will visit the zoo to look at the zebras","payloadType":"str","repeat":"","crontab":"","once":false,"x":87,"y":423,"wires":[["53f022f6.3a6854"]]},{"id":"36fd2b9.3c20ad4","type":"inject","z":"b42a40c5.8ac36","name":"","topic":"","payload":"In my schedule today, I am taking my car into the garage and buying a bouquet of flowers to put in the vase,   If I get time I will visit the zoo to look at the zebras","payloadType":"str","repeat":"","crontab":"","once":false,"x":87,"y":475,"wires":[["9c80c081.19109"]]},{"id":"53f022f6.3a6854","type":"watson-text-to-speech","z":"b42a40c5.8ac36","name":"Without Customization","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","x":330,"y":423,"wires":[["2312e01b.7b6a5"]]},{"id":"9c80c081.19109","type":"watson-text-to-speech","z":"b42a40c5.8ac36","name":"WIth Customization","lang":"en-US","langhidden":"en-US","langcustom":" ","langcustomhidden":" ","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","x":318,"y":475,"wires":[["2312e01b.7b6a5"]]},{"id":"2312e01b.7b6a5","type":"function","z":"b42a40c5.8ac36","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":553,"y":446,"wires":[["45e938ae.1ddfc"]]},{"id":"45e938ae.1ddfc","type":"play audio","z":"b42a40c5.8ac36","name":"","x":751,"y":446,"wires":[]}]