basic_examples/text_to_speech_custom/TTS_Flow.json
[{
  "id": "8ced53d6.4a33e",
  "type": "inject",
  "z": "dad4f7be.438d58",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 106,
  "y": 56,
  "wires": [
    ["1332aaa0.953635"]
  ]
}, {
  "id": "9468895b.cf1088",
  "type": "inject",
  "z": "dad4f7be.438d58",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 105,
  "y": 116,
  "wires": [
    ["c114db36.499718"]
  ]
}, {
  "id": "5533aa66.168b34",
  "type": "inject",
  "z": "dad4f7be.438d58",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 105,
  "y": 176,
  "wires": [
    ["66af9ec6.d729d"]
  ]
}, {
  "id": "1332aaa0.953635",
  "type": "watson-text-to-speech-v1-query-builder",
  "z": "dad4f7be.438d58",
  "name": "Create Customization",
  "password": "",
  "tts-lang": "en-US",
  "tts-langhidden": "en-US",
  "tts-custom-mode": "createCustomisation",
  "tts-custom-model-name": "Custom01",
  "tts-custom-model-description": "",
  "tts-custom-id": "",
  "tts-custom-word": "",
  "tts-custom-format": "",
  "tts-voice-or-custom": "",
  "tts-voice": "en-US_AllisonVoice",
  "tts-voicehidden": "",
  "default-endpoint": true,
  "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
  "x": 301,
  "y": 56,
  "wires": [
    ["902642ce.65167"]
  ]
}, {
  "id": "c114db36.499718",
  "type": "watson-text-to-speech-v1-query-builder",
  "z": "dad4f7be.438d58",
  "name": "List Customizations",
  "password": "",
  "tts-lang": "es-LA",
  "tts-langhidden": "",
  "tts-custom-mode": "listCustomisations",
  "tts-custom-model-name": "",
  "tts-custom-model-description": "",
  "tts-custom-id": "",
  "tts-custom-word": "",
  "tts-custom-format": "",
  "tts-voice-or-custom": "",
  "tts-voice": "",
  "tts-voicehidden": "",
  "default-endpoint": true,
  "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
  "x": 290,
  "y": 116,
  "wires": [
    ["902642ce.65167"]
  ]
}, {
  "id": "66af9ec6.d729d",
  "type": "watson-text-to-speech-v1-query-builder",
  "z": "dad4f7be.438d58",
  "name": "Get Customization",
  "password": "",
  "tts-lang": "es-LA",
  "tts-langhidden": "",
  "tts-custom-mode": "getCustomisation",
  "tts-custom-model-name": "",
  "tts-custom-model-description": "",
  "tts-custom-id": "",
  "tts-custom-word": "",
  "tts-custom-format": "",
  "tts-voice-or-custom": "",
  "tts-voice": "",
  "tts-voicehidden": "",
  "default-endpoint": true,
  "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
  "x": 290,
  "y": 176,
  "wires": [
    ["902642ce.65167"]
  ]
}, {
  "id": "902642ce.65167",
  "type": "debug",
  "z": "dad4f7be.438d58",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "x": 579,
  "y": 208,
  "wires": []
}, {
  "id": "5effc132.6cd41",
  "type": "fileinject",
  "z": "dad4f7be.438d58",
  "name": "",
  "x": 106,
  "y": 235,
  "wires": [
    ["f5670163.afd4e"]
  ]
}, {
  "id": "f8608db2.603f9",
  "type": "inject",
  "z": "dad4f7be.438d58",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 105,
  "y": 296,
  "wires": [
    ["14337d1.95f6f83"]
  ]
}, {
  "id": "2227b82b.627dc8",
  "type": "inject",
  "z": "dad4f7be.438d58",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 105,
  "y": 357,
  "wires": [
    ["60d060a9.711ed"]
  ]
}, {
  "id": "f5670163.afd4e",
  "type": "watson-text-to-speech-v1-query-builder",
  "z": "dad4f7be.438d58",
  "name": "Add Words",
  "password": "",
  "tts-lang": "es-LA",
  "tts-langhidden": "",
  "tts-custom-mode": "addWords",
  "tts-custom-model-name": "",
  "tts-custom-model-description": "",
  "tts-custom-id": "",
  "tts-custom-word": "",
  "tts-custom-format": "",
  "tts-voice-or-custom": "",
  "tts-voice": "",
  "tts-voicehidden": "",
  "default-endpoint": true,
  "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
  "x": 269,
  "y": 235,
  "wires": [
    ["902642ce.65167"]
  ]
}, {
  "id": "14337d1.95f6f83",
  "type": "watson-text-to-speech-v1-query-builder",
  "z": "dad4f7be.438d58",
  "name": "Get Words",
  "password": "",
  "tts-lang": "es-LA",
  "tts-langhidden": "",
  "tts-custom-mode": "getWords",
  "tts-custom-model-name": "",
  "tts-custom-model-description": "",
  "tts-custom-id": "",
  "tts-custom-word": "",
  "tts-custom-format": "",
  "tts-voice-or-custom": "",
  "tts-voice": "",
  "tts-voicehidden": "",
  "default-endpoint": true,
  "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
  "x": 271,
  "y": 296,
  "wires": [
    ["902642ce.65167"]
  ]
}, {
  "id": "60d060a9.711ed",
  "type": "watson-text-to-speech-v1-query-builder",
  "z": "dad4f7be.438d58",
  "name": "Delete Words",
  "password": "",
  "tts-lang": "es-LA",
  "tts-langhidden": "",
  "tts-custom-mode": "deleteWord",
  "tts-custom-model-name": "",
  "tts-custom-model-description": "",
  "tts-custom-id": "",
  "tts-custom-word": "",
  "tts-custom-format": "",
  "tts-voice-or-custom": "",
  "tts-voice": "",
  "tts-voicehidden": "",
  "default-endpoint": true,
  "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
  "x": 278,
  "y": 357,
  "wires": [
    ["902642ce.65167"]
  ]
}, {
  "id": "6b80fd77.60d704",
  "type": "inject",
  "z": "dad4f7be.438d58",
  "name": "",
  "topic": "",
  "payload": "In my schedule today, I am taking my car into the garage and buying a bouquet of flowers to put in the vase. If I get time I will visit the zoo to look at the zebras",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 96,
  "y": 416,
  "wires": [
    ["f4cf12fa.b2a7c"]
  ]
}, {
  "id": "578ee3aa.5ee16c",
  "type": "inject",
  "z": "dad4f7be.438d58",
  "name": "",
  "topic": "",
  "payload": "In my schedule today, I am taking my car into the garage and buying a bouquet of flowers to put in the vase. If I get time I will visit the zoo to look at the zebras",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 96,
  "y": 476,
  "wires": [
    ["6cea037.8ab4efc"]
  ]
}, {
  "id": "f4cf12fa.b2a7c",
  "type": "watson-text-to-speech",
  "z": "dad4f7be.438d58",
  "name": "Without Customization",
  "lang": "en-US",
  "langhidden": "en-US",
  "langcustom": "NoCustomisationSetting",
  "langcustomhidden": "NoCustomisationSetting",
  "voice": "en-US_AllisonVoice",
  "voicehidden": "",
  "format": "audio/wav",
  "password": "",
  "payload-response": false,
  "default-endpoint": true,
  "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
  "x": 299.5,
  "y": 415,
  "wires": [
    ["6dae3792.0c9108"]
  ]
}, {
  "id": "6cea037.8ab4efc",
  "type": "watson-text-to-speech",
  "z": "dad4f7be.438d58",
  "name": "With Customization",
  "lang": "en-US",
  "langhidden": "en-US",
  "langcustom": "",
  "langcustomhidden": "",
  "voice": "en-US_AllisonVoice",
  "voicehidden": "",
  "format": "audio/wav",
  "password": "",
  "payload-response": false,
  "default-endpoint": true,
  "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
  "x": 290.5,
  "y": 476,
  "wires": [
    ["6dae3792.0c9108"]
  ]
}, {
  "id": "be004859.fd21d8",
  "type": "play audio",
  "z": "dad4f7be.438d58",
  "name": "",
  "voice": "",
  "x": 797.5,
  "y": 444,
  "wires": []
}, {
  "id": "6dae3792.0c9108",
  "type": "function",
  "z": "dad4f7be.438d58",
  "name": "Set msg.payload to msg.speech",
  "func": "msg.payload = msg.speech;\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 561.5,
  "y": 444,
  "wires": [
    ["be004859.fd21d8"]
  ]
}]
