basic_examples/concept_insights/concept-insights-upload-document-lab-2.json
[{"id":"546fa56.c86555c","type":"watson-concept-insights-corpus","z":"8c3d1526.943db8","cname":"mycorpus","access":"private","corpusmode":"user","publiccorpus":"TEDTalks"},{"id":"86ce9084.452cc","type":"dropbox","z":"8c3d1526.943db8","dropbox":"","filename":"","name":"Get text file from Dropbox","x":385,"y":250,"wires":[["19837725.6c0df9"]]},{"id":"e2102bd8.2d0e28","type":"inject","z":"8c3d1526.943db8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":149,"y":158,"wires":[["86ce9084.452cc"]]},{"id":"19837725.6c0df9","type":"watson-concept-insights-upload-document","z":"8c3d1526.943db8","name":"","corpus":"546fa56.c86555c","documentname":"Test Document","documentlabel":"This document is a test for the concept insights service","contenttype":"text/plain","x":700,"y":217,"wires":[]},{"id":"84f8f44c.425688","type":"inject","z":"8c3d1526.943db8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138,"y":379,"wires":[["b0c67d00.fcb01"]]},{"id":"b0c67d00.fcb01","type":"watson-concept-insights-search","z":"8c3d1526.943db8","name":"","corpus":"546fa56.c86555c","mode":"corpus","docapicall":"annotations","corpusapicall":"statistics","docname":"","query":"","x":408,"y":375,"wires":[["430d122.a496cec"]]},{"id":"430d122.a496cec","type":"debug","z":"8c3d1526.943db8","name":"","active":true,"console":"false","complete":"false","x":720,"y":413,"wires":[]}]