starter-kits/dashboard_translation/dashboard-translation-node.json
[{"id":"491e5378.91335c","type":"watson-translate-util","z":"133b6cc0.b77983","name":"LangugeTranslationUtility","x":330,"y":100,"wires":[["2abaa483.14b33c"]]},{"id":"2abaa483.14b33c","type":"function","z":"133b6cc0.b77983","name":"DropDownPopulation","func":"msg.options = msg.dropdown_object;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":100,"wires":[["6f2ce13.6ee272"]]},{"id":"6f2ce13.6ee272","type":"ui_dropdown","z":"133b6cc0.b77983","name":"DropDownObject","label":"Options","group":"364a8829.737318","order":3,"width":0,"height":0,"options":[],"payload":"","topic":"msg.topic","x":610,"y":200,"wires":[["cc88ca60.e91a98"]]},{"id":"cc88ca60.e91a98","type":"function","z":"133b6cc0.b77983","name":"Parse-LTU-Output","func":"var str = msg.payload;\n\nvar result = '';\nvar tmpvoid = 'void, void, void, empty';\nif (typeof str === \"object\") {\n        result= tmpvoid;\n} else {\n        result = str.split(\",\", 4);\n}\n\n\nglobal.set('g_domain', result[0].trim());\nglobal.set('g_src',result[1].trim());\nglobal.set('g_dest' ,result[2].trim());\nglobal.set('g_model_id' ,result[3].trim());\n\nmsg.domain = global.get('g_domain');\nmsg.srclang = global.get('g_src');\nmsg.destlang = global.get('g_dest');\nmsg.model_id = global.get('g_model_id');\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[[]]},{"id":"55f64237.69047c","type":"inject","z":"133b6cc0.b77983","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":90,"y":100,"wires":[["491e5378.91335c"]]},{"id":"2884ee63.dcaad2","type":"comment","z":"133b6cc0.b77983","name":"Getting the 'models' from Watson Language Translation ","info":"","x":340,"y":60,"wires":[]},{"id":"cfbe93f9.cc1a2","type":"watson-translate","z":"133b6cc0.b77983","name":"lt-01","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"fr","password":"MpFvrkuUxWwd","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams":"gparams","ldparamshidden":"on","lgparams2":false,"ldparamshidden2":"","x":470,"y":540,"wires":[["14e02a65.778a96","aaf721a6.a199e","b8dd81b4.de35c"]]},{"id":"14e02a65.778a96","type":"ui_text","z":"133b6cc0.b77983","group":"364a8829.737318","order":4,"width":0,"height":0,"name":"","label":"Output","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":540,"wires":[]},{"id":"1c0ab083.3375ef","type":"ui_text_input","z":"133b6cc0.b77983","group":"364a8829.737318","order":1,"width":0,"height":0,"name":"","mode":"text","delay":300,"label":"Input","topic":"","x":110,"y":540,"wires":[["3135b91f.7d7136"]]},{"id":"3135b91f.7d7136","type":"ui_button","z":"133b6cc0.b77983","name":"","group":"364a8829.737318","order":2,"width":0,"height":0,"label":"Trigger to translate","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":540,"wires":[["cfbe93f9.cc1a2"]]},{"id":"aaf721a6.a199e","type":"ui_toast","z":"133b6cc0.b77983","position":"top right","displayTime":"3","name":"","x":670,"y":600,"wires":[]},{"id":"b8dd81b4.de35c","type":"ui_ui_control","z":"133b6cc0.b77983","name":"ui control","x":660,"y":460,"wires":[[]]},{"id":"364a8829.737318","type":"ui_group","z":"","name":"Language Translation Dashboard Demo","tab":"b0f88b29.b66128","order":1,"disp":true,"width":"6"},{"id":"b0f88b29.b66128","type":"ui_tab","z":"133b6cc0.b77983","name":"Tab 1","icon":"dashboard","order":1}]